[2016-02-29 22:57] dmacvicar opened #1 "Allow to specify disks/storage for each domain"
Libvirt allows for almost unlimited flexibility when configuring a virtual machine.

For the context of terraform, I think it makes sense to support two use cases:

* An empty disk, used for storage
  * in this case terraform will create the volume and save the id/name, and destroy it together with the domain.
* A disk image (eg. OS), specifying a storage pool and a volume name
  * Additionally, s

[2016-02-29 23:20] dmacvicar opened #2 "We should wait until the domain is up"
Upon creation, we should wait that the domain is in state `RUNNING` and also may be wait that there are no pending jobs associated to it.

[2016-02-29 23:31] dmacvicar opened #3 "Use virDomainLookupByUUIDString for the resource ID"
Needs to be added to https://github.com/rgbkrk/libvirt-go first.
* https://github.com/rgbkrk/libvirt-go/pull/61

Instead of using the hypervisor ID.

* It is not hypervisor specific, which may be a good idea in order to move the connection URI to the resource itself in the future and allow migration of resources.
* No need to convert int <-> string

[2016-03-06 00:24] dmacvicar opened #4 "ssh key resources"
The main idea is to allow ssh key resources, and then locally assemble the cloud init metadata, wrap it into an iso and create a metadata volume for the instance resource uploading this created image.

cloud-init can use this disk as a metadata/userdata source to configure the ssh key.

[2016-03-06 00:26] dmacvicar commented on #2
I could not find how to find pending jobs, but now we wait until the machine is up.

[2016-03-06 00:26] #2 closed

[2016-03-07 20:57] dmacvicar opened #5 "Add progress to volume download/upload"
May be using https://gowalker.org/github.com/mitchellh/ioprogress

[2016-03-12 23:15] dmacvicar opened #6 "Cannot unlink file '/var/lib/libvirt/images/XXXXX': Permission denied"
* Probably related to https://bugzilla.redhat.com/show_bug.cgi?id=1293804
* Need to be tested in different libvirt versions (eg. Leap)
* For now we use workaround https://bugzilla.redhat.com/show_bug.cgi?id=1293804#c12
  * Does not solve the problem but it makes it happen less often (eg. "sometimes")

[2016-03-19 17:03] dmacvicar opened #7 "Allow to define network interfaces for a domain"
Mockup:

[code]

[2016-03-19 17:05] dmacvicar opened #8 "Allow to define networks resources"
No mockup yet...

[code]

[2016-03-19 17:05] dmacvicar commented on #1
Implemented since 34649d5fe59659c056ffe31b6d28ea50003caf3d

[2016-03-19 17:05] #1 closed

[2016-03-28 21:00] lfarnell opened #9 "Offering a helping hand"
Firstly, i just want to say i've been looking for a qemu provider for Terraform for some time now and you are a life saver! Now, i've never programmed in golang before so i wouldnt be of much help there, but if you can think of any other way i can help with this project(ie documentation, tutorials etc, by all means let me know. I would be more then happy to help.

[2016-04-05 09:25] mauromorales commented on #6
Tested by applying a volume and then destroying it on leap and didn't gave me an error but I wonder if it is necessary to use the volume before being able to reproduce. Here is my libvirt version

[code]

Also I remember having a similar issue when using pennyworth and making sure sure my libvirt.conf user and group matched with the `/var/lib/libvirt/qemu` owner.

[2016-04-05 10:03] mauromorales opened #10 "Unsupported machine type"
When running `terraform apply` with the example `libvirt.tf` I get the following error:

[code]

It seems to be caused because the defined machine `pc-i440fx-2.4` in `domain_def.go` is not there for the following libvirt version:

[code]

Changing the value to an existing machine fixes the problem as expected.

[2016-04-08 20:47] mikewaters commented on #10
I believe you need qemu 2.4 for the `pc-i440fx-2.4` machine type.

[2016-04-18 15:52] fisabelle opened #11 "[Domain-44] invalid argument: could not find capabilities for arch=x86_64 domaintype=kvm"
Hi.
I'm running my tests from a LVM VM and I don't have KVM nesting support.
It seems to me that I should use the QEMU emulation as reported by:
[terraform]$ virt-host-validate
  QEMU: Checking for hardware virtualization                                 : WARN (Only emulated CPUs are available, performance will be significantly limited)
  QEMU: Checking for device /dev/vhost-net

[2016-04-18 18:57] fisabelle commented on #11
root@vircentos7-48 ~]# virsh list
 Id    Name                           State
----------------------------------------------------
 7     terraform_test                 running
I got a little further with the qemu / pc machine type.

But even though the VM spawns, the I/O do not work.

[root@-48 ~]# virsh console terraform_test
Connected to domain terraform_test
Escape character is ^]
error: inter

[2016-04-18 19:18] fisabelle commented on #11
FYI.

I was able to get to the console with virt-viewer using the spice URI.
I'm not so sure why virt-manager and virsh console don't support that how of the box on RH7, they might be too old I guess. So now I'm down to the "unreadable boot disk message". Which make sense since I didn't set any disk image.

[2016-04-19 20:24] dmacvicar commented on #9
Thank you for your interest in the project. I started this to improve my skills in Devops tools and Golang at the same time.

You can make Pull Request with documentation improvements, open issues for features that you really miss from real-life usage (no "it would be cool to..." stuff), contribute examples, and make sure tests, examples and docs are up to date with the documentation. Just make ev

[2016-04-19 20:32] dmacvicar commented on #10
I want to keep this provider simple and not expose all qemu features into the configuration but to give a more "cloud" feel.
At some point I even thought about using the standard EC2/OpenStack machine sizes as shortcuts.

But what we can do is to use [`virConnectGetDomainCapabilities`](https://libvirt.org/html/libvirt-libvirt-domain.html#virConnectGetDomainCapabilities) to get the machine type of

[2016-04-19 21:22] #10 closed

[2016-04-19 21:26] dmacvicar commented on #11
Hi, thanks for your report! can you explain me what is a "LVM VM" ?

I just pushed a commit that does not force a certain machine type and architecture, but the provider still forces the `hvm` type.

Can you retry on master with a proper disk image to figure out if I should close this issue or not? Thanks again.

[2016-04-19 21:28] dmacvicar commented on #7
Implemented in 183b01cb73424cfb47065f49fd7e4f99aaa51797

[2016-04-19 21:28] #7 closed

[2016-04-19 21:29] dmacvicar commented on #9
Closing, see you in a future PR!

[2016-04-19 21:29] #9 closed

[2016-04-19 21:41] isabellf commented on #11
I meant a KVM virtual machine, so basically, my host machine is already a virtual machine.
Thank you, I might not be able to that in the short term though.

[2016-04-20 06:19] mauromorales commented on #10
Seems to work fine under Leap :)

[2016-04-20 06:25] dmacvicar commented on #10
great to hear that!

[2016-04-20 06:27] dmacvicar opened #12 ""count" example out of sync"
Needs to be updated with changes in commit 8496660254ab1bb662d5f257cdf8040d6b229eb3

[2016-04-21 19:34] fisabelle commented on #11
I was able to span the VM without changing the code.

[2016-04-21 19:34] #11 closed

[2016-04-21 19:58] fisabelle opened #13 "volume source does not accept dots in file name."
I don't know if the problem is in qemu, but using:

// Than you may define a template, this file is not modified
resource "libvirt_volume" "template7" {
  pool = "ram"
  name = "template7"
  source = "http://localhost:8000/centos7.std.base"
}

it gave me:

qemu-img: /home/vmstore/ramdisk/centos7vm1_mydisk: Could not open backing file: Could not open '/home/vmstore/ramdisk/centos7.base': No such fi

[2016-04-22 18:56] fisabelle commented on #8
Hum I see... this currently limit the usability of this project. I might be able to assist a little..

So when defining the network, it would also be important for me to be able to use bridge that weren't necessarily created by libvirt.

For instance in my current setup I have 1 manually defined bridge and the 'default' NAT bridge.
However, the net-list only shows the libvirt managed bridges:
[roo

[2016-04-23 10:18] dmacvicar commented on #8
Is the usecase of creating a network interface directly attached to a bridge a common scenario?

[code]

If I want my VMs to access a physical interface normally I create an interface attached to a network and I attach the network to a bridge (using the `bridge` element in the `network` [description](http://libvirt.org/formatnetwork.html) . That way I always think in term of networks.

[code]

Is

[2016-04-23 10:32] fisabelle commented on #8
I don't know, currently, when using virt-manager (1.2.1 on CentOS7) to create networks, it won't allow you to create the type of host-bridge network you refer to. So I end up following http://wiki.libvirt.org/page/Networking#Guest_configuration_2

If I can figure out how to set the host-bridge as a libvirt virtual network as you indicate, it would be ok for me.

[2016-04-23 20:06] #3 closed

[2016-04-29 17:55] johnavp1989 opened #14 "Define multiple disks"
Is this supported? I attempted this but it defines both disks as sda.

XML error: target 'sda' duplicated for disk sources

I'm trying to attach an Ubuntu cloud image and a config drive to a guest.

[2016-04-29 22:42] johnavp1989 commented on #14
The documentation suggests that multiple disks can be mounted:

But looking at the code it seems that sda is hard-coded.

`func newDefDisk() defDisk {
	disk := defDisk{}
	disk.Type = "volume"
	disk.Device = "disk"
	disk.Format.Type = "qcow2"

	disk.Target.Dev = "sda"
	disk.Target.Bus = "virtio"

	return disk
}`

If I knew the first thing about go I would attempt to fix this myself but I can't make

[2016-05-02 01:49] johnavp1989 commented on #14
I've made some progress on this in #15 but could use assistance.

[2016-05-03 18:42] fisabelle opened #16 "storage pool bug encountered"
I got this issue ( 1 time out of 3 maybe) when setting up 2 VMs
- libvirt_volume.centos7_vm_disk: Error refreshing pool for volume: [Code-1] [Domain-18] internal error: pool 'default' has asynchronous jobs running.

I wonder if you could make the provider a little more robust, with a few retries maybe, this is really a temporary failure I think and it seems related to an old libvirt bug.

[2016-05-04 21:49] dmacvicar commented on #14
Thanks, looks definitely a bug. I will look into it.

[2016-05-04 22:21] johnavp1989 commented on #14
Thank you. I did my best to try to implement it myself but I don't know what I'm doing when it comes to go  :smile:

[2016-05-04 22:23] dmacvicar commented on #14
Reproduced with a testcase

[code]

[2016-05-05 22:15] #14 closed

[2016-05-05 22:16] dmacvicar commented on #14
Give it a try now

[2016-05-05 22:17] dmacvicar commented on #14
Thanks a lot for your patch, it was much easier to understand the problem thanks to it!. This time I am using a different solution as we need to generate disk names, not partition names and I prefer to setup the name outside of the disk definition structs.

[2016-05-05 22:20] dmacvicar commented on #6
Seems to be fixed in libvirt 1.3.3 in Tumbleweed.

[2016-05-05 22:20] #6 closed

[2016-05-07 18:57] johnavp1989 commented on #14
Works like a charm. Thanks!

[2016-05-08 20:16] dmacvicar commented on #16
Did this one got fixed with https://github.com/dmacvicar/terraform-provider-libvirt/pull/17 ?

I am thinking about removing the refresh of the volume entirely. I added it to workaround a libvirt bug.

[2016-05-08 20:25] dmacvicar opened #18 "output ip address for interfaces (as output variables)"
When a VM is started, an output variable with every interface ip addresses should be set.

Requires some work in libvirt-go, being done here: https://github.com/dmacvicar/libvirt-go/tree/domain_iface_addr in order to add `virDomainInterfaceAddresses`.

The current idea is to set an option per network interface that allows to wait until that interface gets an ip address. Something like:

[code]

If

[2016-05-10 20:20] fisabelle opened #19 "error starting VM with a second disk"
Whenever I start a VM with more than 1 disk attached I get:

* libvirt_domain.centos6_vm1_domain: Error crearing libvirt domain: [Code-27] [Domain-20] XML error: target 'sda' duplicated for disk sources '/home/vmstore/images/centos6_vm1disk_44_data' and '/home/vmstore/images/centos6_vm1disk_44'

using libvirt-daemon-kvm-1.3.0-1.el7.x86_64

module.vm_dbs_redundant.libvirt_domain.centos6_vm1_domain:

[2016-05-10 22:24] dmacvicar commented on #18
Learned about `SetConnInfo`, I think this is the magic sauce.

https://github.com/hashicorp/terraform/blob/master/builtin/providers/google/resource_compute_instance.go#L719

[2016-05-10 22:26] dmacvicar commented on #19
This is a duplicate of issue #14 isn't it?

@fisabelle Can you test with a current checkout? Reopen if master does not fix it for you.

BTW, is it helpful if I start publishing binary builds?

[2016-05-10 22:26] #19 closed

[2016-05-11 00:18] fisabelle commented on #19
Thanks @dmacvicar it works with the latest from master. Sorry about the duplicate.
I don't know if a binary is needed. I don't mind rebuilding. But some official "release" when a few interesting bug fix make their way could be nice.

[2016-05-11 07:13] dmacvicar commented on #19
@fisabelle I think only one important feature is missing which is the ip address so that the provisioners work automatically. Lets do a 0.1 release after I get that done.

[2016-05-17 01:37] johnavp1989 commented on #16
This does not appear to have been fixed. I encounter this error more times than not when deploying 3 VM's in parallel. Re-running terraform apply almost always fixes it. On one occasion I've had to apply 3 times.

[2016-05-17 01:44] johnavp1989 commented on #18
This would be a nice feature. I'm currently assigning static IP's via cloud-init but this would potentially make DHCP a much better option. No need to assign a specific MAC for DHCP reservation when the IP is available as a variable.

[2016-05-17 07:17] dmacvicar opened #21 "Support for uploading images from local files"
Only http remote resources are supported right now.

https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/libvirt/resource_libvirt_volume.go#L107
https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/libvirt/resource_libvirt_volume.go#L174

It should be trivial given that we use io.Copy, but we need to abstract the code path to get the size and then open the buffer tha

[2016-05-19 16:24] dmacvicar commented on #18
I have it already implemented and working in this branch https://github.com/dmacvicar/terraform-provider-libvirt/tree/connect_ip_address :

![screenshot from 2016-05-17 00-25-45](https://cloud.githubusercontent.com/assets/15332/15401180/aa058d38-1dee-11e6-87f6-2eac93f126d9.png)

But I can't merge it into master yet. It lacks:

* Documentation
* To figure out how to test it
* Upstreaming a patch to

[2016-05-19 18:41] dmacvicar commented on #16
Yes, this is because I added workaround code in one place but I do a pool refresh in two places.

I will fix it soon. I need to investigate a bit if there is something more elegant than blindly retry, like get the amount of jobs for the pool first.

[2016-05-19 22:20] dmacvicar commented on #18
The current implementation waits for addresses (from the libvirt lease) on all defined interfaces. This allow the provider to set the ip information when applying the plan, otherwise applying the plan may end before the network interface gets an ip address.

You say until now you were using another method (cloud-init) to assign an address. I think it makes then sense to not wait for libvirt leases

[2016-05-20 01:54] johnavp1989 commented on #18
Agreed. I wouldn't want this to be a default behavior. In my use case it would only add unnecessary delay.

[2016-05-21 23:18] #18 closed

[2016-05-21 23:31] #16 closed

[2016-05-21 23:42] #12 closed

[2016-05-22 21:58] #21 closed

[2016-05-23 14:17] johnavp1989 opened #22 "Can't compile from latest master branch"
Attempted to recompile against the latest master and got the following errors:

libvirt/resource_libvirt_domain.go:212: domain.ListAllInterfaceAddresses undefined (type libvirt.VirDomain has no field or method ListAllInterfaceAddresses)
libvirt/resource_libvirt_domain.go:212: undefined: libvirt.VIR_DOMAIN_INTERFACE_ADDRESSES_SRC_LEASE
libvirt/resource_libvirt_domain.go:239: undefined: libvirt.VIR_

[2016-05-24 17:53] fisabelle commented on #22
You need the updates libvirt-go

[2016-05-24 19:40] fisabelle opened #23 "false positive in network_interface change detection forcing rebuild of domain"
Hi.

Since I pulled that latest master this morning, I no longer see storage pool issues.

However, even if I don't make any change to the network_interface data., the provider always sees:

    network_interface.#:                "0" => "1" (forces new resource)
    network_interface.0.address.#:      "" => "<computed>"
    network_interface.0.mac:            "" => "52:54:00:A1:A3:61" (forces new

[2016-05-25 15:36] dmacvicar commented on #22
Yes, I keep my fork of libvirt-go in sync with this project.

[2016-05-25 15:42] dmacvicar commented on #23
Can you share your `.tf` file?

[2016-05-25 16:01] fisabelle commented on #23
The only thing I describe in the network interface is the network and the mac

  network_interface {
    network = "host-bridge2"
    mac= "52:54:00:A1:A3:${var.vnfc1_mac}"
  }
==

here is a sample:

resource "libvirt_domain" "centos7_vm1_domain" {
  name = "centos7_vm_domain_${var.vnfc1_mac}"
  vcpu = 2
  memory = 2048

  disk {
     volume_id = "${libvirt_volume.centos7_vm1_disk.id}"
  }

  netw

[2016-05-25 16:11] fisabelle commented on #23
I see the terraform.tfstate does no include the resources previously defined:

 "resources": {
                "libvirt_domain.centos7_vm1_domain": {
                    "type": "libvirt_domain",
                    "depends_on": [
                        "libvirt_volume.centos7_vm1_disk"
                    ],
                    "primary": {
                        "id": "4007b631-5ba3-4b41-aead

[2016-05-25 18:46] johnavp1989 commented on #22
Durp... got it. Thank you.

[2016-05-25 18:46] #22 closed

[2016-05-26 21:51] #23 closed

[2016-05-26 21:52] dmacvicar commented on #23
Ok, should be fixed now. The way terraform handles values that are not part of the living infrastructure is still a bit blur to me. I now set `mac` as computed + optional and `wait_for_lease` is passed *as is* on domain `read`.

[2016-05-27 14:25] fisabelle commented on #23
It's a blur to me too, but I'm not sure it's working yet.

When I run the initial apply I get:
module.vm_xsa_single.libvirt_volume.centos7_vm_disk: Creating...
  name:   "" => "centos7_vm_disk_76"
  pool:   "" => "ram"
  size:   "" => "<computed>"
  source: "" => "http://localhost:80/images/centos7.base"
module.vm_xsa_single.libvirt_volume.centos7_vm_disk: Creation complete
module.vm_xsa_single.li

[2016-05-27 22:50] dmacvicar commented on #23
Did you start everything from scratch? eg. without the `.tfstate` files after recompiling/reinstalling the provider?

[2016-05-28 05:19] fisabelle commented on #23
Yes. But I will give it another try.
Le 27 mai 2016 18:50, "Duncan Mac-Vicar P." <notifications@github.com> a
écrit :

[2016-05-29 15:57] dmacvicar commented on #23
The bug (well, one of them) was that after creating the resources from the `.tf` file, we usually read all back from libvirt. I did not store `wait_for_lease` in the state file so that is why it may not work with a previous state.

[2016-06-02 14:53] fisabelle opened #24 "cpu-model selection"
I just realized that my terraform VM are now spawned with the emulator CPU type.
I tried to figure out how to make qemu/libvirt use 'host-model' as default to workaround that.
My VM are very slow at performing key computations right now.
Do you have any workaround for that or plan to support specifying it ?

[2016-06-02 15:31] fisabelle commented on #24
I found out that with libvirt 1.3 I can use:
 -device virtio-rng-pci
to supply a hardware random number generator to the VM.
Anyway to specify some devices within the terraform resources would be appreciated.

[2016-06-06 22:18] flavio commented on #8
JFYI, I'm working on this topic together with @inercia. We want to be able to define a "network" resource using NAT + DHCP and be able to specify static DHCP entries. I'll keep you posted.

[2016-06-06 22:22] inercia commented on #8
... it would be something like [this](https://github.com/inercia/libvirt-go/commit/f40d7c2b2a79fb0b1f4b615b796be66ee2a438c0), probably with also a `RemoveHost`...

[2016-06-07 15:48] dmacvicar commented on #8
@inercia @flavio I don't think you need to AddHost/Remove host. Generating the right xml for the network resource may be suficient.

Using the Add/Remove functions becomes useful if you want to implement a very granular ResourceUpdate.

Do you need to add and remove hosts after you define the resource?

[2016-06-07 17:14] fisabelle commented on #8
FYI.

Currently, my workaround is to set the mac address in the resource and define a static DHCP mapping on the bridge network. This allows be to use a corresponding known IP addresses.

network_interface {
    network = "host-bridge2"
    mac= "52:54:00:A1:A3:60"
  }

  connection {
   host = "10.9.64.60"
  }

so whatever you do, as long as I can still use my method, I'll be ok.

[2016-06-08 07:58] inercia commented on #8
Well, our plan was to define a _network_ resource and then connect each domain to it. Something like this:

[code]

For doing so, we would need first to create a basic network (with the help of _libvirt-go_ and a XML description) and then add one by one all the network interfaces, and this part need that level of granularity...

[2016-06-16 16:18] flavio commented on #4
I'm working on it

[2016-06-19 11:19] dmacvicar commented on #24
@fisabelle What do you mean with emulator CPU type? Can you paste the `ps` output that shows the qemu command line libvirt is using?

[2016-06-29 08:47] flavio commented on #4
I think this can now be closed.

[2016-06-30 15:31] flavio opened #46 "RFC: revisit how disks are added to domains"
## The current state

Right now to add a disk to a domain we must:
1. declare a volume
2. create a disk entry linked with the volume
## The problems

These are the minor issues/annoyances:
- accidentally sharing a volume between different domains
- using `count` on a domain introduces quite some complexity: you have to use `count` also inside of the volume definition and you have to be careful whe

[2016-07-01 05:37] moio commented on #46
I am not sure what you mean here. In our project we taint the disk whenever we change the domain or the disk, and that actually triggers the rebuild of both the disk and the domain, which makes total sense given Terraform concepts. Eg.:

[code]

We use Salt for provisioning so it is safe to execute provisioners multiple times. So if we change the domain (eg. change the amount of RAM) the provision

[2016-07-01 08:07] flavio commented on #46
This is a command you issue by hand. I was talking about extending the `update` function of the domain to taint also all the ephemeral disks. Unfortunately it looks like there's no way to do that from the code.

When using terraform against a cloud you don't have to do this extra step because the volume is a "built-in" attribute of the instance (like CPU/RAM). Hence a rebuild of the instance will

[2016-07-11 22:15] dmacvicar commented on #46
I do agree this is a tricky issue and at some point I thought about making the full disk definition part of the domain.

I am not completely against it, but I don't see yourself convinced about this being the right solution either.

If there is a way that we can reuse part of the code from the volume handling and that is more or less elegant I would be ok on allowing the volume definition to be "e

[2016-07-30 01:34] johnavp1989 opened #54 "Feature Request: Target Multiple Hypervisors"
Currently the uri of the hypervisor is defined in the provider block. Since terraform only allows one provider per config it's not possible to target more than one hypervisor.

[code]

This feature would make it possible to deploy multiple VM's across multiple hosts with a single apply operation. This is especially useful for clustered applications such as Kubernetes.

[2016-08-04 13:44] monstermunchkin opened #56 "update version of terraform dependency"
In order for this provider to work with the newest release of Terraform, the dependency in the `vendor.yml` needs to be updated to `v0.7.0`. I will create a PR which resolves this issue, if that's OK.

[2016-08-04 14:01] flavio commented on #56
Sure, go ahead

[2016-08-05 07:46] #56 closed

[2016-08-05 20:16] monstermunchkin opened #58 "excluded vendor directory"
Is there any reason the vendor directory is excluded? Most, if not all, go projects include the vendor directory in their projects. This would also make packaging easier on some distributions.

[2016-08-08 07:05] flavio commented on #58
That was discussed here https://github.com/dmacvicar/terraform-provider-libvirt/pull/27

As you can see we settled on this approach for now.

[2016-08-08 07:05] #58 closed

[2016-08-09 12:08] jdnieto opened #60 "Asignation of cloud-init iso fails"
When cloud-init iso is created, the volume is defined with Type "qcow2" instead of "raw".
I've created a PR [#59](https://github.com/dmacvicar/terraform-provider-libvirt/pull/59) to solve this issue.

[2016-08-09 12:22] flavio commented on #60
Merged, thanks!

[2016-08-09 12:22] #60 closed

[2016-08-09 13:03] jdnieto opened #61 "Network: adresses not assigned to VM"
When _**network_interface**_ is defined is supposed to be statically assigned an IP with _**addresses**_ key and a list of IPs.
[code]

When _**terraform apply**_ is launched the IP for the VM is retrieved via DHCP and is different from the one defined in _**addresses**_

[2016-08-10 07:31] jdnieto opened #63 "Include provisioner remote-exec"
There will bee a good option to enhance next version with terraform provisioner remote-exec.
I think will be easy than configure multiple options in libvirt_cloudinit resource.

[2016-08-10 12:36] flavio commented on #61
Thanks again for the fix

[2016-08-10 12:36] #61 closed

[2016-08-27 14:24] toddnni commented on #54
To my understanding you can have multiple providers by defining multiple provider blocks with different alias names. See https://www.terraform.io/docs/configuration/providers.html

I think I have even tested this in past.

[2016-08-27 14:33] toddnni commented on #63
You can use `remote_exec { }` block inside any resource, but if provider doesn't provide IP you need assign it in `connection { }` block. I have done it with my custom provider. Sorry, I don't know this provider well enough yet, but though that this might be helpful.

[2016-09-06 15:39] fisabelle commented on #24
Hi.
This is what is being used:

 /usr/libexec/qemu-kvm -name centos7_vm_domain_78,debug-threads=on -S -machine pc-i440fx-rhel7.2.0,accel=kvm,usb=off -m 4096 -realtime mlock=off -smp 2,sockets=2,cores=1,threads=1 -uuid 692e3a40-54e3-4921-a27e-77e943ea58e4 -no-user-config -nodefaults -chardev socket,id=charmonitor,path=/var/lib/libvirt/qemu/domain-54-centos7_vm_domain_78/monitor.sock,server,nowait

[2016-09-08 10:22] tboerger opened #64 "Cloudinit requires local_hostname field"
but the docs are mentioning it as optional.

[code]

[2016-09-09 07:34] #4 closed

[2016-09-11 09:52] dguitarbite opened #65 "Second VM always fails to start, but starts if tried manually using `virsh`"
If I am provisioning multiple VM's, the first one boots as expected but the second VM throws an error by default:
[code]

I tried manually starting the VM's using virsh and it gracefully boots. I swapped the order and confirmed that it is the second VM. I tried multiple copies of the same VM and the same error again.

libvirt.tf:
[code]

It could potentially be the issue where this plugin is tryin

[2016-09-12 08:35] dguitarbite commented on #65
It seems to be running as expected on openSUSE-Leap. I am out of distros at present. I am not sure if it is the way I configured Arch, other deployment frameworks that I use seem to run fine though.

[2016-09-14 11:34] dguitarbite opened #66 "Limited options for cloud-init"
It would be great to have cloud-init option to inject custom scripts in the cluster. Right now that is not supported and it gets difficult to predict the IP addresses for the VM's in case of a dynamic cluster.

[2016-09-16 22:45] dmacvicar commented on #8
I think this one can be closed already.

[2016-09-16 22:45] #8 closed

[2016-09-17 19:01] laycat commented on #64
This is a bit of a frustration: I'm using a common cloud-init resource to set the ssh key across domains. As a workaround for now, I've commented out the hostname declarations for cloud-init and rebuilt.

I've not explored this plugin too much so I can't assess the impact of removing the require for now, but I might get my hands dirty and do this "soon"

[2016-09-17 19:04] laycat commented on #65
FWIW I can't reproduce this: terraform successfully creates the domains and both run successfully. @dguitarbite did you resolve your issue, or is it persisting for you?

[2016-09-17 19:06] dguitarbite commented on #65
It is pending but only for archlinux. I tried tuning libvirt but it does
not help (allowing more parallel requests to libvirt etc.). Although it
works fine on openSUSE. I will try debugging this issue one more time and
close the issue here. May be we could make a note somewhere for the same.

On Sep 17, 2016 9:04 PM, "Andrew Tumelty" <notifications@github.com> wrote:

[2016-09-18 08:41] dguitarbite commented on #65
@laycat I think there is something missing from this provider. What I can conclude from monitoring the process after `$ terraform apply` command is that the libvirt domain creation tries to create the domain with same spice endpoint ``<ip_addr>:<port>``. This causes a conflict in case of existing domain with same endpoint, libvirt returns an error which is most probably not being handled properly.

[2016-09-18 08:41] #65 closed

[2016-09-18 14:27] laycat commented on #65
Thanks for the update @dguitarbite, and apologies, my previous comment was anything but clear: that test was on Fedora 23 (with the idea of trying to isolate this to Arch).

I've since recreated this in an Arch environment: I'm convinced this is a valid bug but I'm not sure where it belongs (yet). Some analysis:

Currently the domain definition contains a set entry for spice: https://github.com/dm

[2016-09-18 16:06] dguitarbite commented on #65
No worries, thanks for the updates.

I agree. I can confirm that this issue is not due to libvirt or qemu.

Yes, although I was wondering if we could save the state at this point with
the domain state as shutoff or running:false. Then trying to launch the
domain(s). Another idea is to add parallel option where it tries domain
creation in parallel or in a sequence.

Thanks I will use this build.

I

[2016-09-19 07:14] tboerger commented on #64
I don't think that it got any downsides to make the hostname optional as stated in the docs. But maybe @flavio knows more about it since he has written the cloud-init integration?

[2016-09-19 07:33] flavio commented on #64
I don't actually remember why I didn't make the hostname optional. I cannot see any downside in allowing that.

BTW, it would also be nice to revisit how the cloudinit resource is defined. It would be probably easier/more flexible to implement something like https://www.terraform.io/docs/providers/template/d/cloudinit_config.html

[2016-09-23 14:35] cyphar opened #67 "Failed apply doesn't clean up domains"
On my machine `terraform apply` fails pretty often, and when `terraform apply` fails the domains that failed to set up are "stopped" but are not "undefined". So subsequent `apply`s will fail because the domains already exist. Is there a way for us to do cleanup when apply fails?

[2016-09-25 09:16] xenolog commented on #54
This way is lead to one more complicated problem -- what about networks.
IMHO if we have able to use multiple hypervisors, we should provide transparent networking for instances, running on different hypervisors. Also we should able to define hypervisor which will be used for start instances.

It looks like one provider with a list of hypervisors uri should be better.

[2016-09-26 07:40] mssola commented on #65
For reference, I'm using openSUSE Tumbleweed and I encountered this same issue. The "solution" was downgrading libvirt from 2.2 to 1.2.18 (the version I had installed before upgrading to 2.2). In openSUSE Leap, the version is still 1.2.18, so there shouldn't be any issues there.

[2016-10-08 21:04] flavio commented on #63
`remote-exec` is already working with this provisioner. I'm closing this issue, please re-open if I didn't get what you mean.

[2016-10-08 21:04] #63 closed

[2016-10-10 15:45] inercia commented on #54
I think this would add a lot of complexity just for saving some extra `terraform apply`s. I think it is not really worth.

[2016-10-13 06:57] moio opened #74 "`Network not found` error in refreshing state"
**Reproducer**:
- create a managed network ([sample main.tf](https://gist.github.com/moio/893989f6209ae2c4106c59e61a481f49))
- `terraform apply`
- delete the network manually: `virsh net-destroy mynetwork; virsh net-undefine mynetwork`
- `terraform apply`

**Expected result**: the network is re-created.

**Actual result**:

[code]

**Workaround**: `terraform state rm libvirt_network.network`

[2016-10-13 07:42] MalloZup commented on #67
encountered same issue :(

[2016-10-13 07:43] #67 closed

[2016-10-13 08:46] MalloZup opened #75 "remote libvirt URI, terraform cant' find storage pool 'default'"
# How to reproduce

1) Using the  https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/examples/count/libvirt.tf

Change the uri to a remote kvm/libvirt server.,
[code]
### terraform plan
[code]

### terraform apply
[code]
#### Remarks:

so i think the problem is with the **disk/volume** in a remote scenario URI.

I did a test, with the "minimal example" here :
https://github.com/dm

[2016-10-15 07:32] moio opened #76 "Add support for managed storage pools"
Currently storage pools are left to be managed manually, it would be good to have them managed through the plugin.

[2016-10-15 07:34] moio commented on #75
@MalloZup, please check that your remote libvirt host does have a "default" storage pool.

[Storage pools](https://github.com/dmacvicar/terraform-provider-libvirt/issues/76) are not managed by this plugin yet so they must be managed manually until support is added.

[2016-10-15 09:05] MalloZup commented on #75
@moio ok thx i will check it out, and add it manually . :+1:

[2016-10-15 19:16] #64 closed

[2016-10-15 19:16] flavio commented on #54
I agree with @inercia, closing.

[2016-10-15 19:16] #54 closed

[2016-10-15 19:17] flavio commented on #24
I think this bug can be closed, the latest code adds a virtio random generator to all the domains.

[2016-10-15 19:17] #24 closed

[2016-10-15 19:18] flavio commented on #5
I looked a bit into that, it looks like this is not possible because terraform takes full control of the stdout/stderr preventing the progressbar from being shown.

I someone else has any idea about how to circumvent this limitation...

[2016-10-15 19:19] fisabelle commented on #24
That's excellent! I'll try it as soon as possible.

Le 15 oct. 2016 3:17 PM, "Flavio Castelli" <notifications@github.com> a
écrit :

[2016-10-16 13:37] dmacvicar commented on #5
Well, we could still send a log message every eg. 5% right?

[2016-10-18 02:23] fisabelle commented on #24
Tried it today. works well for me, thank you.

2016-10-15 15:18 GMT-04:00 François Isabelle <francois.isabelle75@gmail.com>
:

[2016-10-22 21:52] dmacvicar commented on #76
I don't think destroying pools is a common use-case outside of development/testing, but I think adding support for this is very self-contained.

[2016-10-23 07:09] dmacvicar commented on #76
Ok, now I remember why it was intentionally left out. Pools can be of various types: dir, fs, netfs, disk, iscsi, logical, scsi, and every type has different attributes. The original intention of this provider was to mimic a "cloud" environment and avoid exposing all libvirt features and become a HCL -> XML 1:1 mapping.

So supporting pools means you have to expose all functionality, or restrict y

[2016-10-24 09:10] moio opened #79 "Add volume_attachment resources or equivalent"
I want to create a libvirt domain with a variable number of attached volumes (case in point is one main disk always present, and one optional data disk).

Currently this is not possible in any way I tried. Although the `disk` attribute looks like a map it cannot be passed parameters (the following does not work):

[code]

Where `var.disks` is a map with a `volume_id` key and a correct id value. In

[2016-10-24 09:25] inercia commented on #79
Maybe we can find a solution in the context proposed in #46 ...

[2016-10-24 11:56] moio commented on #79
@inercia I do not think this is related.

Besides the fact [I would agree with closing #46](https://github.com/dmacvicar/terraform-provider-libvirt/issues/46#issuecomment-229858075) the RFC is about embedding parameters for the ephemeral, "must-have" OS basic volume in the domain resource, while this is about extra "data" disks which might or might be there - hence in variable quantity.

[2016-10-24 12:24] inercia commented on #75
So I guess we can close this bug, as we currently do not manage volumes... Please feel free to reopen it if you think something is broken on the libvirt driver.

[2016-10-24 12:24] #75 closed

[2016-10-24 12:35] inercia commented on #76
I don't know if managing pools could be considered part of the typical use case, so I think I agree with @dmacvicar: I wouldn't include all the logic for managing pools unless it is really necessary.

[2016-10-24 13:15] moio commented on #79
My proposal would be to add a `disk_ids` list in the domain resource, which could be populated via variables or interpolation.

This could even supersede the current `disk` variable, unless there is a reason I cannot see for keeping one map object instead of a plain id.

@flavio, @dmacvicar?

[2016-10-24 13:16] moio commented on #76
OK, I agree to close this issue for now.

[2016-10-24 13:16] #76 closed

[2016-10-28 07:55] MalloZup opened #82 "[Network] Error defining libvirt network: [Code-9] [Domain-19] operation failed: network 'terraform-network' already exists"
## Description:

When the network managed by terraform exists already, and you want to spawn machines with terraform-libvirt, you get an error:

[code]

**machines are are setup correctly and network is ok**
## How to reproduce:

Take a main.tf from sumaform: https://github.com/MalloZup/sumaform/blob/master/main.tf.libvirt-testing.example

[2016-10-31 14:48] moio commented on #79
Note this comment about `disk_ids` not being the right way to address this: https://github.com/dmacvicar/terraform-provider-libvirt/pull/81#issuecomment-257312643

[2016-10-31 17:33] moio commented on #79
Asked [HashiCorp](https://github.com/hashicorp/terraform/issues/9747) if this is a core issue or by design.

[2016-10-31 20:16] tboerger commented on #79
I would take other providers as a template, Scaleway got a comparable approach.

[2016-10-31 21:12] moio commented on #79
OK, seems it's possible to fix this on our side, accepting maps and not objects for the `disk` block. This would be completely backwards compatible and would allow interpolations/variables to work in the most flexible way.

https://gitter.im/hashicorp-terraform/Lobby?at=581793b5806316005dde1c80
https://github.com/hashicorp/terraform/blob/master/builtin/providers/heroku/resource_heroku_app.go#L111

[2016-11-02 07:48] moio commented on #79
Correct solution should be, from my point of view, https://github.com/dmacvicar/terraform-provider-libvirt/pull/83

[2016-11-02 09:49] moio commented on #79
PR merged, closing.

[2016-11-02 09:49] #79 closed

[2016-11-11 01:59] adamcstephens opened #84 "Creating multiple domains with count fails due to spice port already in use"
Terraform file:  https://gist.github.com/adamcstephens/7e56423ccceb3e1f3c0d808eb7cb8c59

(Ignore my serialconsole parameter, you'll be getting a PR for that. :)

[code]

[2016-11-22 09:39] inercia opened #85 "Establish IP addresses once they are assigned"
When using managed networks we can currently specify the IP address manually, or let `dnsmasq` get an IP from the DHCP pool automatically. The problem with the automatic assignation is that it does survive reboots, so clusters can get messed up easily.

We could add an option (or do it automatically) for _a)_ getting  the IP address assigned by `dnsmasq` to the VM and _b)_ add the _IP-MAC_ mapping

[2016-11-22 11:00] flavio commented on #85
I think this is the wrong solution to our internal problem. I've already some work in progress to switch our k8s configuration from using IP to using hostnames. Hostnames are always resolved, despite the cluster/dnsmasq being rebooted.

I would close this issue unless you think that's not a good workaround.

[2016-11-22 11:17] inercia commented on #85
The problem is that hostnames cannot always be used. For example, when configuring `etcd` in a kubernetes cluster, we should set something like `ETCD_LISTEN_CLIENT_URLS="http://10.17.3.166:2379"`, but this IP address, `10.17.3.166`, will not neccessarily be assigned to the `etcd0` host after a reboot, so the whole cluster would not come up... we are forced to use `ETCD_LISTEN_CLIENT_URLS="http://0

[2016-11-25 16:36] flavio opened #87 "Establish a version"
Right now this project is totally unversioned. I think it's time for us to start to tag each significant release. This will make packaging easier on our side, will make it easier to understand which version is in place and will be more respectful of the human civilization.

I propose to start with version `0.1.0`.

@inercia, @dmacvicar, @moio: what do you think about it?

[2016-11-25 21:35] moio commented on #87
Additionally I would remove the EXPERIMENTAL tag from the project's title.

This might not be finished or super stable, but it's definitely useful and beyond the "experiment" phase by now IMO.

[2016-11-28 11:54] MalloZup opened #88 "libvirt_volume.main_disk: Can't retrieve volume xxx"
## How-to-reproduce:

clone sumaform
Take the main.tf-libvirt-testing example.
[code]
run it 3/4 times.  ( 2 times will fail with error :
[code]
This issue block the provissioning and for production or dayly work is annoyng, because we have to reapply terraform apply.

I cannot sadly determine the cause of this issue, the disk created is there but terraform fails to retrieve it.
It's a race condit

[2016-11-28 14:29] moio opened #89 "Hostname or IP as an output of domain"
A domain's IP/hostname might not be known before the resource is created, for example if bridged networking is used with an external DHCP.

libvirt knows though - possibly through the qemu guest agent - can we make this an output of the domain resource for later use?

[2016-11-28 14:30] flavio commented on #85
As agreed we are going to solve this issue in a different way inside of our k8s-terraform project.

[2016-11-28 14:30] #85 closed

[2016-12-12 10:46] inercia commented on #89
Not sure if this is what you mean, but Terraform knows about all the IP addresses in the cluster, so you can just use the `output` statement:

[code]

[2016-12-12 10:49] inercia commented on #82
In your opinion what would be the expected behaviour?

[2016-12-12 11:04] MalloZup commented on #82
@inercia  imho the expected behaviour should be to not have an error.

[2016-12-12 11:39] inercia commented on #82
@MalloZup Correct me if I'm wrong, but I think we will always get an error when a resource that is expected to be managed by Terraform already exists, right? For example, if a VM is already there, Terraform will abort the whole execution, and that is the reeason why, if you want to import some existing infrastructure, you should use the [import command](https://www.terraform.io/docs/import/)...

F

[2016-12-13 13:32] inercia commented on #89
Look at the `tfstate` and the `terraform state` command. In my example, `libvirt_domain.salt.network_interface.0.addresses.0` is just the path to a leaf in the JSON contained in the state file...

[2016-12-13 14:37] moio commented on #89
Addressed in #90

[2016-12-13 14:37] #89 closed

[2016-12-14 22:42] MalloZup commented on #82
@inercia discusssing it, i think that is an issue  only when you do not think in terraform way and you have not much exp with the tool. I think we can close and concentrate to others stuff. When you have time, please check the other issue wirh disks. Feels free to ping me if you need explanations

[2016-12-14 22:42] #82 closed

[2016-12-14 22:43] MalloZup commented on #88
Doing 2 times terraform apply workarounds the problem

[2016-12-16 13:55] mssola commented on #87
I agree. We should tag `0.1.0` and remove the `EXPERIMENTAL` tag.

[2016-12-16 14:00] dmacvicar commented on #87
Removed the experimental tag and warnings.

Do we agree to use semver?

[2016-12-31 13:27] deasmi opened #92 "Problem creating bridged network"
[code]

gives the following libvirt error

[code]
I've been looking at the source but sadly do not know go very well ( at all ) so haven't got very far.
I am assuming i need to pass an empty NAT block but can't work out the format ?
Documentation is not very forthcoming on NAT, so I'll volunteer to update or add some examples.

Thanks

[2016-12-31 17:35] deasmi commented on #92
I now understand why this is happening.
The default XML for a network includes

[code]
Which won't work for bridge connection.

#93 is an extremely naive attempt by me to fix this. It does cause the network to be created but terraform crashes out. This is not beyond my current ability in go or terraform to diagnose.

And its new years eve.

[2017-02-14 01:02] rsokolkov opened #97 "Issues with Apparmour on Ubuntu 16.04. Permission denied"
Hello, thanks for your work.

I'm trying to create VM with volume and network, but following getting error:
[code]

Root cause was in Apparmor:
[code]
Libvirt for some reason didn't mention disk files in apparmor configuraion for this VM (Same happens with qemu-monitor device also). Other VMs (not managed by Terraform) work fine and have appropriate permissions in Apparmor. Checked on multiple hos

[2017-02-17 15:42] rsokolkov opened #99 "Network in nat mode keeps recreating"
This behavior only for nat mode. e.g. "none" mode works fine.

[code]

Terraform file
[code]

Plugin built from aeaee868666a6017b9bd0539c618711c4d15ea0d
Terraform v0.8.6
Libvirt version 1.3.1-1ubuntu10.7

[2017-02-17 16:30] rsokolkov commented on #99
I should use ["10.30.0.0/24"] instead of ["10.30.0.1/24"]. Updated docs, because it was not clear

[2017-02-23 15:52] inercia commented on #99
I guess this was closed by #101, but please reopen otherwise...

[2017-02-23 15:52] #99 closed

[2017-02-23 15:54] inercia commented on #66
I agree, we should at least allow a `user_data` for passing raw cloud-init config...

[2017-02-24 08:28] rsokolkov commented on #97
This was already mentioned in docs. Issue can be closed.

https://github.com/dmacvicar/terraform-provider-libvirt/commit/22f096d9

[2017-02-24 08:28] #97 closed

[2017-03-06 12:04] inercia opened #109 "Implement If-Modified-Since when downloading images"
Our HTTP client currently downloads the image specified on `source` even when the image in the server is the same as a local copy previously downloaded.

For ths case where a local copy is already in the pool, we could perform the HTTP request with the [`If-Modified-Since`](https://developer.mozilla.org/es/docs/Web/HTTP/Headers/If-Modified-Since) header (using the [modification time](https://golan

[2017-03-06 12:30] MalloZup commented on #109
@inercia good idea

[2017-03-09 19:49] MalloZup commented on #87
We can close this?

[2017-03-10 10:54] flavio commented on #87
Nope, until we tag a release. Maybe we can do that after closing the open PRs

[2017-03-13 20:47] MalloZup commented on #13
I tried it out to reproduce this bug, without success.
For me the bug/Issue is **invalid**

This is not an issue on dot on names.

All tests i did worked fine, with dots.

First i did:
[code]

then:

[code]

For me, after researching looks like a permission issue:

googling simple the err-code:
https://forum.opennebula.org/t/could-not-open-backing-file/1504

At least is not a dot issue on name fil

[2017-03-13 21:26] MalloZup commented on #92
@deasmi  so your fix got merged. can we close the issue?

[2017-03-15 13:54] #13 closed

[2017-03-22 13:44] rsokolkov opened #118 "Provider ignores"
#  Version Reports:

### Distro  version of host:

``` openSUSE 42.2/ Centos7/ Ubuntu.. ```

### Terraform Version Report
(Provided by running `terraform -v`.)

### Libvirt version

```virsh --version```

### terraform-provider-libvirt plugin version (git-hash)

``` git log```
___
# Description of Issue/Question

### Setup
(Please provide the full **main.tf** file for reproducing the issue (Be sur

[2017-03-22 14:02] r7vme opened #119 "Provider ignores "running" parameter for domain"
#  Version Reports:

### Distro  version of host:

Ubuntu 14.04

### Terraform Version Report

v0.8.6

### Libvirt version

1.3.1

### terraform-provider-libvirt plugin version (git-hash)

a07e21b74726d9ce443ac9332417c169b2ccd708
___
# Description of Issue/Question
Despite "running = false" domain always running.

### Setup
[code]

### Steps to Reproduce Issue
1) Create file with state above
2) te

[2017-03-22 15:14] #118 closed

[2017-03-26 09:38] fvhovell opened #120 "Crash on apply of libvirt_domain"
#  Version Reports:

### Distro  version of host:

``` Ubuntu 16.04.2 ```

### Terraform Version Report

```Terraform v0.9.1```

### Libvirt version

```1.3.1```

### terraform-provider-libvirt plugin version (git-hash)

[code]

___
# Description of Issue/Question

On applying the libvirt_domain config terraform crashes (but the VM is actually running fine, including networking):
[code]

### Setup

[2017-03-29 16:15] #66 closed

[2017-04-07 23:22] inercia opened #121 "Crash on destroy"
#  Version Reports:

### Distro  version of host:

openSUSE 42.2

### Terraform Version Report

Terraform v0.8.8

### Libvirt version

2.0.0

### terraform-provider-libvirt plugin version (git-hash)

``` git log```
___
# Description of Issue/Question

Got this panic:

[code]

[2017-05-02 08:43] flavio opened #123 "Vendor dependencies with vndr and commit them to master"
We finally agreed to commit all the dependencies to git using the [vndr](https://github.com/lk4d4/vndr) tool.

[2017-05-03 09:42] #123 closed

[2017-05-12 13:03] beddari commented on #123
Nice, happy for you, hardest part of this is actually doing SOMETHING :) so congrats.

[2017-05-17 21:14] italomaia commented on #5
Does any other provider manage to do this? Why not mimic other plugin?

[2017-05-18 11:52] electrofelix opened #126 "Using disk type file instead of type volume would fix apparmor permissions"
#  Version Reports:

### Distro  version of host:

```Ubuntu 16.04 ```

### Terraform Version Report
Terraform v0.8.8

### Libvirt version

```1.3.1```

### terraform-provider-libvirt plugin version (git-hash)

[code]
___
# Description of Issue/Question

Use of disk type volume in the domain XML definition prevents virt-aa-helper from being able to determine the correct file path that should be ad

[2017-05-19 02:43] gtirloni opened #127 "volume source is not downloaded directly by target server"
### Distro  version of host:
CentOS 7.3

### Terraform Version Report
Terraform v0.9.6-dev (adfa7aedfbde60a79ab07455cf20947585d6d647)

### Libvirt version
3.2.1

### terraform-provider-libvirt plugin version (git-hash)
bb20e1a40689b4c1e33faf52ee69c2d1d9f20ae8
___
# Volume source is not downloaded directly from target server

When a volume source is specified, the libvirt provider seems to try to f

[2017-05-26 10:11] #109 closed

[2017-05-30 07:13] flavio commented on #127
This is done by design. To achieve what you wrote you should put the `CentOS-7-x86_64-GenericCloud.qcow2` into a pool known by libvirt and then define the volume inside of terraform as:

[code]

This will create a `test.qcow2` disk based on the CentOS image.

[2017-05-30 07:13] #127 closed

[2017-05-30 07:15] flavio commented on #126
Can you show the terraform definition used?

[2017-05-30 10:20] gtirloni commented on #127
Sorry, I hadn't realized that. Thank you!

[2017-06-13 19:22] josephholsten opened #131 "consider moving to terra-farm or core?"
I don't know if libvirt is ready to start joining core, but if it is I'd like to help with the process.

If we want to not actually be in core, some folks are putting together an org like [sous-chefs](https://github.com/sous-chefs) does for chef cookbooks. Then maintainers can help each other out reviewing, merging and releasing changes. The main advantage is having more than one maintainer who ca

[2017-06-16 16:07] mwillsher opened #135 "User-data not set in state"
User-data appears empty in the state output, destroying and installation causes repeated attempts to destroy user-data that is not present.

#  Version Reports:

### Distro  version of host:

``` MacOS 10.12.5 ```

### Terraform Version Report
Terraform v0.9.8

### Libvirt version

```3.4.0```

### terraform-provider-libvirt plugin version (git-hash)

```919ee121eb8230f479d72ebd1fe527f532c1de48```

[2017-06-19 19:13] flavio commented on #131
I personally think this is an exciting idea.

IMHO the code needs some refactoring and we have to tag an initial release of the project before joining.

What do the others think about it?

[2017-06-20 04:22] andersla opened #138 "Documentation?"
___
# Description of Issue/Question
It looks like a really interesting project and I would like to test it for my setup of a KVM machine. Is there some documentation about how to configure the provider?

[2017-06-20 07:10] flavio commented on #138
What a nice coincidence, last night I figured out how to build nice docs like the one from the terraform official website. I plan to work on that during my spare time.

In the meantime you can find [docs](https://github.com/dmacvicar/terraform-provider-libvirt/tree/master/docs/providers/libvirt) and [examples](https://github.com/dmacvicar/terraform-provider-libvirt/tree/master/examples) inside of

[2017-06-20 11:35] andersla opened #139 "Build instructions"
___
# Description of Issue/Question

OS: Ubuntu 16.04
go version go1.8.1 linux/amd64
glide version v0.12.3

I am trying to build on Ubuntu 16.04 but I have no experience in using go or glide. Simply issuing the command `go install` as stated in build instructions does not produce a binary:-)
This is the output:
[code]

[2017-06-20 12:49] MalloZup commented on #139
@andersla , you want to build from src or use the plugin?

 if you want to just use and install the terraform-libvirt, take
inspiration from this:

https://github.com/moio/sumaform#installation

[2017-06-21 10:42] MalloZup commented on #88
@inercia  @moio
here we have the log with debug enabled:

https://gist.github.com/MalloZup/0413641e9f350d22f225f0982f577fef

Looking at this debug, to me it looks like the issue is that terraform want to use the volume, but the volume is not there, and the plugin says "it's created".

cloning ```https://github.com/moio/sumaform```
Here what i used  as tf.file

[code]

So here we create the disks,

[2017-06-21 11:08] MalloZup commented on #88
this is a invalid issue, due to uncorrect use of the plugin. thx for support, closing

[2017-06-25 08:14] andersla commented on #139
I got it working - I just had to get into golang a little bit:

Here are some extended build instructions (Ubuntu 16.04):

- Install go (I preferred this instead of apt-package):  https://golang.org/doc/install
- Verify install: `go version`
- clone repo into  into:  `$GOPATH/src/github.com/dmacvicar/terraform-provider-libvirt`
- Install non-go dependencies (pkg-config, libvirt-dev): `sudp apt-get

[2017-06-25 08:20] andersla commented on #138
I think it was because I missed the "r" subdirectory: https://github.com/dmacvicar/terraform-provider-libvirt/tree/master/docs/providers/libvirt/r

[2017-06-25 09:20] andersla opened #141 "pty serial console is needed for ubuntu cloud image to boot"
# Description of Issue/Question

If you are using an Ubuntu 16.04 or Ubuntu 17.04 cloud-image, a serial console is needed to be defined in your domain block for virtual machine to boot OK.

In the libvirt-domain resource, make sure you have a console block:

[code]

My OpenSuse and CentOS cloud-image are booting ok without this console added.

[2017-06-27 13:23] dmacvicar commented on #131
I am more in favour of identifying the cleanups needed to be in core more than an extra project.

If this umbrella would be already something active and popular, I would see things differently. At least, there is more than one person with commit access to the repo already so maintainers are not the problem.

[2017-06-27 22:30] josephholsten commented on #131
@dmacvicar totally understand. If there's anything I can do to help, do let me know.

One of the things I'm working on is regularly running acc tests for some providers. I can't tell from the Travis.yml, is libvirt running acc tests on every pr? Or just unit?

I don't know if there's any other shared resources we could use, but let me know if you think of anything.

[2017-06-28 13:52] flavio commented on #131
The acceptance tests are run on each PR together with the unit tests. (See https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/.travis.yml#L28)

[2017-06-28 19:09] kopwei opened #142 "Qemu VM failed to start with ignition configured"
#  Version Reports:

### Distro  version of host:

Ubuntu 16.04/16.10/17.04

### Terraform Version Report
v0.10

### Libvirt version

2.1.0

### terraform-provider-libvirt plugin version (git-hash)
8b8c66e3bd53aeab3806179aefaec2b453dbd4ad

___
# Description of Issue/Question
Qemu failed to start with ignition configured.
Error log:
Error applying plan:

1 error(s) occurred:

* libvirt_domain.coreo

[2017-06-29 09:43] dmacvicar commented on #131
BTW providers were already deleted from core,
https://github.com/hashicorp/terraform/commit/1ab40eae3532d285ec94bfbf20a5d62ffc1f9d63

and there is a project here:
https://github.com/terraform-providers

I think we should try to move there.

[2017-06-30 10:23] inercia opened #143 "Use libvirt-go-xml for marshalling/unmarshalling libvirt's XML"
We could use https://github.com/libvirt/libvirt-go-xml for doing all the marshalling/unmarshalling of _libvirt_'s XML.

[2017-07-03 12:28] monstermunchkin commented on #143
I can have a look at that.

[2017-07-03 13:26] flavio commented on #143
Sure, I started to look into that for fun. There are some things that are not exposed by the xml bindings, I fear because they are not really needed to create an object.

Spoiler alert: this is not going to be fun :)

[2017-07-11 01:18] josephholsten commented on #131
@dmacvicar absolutely! Would someone like to open an issue in hashicorp/terraform for this? Hopefully, it'll just involve a code review pass and then be migrated.

[2017-07-11 08:37] momania commented on #139
I'm trying to build it on OS X (10.11.6), but get the following error running `go build` (go1.8.3 darwin/amd64):
[code]

Any hint as to what might be wrong in my setup?

[2017-07-12 16:20] grahamhayes opened #145 "Using cloud-init resources breaks on subsequent apply runs"
#  Version Reports:

### Distro  version of host:

``` openSUSE 42.2 ```

### Terraform Version Report
`Terraform v0.9.4`

### Libvirt version

```2.0.0```

### terraform-provider-libvirt plugin version (git-hash)

[code]
___
# Description of Issue/Question

When rerunning `terraform apply` on a terraform stack that includes a `cloud-init` resource will cause the state to become corrupted.

### Se

[2017-07-15 11:03] flavio commented on #143
Assigning to @monstermunchkin who is already working on that.

[2017-07-15 11:04] flavio commented on #143
Ops, I spoke too early... @dmacvicar can you add @monstermunchkin as a contributor for this repository?

[2017-07-15 11:11] flavio commented on #138
I'm working on this topic by:
  * Changing the existing documentation to use the same style as upstream
  * Revamp the contents
  * Add more examples (I've already quite of them on my laptop, I just have to clean them up and add them).

[2017-07-15 11:12] flavio commented on #131
These are the things I would like to see done before moving to https://github.com/terraform-providers:

  * Code cleanup:
     * Drop all the XML definitions by switching to the official `libvirt-go-xml` project. Tracked by issue https://github.com/dmacvicar/terraform-provider-libvirt/issues/143
     * Code refactoring of big functions, for example split the domain [resourceLibvirtDomainCreate fun

[2017-07-15 11:17] simonswine commented on #145
I am seeing exactly the same

* latest master of terraform-provider-libvirt
* Ubuntu 16.04
* Terraform v0.9.10

[code]

That's my error on the second apply: https://gist.github.com/simonswine/17273d199265cd4769e2baf59abb9621

Once I use an empty user_data the cloudinit resource isn't regenerated at the next apply:
[code]

[2017-07-27 12:59] #143 closed

[2017-08-01 08:55] irfanhabib opened #151 "Crash when destroying depoyment"
#  Version Reports:

### Distro  version of host:

``` openSUSE 42.2 ```

### Terraform Version Report
Terraform v0.9.4

### Libvirt version

```virsh --version```
2.0.0
### terraform-provider-libvirt plugin version (git-hash)

Installed through YAST version: 0.0.0+git20170702.612d0af3-1.2
___
# Description of Issue/Question

### Setup
Deploying CAASP (https://github.com/inercia/caasp-tf).
See the

[2017-08-01 16:43] kpettijohn opened #152 "Question: libvirt_ignition on Redhat 7.3"
#  Version Reports:

### Distro  version of host:

``` Redhat 7.3```

### Terraform Version Report
Terraform `v0.9.11`

### Libvirt version

[code]

### terraform-provider-libvirt plugin version (git-hash)

`78341e5971cac8f23e7c36321180a71ee6816131`
# Description of Issue/Question

### Setup

Overall this is more of a question than a issue. I am attempting to use the ignition resource but it seems

[2017-08-02 19:56] monstermunchkin commented on #139
Closing this issue since it has been solved/answered.

[2017-08-02 19:56] #139 closed

[2017-08-02 20:02] monstermunchkin commented on #141
IMHO this can be closed since it's neither an actual issue nor a question. Feel free to reopen if needed.

[2017-08-02 20:02] #141 closed

[2017-08-07 15:52] monstermunchkin commented on #120
I cannot reproduce this bug on `master`, and the log shows that the problem originates from `libvirt-go` so this might not be fixable by us. However, it might be related to libvirt/libvirt-go#15 which has been fixed upstream.

I'm closing this since it probably has been fixed already. Feel free to reopen this issue if it occurs again.

[2017-08-07 15:52] #120 closed

[2017-08-08 07:26] #151 closed

[2017-08-08 07:40] #74 closed

[2017-08-08 09:31] #135 closed

[2017-08-08 09:31] #145 closed

[2017-08-08 15:35] monstermunchkin commented on #142
Is this still an issue? I cannot reproduce this issue on openSUSE Tumbleweed with libvirt 3.5.0. There's coreos/bugs#2083 which might be related.

[2017-08-10 13:50] grahamhayes opened #160 "Networks are always re-created"
#  Version Reports:

### Distro  version of host:

``` openSUSE 42.2 ```

### Terraform Version Report

`Terraform v0.9.4`

### Libvirt version

```2.0.0```

### terraform-provider-libvirt plugin version (git-hash)

[code]
___
# Description of Issue/Question

### Setup
https://github.com/kubic-project/automation/blob/master/caasp-kvm/cluster.tf

### Steps to Reproduce Issue
`terraform apply`
`terr

[2017-08-10 13:53] grahamhayes commented on #160
Looks like it was introduced in f6a859c2f91d3adef137270879e936271adaaf01

[2017-08-10 14:11] #160 closed

[2017-08-18 09:01] deasmi commented on #92
@MalloZup Please do, sorry missed your reply

[2017-08-18 09:07] MalloZup commented on #92
@deasmi thx, no pb

@flavio @moio  i would propose to close this . ( pinging moio since this is ref. on sumaform)

[2017-08-18 09:07] #92 closed

[2017-09-02 15:30] rj-reilly opened #169 "fails to build on ubuntu 17.05"
#  Version Reports:

### Distro  version of host:

```ubuntu 17.04 ```

### Terraform Version Report
Terraform v0.10.2

### Libvirt version

2.5.0

### terraform-provider-libvirt plugin version (git-hash)

8d2b4a3f51b20837238386785431eff3129bd716
___
# Description of Issue/Question

fails to build on ubuntu 17.04, I installed libvirt and it's libs
[code]
libvirt is clearly installed
[code]

[2017-09-03 20:47] jfgibbins opened #170 "libvirt_network, OVS support"
Testing libvirt_network with the following:
[code]
fails with the following message:
[code]
No bridge named patch exists in libvirt, but is the name of the bridge on openvswitch.  If I change the name, I can get it to run, and virsh net-dumpxml pfSense provides following:
[code]

I'll assume that is what's expected, but not what is wanted.  What I need is to be able to create the following:
[code]

[2017-09-03 20:48] jfgibbins commented on #170
And someone please tell me how to get that stupid markdown to not screw up my plain text.

[2017-09-03 21:51] rj-reilly commented on #169
this issue is missing the libvirt-dev package on ubuntu

[2017-09-03 21:51] #169 closed

[2017-09-03 21:51] jfgibbins opened #171 "Video option"
[code]

Generates error and will not start, but going into virt-manager, changing video from Cirrus to QXL and container boots successfully.  There was also a device called qemu-ga, but no idea what that even is, deleted as well from config.

[2017-09-03 21:52] rj-reilly opened #172 "./main.go:12: cannot use "github.com/dmacvicar/terraform-provider-libvirt/libvirt""
#  Version Reports:

### Distro  version of host:

```ubuntu 17.04 ```

### Terraform Version Report
Terraform v0.10.2

### Libvirt version

2.5.0

### terraform-provider-libvirt plugin version (git-hash)

8d2b4a3f51b20837238386785431eff3129bd716
___
# Description of Issue/Question

fails to build on ubuntu 17.04, I installed libvirt and it's libs
[code]

[2017-09-06 00:46] hexfusion commented on #172
@rj-reilly this is how I build it
[code]
which should put your binary here.
[code]
I can replicate that error if I issue `go build` in the package.

-HTH

[2017-09-06 00:55] hexfusion commented on #171
Try defining graphics few options that have worked for me.
https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/website/docs/r/domain.html.markdown#graphics-devices
[code]

[code]
-HTH

[2017-09-06 01:06] jfgibbins commented on #171
the options you listed are for VNS vs.SPICE, but not the actual graphics hardware for the guest, but thanks

[2017-09-06 07:50] flavio commented on #170
I fixed the formatting, it's a matter of using \`\`\` properly ;)

[2017-09-08 17:52] deasmi opened #178 "Travis tests are failing"
Seems package name for qemu has changed to qemu-system-core

Submitted #177 to fix

[2017-09-15 08:48] #178 closed

[2017-09-15 09:28] monstermunchkin commented on #172
I cannot reproduce this issue on Ubuntu 17.04 with Terraform 0.10.2, go 1.8, and libvirt 2.5.0. Also, `go build` works fine for me.

Were you able to figure this out or is it still an issue?

[2017-09-15 11:34] rsjethani opened #186 "not waiting for DHCP IP lease even after specifying `wait_for_lease = true`"
#  Version Reports:

### Distro  version of host:

```Ubuntu 16.04 ```

### Terraform Version Report
```Terraform v0.10.2```

### Libvirt version

```1.3.1```

### terraform-provider-libvirt plugin version (git-hash)

``` git log```
___
# Description of Issue/Question

### Setup

[code]

### Steps to Reproduce Issue
$ terraform init
$ terraform plan
$ terrafom apply

___
# Additional Infos:
The sa

[2017-09-15 12:48] monstermunchkin commented on #171
Feel free to send a pull request adding the video option.

[2017-09-15 12:53] monstermunchkin commented on #142
Closing this due to no response. Feel free to reopen the issue if needed.

[2017-09-15 12:53] #142 closed

[2017-09-15 14:21] jfgibbins commented on #171
I would, but I'm not a programmer.  Do not pass go, and do not collect $200.

[2017-09-15 14:23] deasmi commented on #171
I am working on some vnc additions so I'll see if I can include this. No promises however.

[2017-09-15 14:40] jfgibbins commented on #171
@deasmi Always appreciated.  It's on my list to start learning go, but currently working on a lot of "infrastructure as code".  Once I get that done, I might have a few working brain cells left to start learning something new.

[2017-09-15 14:53] hexfusion commented on #172
FWIW @monstermunchkin I can confirm that this works fine for me now as well.  The error I made in replicating the issue was not issuing building within $GOPATH which is required for Glide to work properly. @rj-reilly ?

[2017-09-15 15:46] hexfusion opened #189 "question: Release tasks?"
I know this has been asked before but I feel the milestones are not reflecting what needs to be done for a release. I would like to help what is required for a proper release?

https://github.com/dmacvicar/terraform-provider-libvirt/milestones

[2017-09-15 16:12] hexfusion commented on #170
@jfgibbins I am going to take a crack at this one.

[2017-09-15 16:19] jfgibbins commented on #170
@hexfusion  Very cool, let me know if you need any information.

[2017-09-15 16:45] flavio commented on #189
Sure, feel free to propose your ideas here.

[2017-09-16 19:58] bhechinger opened #192 "Can't build on Ubuntu 17.04"
#  Version Reports:

### Distro  version of host:

```Ubuntu 17.04```

### Terraform Version Report
```Terraform v0.10.5```

### Libvirt version

```2.5.0```

### terraform-provider-libvirt plugin version (git-hash)

```23635373aed10aab286a2436459670b686b581bb```
___
# Description of Issue/Question

### Setup
fetch terraform-provider-libvirt from github (and place in your GOPATH)

### Steps to Rep

[2017-09-17 02:17] jfgibbins commented on #192
@bhechinger I ran into this same issue the other day.  I believe the fix was apt-get install libvirt-dev.

[2017-09-17 14:55] bhechinger commented on #192
That was exactly it. I'll go ahead and close this so that the next person who runs into this finds this answer.

@jfgibbins Thanks!

[2017-09-17 14:55] #192 closed

[2017-09-18 11:28] deasmi commented on #171
Can we add this to 0.1 ?

[2017-09-18 19:58] deasmi opened #194 "Support go 1.9 to allow building with latest terraform"
For 0.1 shouldn't we ensure that we can build with 1.9 as well as 1.8 ?

[2017-09-18 22:00] rj-reilly commented on #172
that worked, I am new to GO so i appreciate the help !

[2017-09-18 22:00] #172 closed

[2017-09-18 22:12] hexfusion commented on #172
Glad it works.

[2017-09-18 23:56] rj-reilly opened #195 "provider.libvirt: virError(Code=1, Domain=25, Message='internal error: IVirtualBox object is null')"
#  Version Reports:

### Distro  version of host:

``` Ubuntu 17.04 ```

### Terraform Version Report
Terraform v0.10.2

### Libvirt version
2.5.0

### terraform-provider-libvirt plugin version (git-hash)
8d2b4a3f51b20837238386785431eff3129bd716
___
# Description of Issue/Question

[code]

### Setup
(Please provide the full **main.tf** file for reproducing the issue (Be sure to remove sensitive in

[2017-09-19 15:52] monstermunchkin commented on #186
Resolved by 3fd193d2f81e36405cb65352f9cd134c9b9050b8.

[2017-09-19 15:52] #186 closed

[2017-09-19 21:14] deasmi opened #197 "Provide fuller support for graphics and video"
The current support for video and graphics settings is somewhat limited, as referenced in #171

I am working on adding better support so wanted to add an issue to track this, I will submit a [WIP] PR referencing this for others to look at shortly.

I am aiming to support setting listen addresses and optionally port numbers for VNC plus fix #171 initially.

Ideally a 0.1 item.

[2017-09-19 22:25] deasmi opened #199 "genisoimage is not available on all platforms/distros"
genisoimage seems totally unavailable for macOS and doesn't appear to be very common across linux distros

This makes cloudinit isos OS dependent on the client.

I'm going to look for a more common cross platform/distro alternative as this is the only thing that prevents this running anywhere

[2017-09-20 08:22] deasmi commented on #199
Whatever tools are used suspect build constraints the best way to implement rather than runtime detection.

https://golang.org/pkg/go/build/#hdr-Build_Constraints

[2017-09-20 08:24] deasmi commented on #199
hdiutil makehybrid -iso -joliet -o image.iso /path/to/source can use used on macOS

[2017-09-21 14:28] bhechinger opened #201 "Getting IP from libvirt via network_interface.0.addresses.0 doesn't work consistently"
#  Version Reports:

### Distro  version of host:
```Ubuntu 17.04```

### Terraform Version Report
```Terraform v0.10.5```

### Libvirt version
```2.5.0```

### terraform-provider-libvirt plugin version (git-hash)
```23635373aed10aab286a2436459670b686b581bb```
___
# Description of Issue/Question

### Setup
[code]
### Steps to Reproduce Issue
I'm going to trim the log output a bit because it's HUGE

[2017-09-22 11:08] #194 closed

[2017-09-25 20:07] deasmi commented on #171
@jfgibbins Can you test if my patch fixes your issue please.

Branch graphicsandvnc on https://github.com/deasmi/terraform-provider-libvirt.git

Pull request #198

[2017-10-07 09:32] flavio commented on #195
It looks like you are using the wrong connection url. According to the [official documentation](https://libvirt.org/drvvbox.html) you should be using ‘vbox:///session‘

[2017-10-07 09:32] #195 closed

[2017-10-07 16:53] rj-reilly commented on #195
I will give that a try thanks !

[2017-10-17 08:34] moio opened #204 "SSH provisioner cannot connect"
#  Version Reports:

### Distro  version of host:

Ubuntu 17.04

### Terraform Version Report

Terraform v0.10.7

### Libvirt version

[code]

### terraform-provider-libvirt plugin version (git-hash)

Current master: c034dc8e65b815ac49e1e7d90bf14ac346425529

# Description of Issue/Question

Terraform fails to connect via SSH to newly deployed VMs, reason is libvirt cannot get the machines' IPs des

[2017-10-17 11:30] hexfusion commented on #170
@jfgibbins sorry for delay will get some cycles on this soon.

[2017-10-17 12:42] jfgibbins commented on #170
no worries, I've been distracted by other projects for a while, doing some firewall evaluations as well as some IaC w/Terraform

[2017-10-27 04:59] bluefishforsale opened #206 "main.go : cannot use "libvirt".Provider in field value "plugin".ProviderFunc"
# host info
Name: libvirt
Version: 3.2.0

go version
go version go1.9.1 linux/amd64

OS: centos:7 in docker

$ export GOPATH="$(pwd)"
$ export PATH="/usr/bin:/usr/sbin:/usr/local/bin:/usr/local/sbin:/usr/local/go/bin"
$ export PATH="${GOROOT}:${PATH}"
$ export PKG_CONFIG_PATH="$(pwd)/libvirt"

## ENVS
ARCH=amd64
BASH_VERSION='4.2.46(2)-release'
GITLAB_CI=true
GITLAB_USER_ID=2
GOPATH=/builds/xxxxxx

[2017-10-27 09:20] monstermunchkin commented on #206
Are you experiencing this on the `master` branch? Did you possibly run `glide` beforehand?

[2017-10-27 09:50] monstermunchkin commented on #206
I'm unable to reproduce this in a centos:7 docker container.

Is this repo located at `${GOPATH}/src/github.com/dmacvicar/terraform-provider-libvirt`? Do you get the same error when running `go get github.com/dmacvicar/terraform-provider-libvirt`?

[2017-10-30 08:22] flavio commented on #204
This PR should help: https://github.com/dmacvicar/terraform-provider-libvirt/pull/205

[2017-10-31 18:07] bluefishforsale commented on #206
You are correct, I had run a glide up at some point. A fresh pull of the master changed the operation of go build main.go

however, now I believe I have some GO ENV set incorrectly.

$ export GOPATH="$(pwd)"
$ export PATH="/usr/bin:/usr/sbin:/usr/local/bin:/usr/local/sbin:/usr/local/go/bin"
$ export PATH="${GOROOT}:${PATH}"
$ export XC_OS=linux XC_ARCH=amd64 make bin
$ go build main.go
main.go:4:2

[2017-11-02 07:52] MalloZup commented on #206
@bluefishforsale You are not exporting  GOPATH to PATH that is why go complain not find, looking at your snippet. Hope it helps

[2017-11-02 09:54] MalloZup opened #209 "(Easy-fix): make golint passing for each file"
Remove the blacklisted file with a good fix for golint.

https://github.com/dmacvicar/terraform-provider-libvirt/pull/208/files#diff-995237d4b974eb43370299698c4a9a9bR22

[2017-11-02 09:57] MalloZup opened #210 "Easy-fix: Coveralls code coverage algorithm is wrong( decrease when adding documentation)"
I just noticed that the goveralls decrease for adding documentation or other files.

This cannot be the real coverage target. We need to adapt the filters :sunflower:

[2017-11-02 16:40] MalloZup commented on #210
i will try to fix  it

[2017-11-02 16:40] #210 closed

[2017-11-03 14:53] flavio commented on #210
Ouch, this is really bad :/

[2017-11-03 14:57] MalloZup commented on #210
@flavio  yop,  to me seems that adding a ruby and dir decrease. i will have try to look at it more in deep once i have some free time in life :sunflower:

[2017-11-03 19:11] MalloZup commented on #206
@bluefishforsale  i had the same issue on a machine.(debian)

What you have there is an issue that glide **could not install libvirt pkg** (golang pkg)

So try this:
1. Install libvirt-devel pkg
2. go get github.com/libvirt/libvirt-go
3. go build  should work

Let me know if it works.

[2017-11-04 11:02] MalloZup opened #211 "broken link readme https://github.com/hashicorp/terraform/tree/master/builtin/providers/google"
https://github.com/hashicorp/terraform/tree/master/builtin/providers/google

[2017-11-04 20:03] bluefishforsale commented on #206
little more info on my build environment
This is in the Dockerfile i'm using for the environment (in addition to much more)
`FROM centos:7
RUN yum install -y git libvirt-lib libvirt-devel which qemu-kvm`

[2017-11-05 03:56] bluefishforsale commented on #206
current situation

`$ go get github.com/hashicorp/terraform/plugin`
`$ go get github.com/libvirt/libvirt-go`
`$ go get github.com/dmacvicar/terraform-provider-libvirt`
`$ go build main.go`
`# command-line-arguments`
`./main.go:12:15: cannot use "github.com/dmacvicar/terraform-provider-libvirt/libvirt".Provider (type func() "github.com/dmacvicar/terraform-provider-libvirt/vendor/github.com/hashicor

[2017-11-05 16:33] MalloZup commented on #206
@bluefishforsale

you need to be in the src of the pkg for building.

´´´console

cd $GOPATH/src/github.com/dmacvicar/terraform-provider-libvirt/
go build
´´´´

[2017-11-05 16:53] bluefishforsale commented on #206
@MalloZup thanks, this is my first time building a golang project at all, let alone someone elses. Lots of new moving parts here for me.

I appreciate the hand-holding. Hopefully i'll get a lot of value from this and be able to pay it forward for others needing help.

[2017-11-05 16:59] MalloZup commented on #206
@bluefishforsale yop no problem, there is always a fist time :+1:
Feel free to improve also the documentation with some PRs if you feel that is lacking on doc.

[2017-11-07 13:27] MalloZup commented on #206
@bluefishforsale  if it fixed the issue, feel free to close it !  feel free to open others issue or propose whatever you wish and maybe we can hack togheter in golang on this on other proj ! have fun

[2017-11-07 16:54] #206 closed

[2017-11-07 16:58] #211 closed

[2017-11-07 22:54] dmacvicar commented on #152
Ignition files are implemented in terraform-provider-libvirt using the [QEMU Firmware Configuration Device](https://git.qemu.org/?p=qemu.git;a=blob;f=docs/specs/fw_cfg.txt).

Ignition, supports [various sources](https://github.com/coreos/ignition/blob/master/doc/supported-platforms.md) to read this configuration. As we are using mostly QEMU with libvirt, it makes sense to use this interface to pas

[2017-11-08 11:59] dmacvicar opened #218 "Implementing AutoYaST support"
# Motivation

We are using the provider internally heavily to test non-released products, and this means sometimes installing the machine from scratch and no images are available.

https://hackweek.suse.com/16/projects/implement-kernel-cmdline-and-slash-or-autoyast-slash-kickstart-support-in-terraform-provider-libvirt

# Approach

* While passing the profile via `fw_config` would be awesome, it is

[2017-11-08 18:28] pfremm opened #219 "Device Name for each disk when multiple disks?"
# Description of Issue/Question
Is it possible to specify the device name such as /dev/vdb when attaching multiple disks?  I'm not seeing an option in the documentation.

[2017-11-08 19:52] dmacvicar opened #220 "Disable coverall?"
All the PR polluted with its comments is lot of noise and the information is not very useful.

[2017-11-08 22:11] simonswine commented on #199
This might also work, never tried it though: https://github.com/johto/iso9660wrap

[2017-11-08 22:15] dmacvicar commented on #219
AFAIK we don't set the 'dev' parameter of 'target' in libvirt.

What would be the usecase?

[2017-11-09 01:57] pfremm commented on #219
For coreos it would ensure i know the dev device for the ignition config as systemd is used to mount the addition device.

[2017-11-09 13:38] MalloZup commented on #220
i vote for +1

[2017-11-09 14:00] MalloZup opened #222 "(BUG):Travis status tests is red"
afaik the red is not caused directly by a change made duriing a PR but imho something has changed in the travis build env.

The build start failing once we commited a Readme.md modification ( so unrelated to tests).

[code]

It seems that the plugin cannot cleanup resources after a testcase

[2017-11-09 14:55] flavio commented on #220
On the other side I find useful to see how the code coverage would change as a reaction to the PR. I don't like to get emails from him though :)

[2017-11-09 19:15] MalloZup opened #224 "(Easy-fix): create a constant string for error libvirt connection was nil"
[code]

[2017-11-10 09:07] MalloZup commented on #222
afaik the red is not caused directly by a change made duriing a PR but imho something has changed in the travis build env.

The build start failing once we commited a Readme.md modification ( so unrelated to tests).

[code]

[2017-11-10 09:15] MalloZup opened #225 "(Discussion) Create subpackages for the provider"
@dmacvicar   @flavio  @monstermunchkin @inercia  is the terraform plugin design somehow preventing us to create golang subpackages?
What do you think about. I think this could help us to refactoring and organize code.

Maybe we if we agree, we should just focus on how and which packages we can create. :anchor:

[2017-11-10 09:16] MalloZup commented on #209
i am working on this

[2017-11-10 09:16] MalloZup commented on #209
https://github.com/dmacvicar/terraform-provider-libvirt/pull/208

[2017-11-10 13:55] dmacvicar commented on #220
I can't read PRs anymore, it is a mess. I disabled it, kept the status API (summary) and the README.

[2017-11-10 13:55] #220 closed

[2017-11-10 14:09] monstermunchkin commented on #225
I don't think anyone/anything can prevent you from creating golang subpackages. However, I had a look at some of the bigger providers in [this project](https://github.com/terraform-providers), and all of them are structured the same way without using subpackages.

We don't have that many files, so refactoring the code should be just fine. I don't believe that subpackages are a good solution here.

[2017-11-10 14:31] MalloZup commented on #199
@deasmi  is ```hdiutil``` a std pkg on darwin?

[2017-11-10 17:03] kpettijohn commented on #152
It sure does, thanks for taking the time and providing detailed response! Looking forward to using the provider more in the future!

[2017-11-10 17:03] #152 closed

[2017-11-10 17:55] MalloZup commented on #225
ok thx, closing

[2017-11-10 17:55] #225 closed

[2017-11-13 10:27] MalloZup opened #229 "(Easy-FIX): check if exported functions or variable are needed to be exported, otherwise don't export them"
We should  fix the exported and unexported variables, structs and functions. Most of them don't actually need to be exported.

[2017-11-13 12:49] MalloZup opened #230 "(Easy-fix): use assertions in tests instead of ifs"
we should use assertion from 	"github.com/stretchr/testify/assert" for testing

[2017-11-13 13:09] MalloZup commented on #230
i will init this feature

[2017-11-13 13:55] MalloZup opened #231 "EASY-FIX: make some tests silient, and verbose only on failures"
At moment we have some tests that print a lot of debug data even if they pass.

A test should not print debug info when it pass, otherwise the whole testsuite becomes not human and maintainable. (imagine we have 400 tests with this debug)

[2017-11-13 16:14] #222 closed

[2017-11-13 19:38] cuky23 opened #235 "network_interface = Array"
#  Version Reports:

### Distro  version of host:

```ubuntu16 ```

### Terraform Version Report
Terraform v0.10.8
### Libvirt version
latest
```virsh --version```
latest
___
# Description of Issue/Question
network_interface: Dont appear to get static ip's assigned in ubuntu16

### Setup
(Please provide the full **main.tf** file for reproducing the issue (Be sure to remove sensitive info)

I have

[2017-11-13 19:44] cuky23 commented on #235
I think I found the answer reading closed issues.
Multiple interfaces are just listed
  network_interface  {
    network_name = "vagrant-libvirt"
    }
  network_interface  {
    addresses = ["192.168.1.132"]
    bridge = "br0"
    }

[2017-11-13 21:46] cuky23 commented on #235
terraform output, shows that it is going to try and create the second ip.
[code]

[2017-11-13 22:00] cuky23 commented on #235
Tryed just having one interface
[code]
libvirt.tf
[code]

The issue here is the inside OS doesnt get the static IP on ubuntu.

[2017-11-13 23:15] deasmi commented on #199
@MalloZup MacOS definitely out the box, I don't have a pure darwin host to check, but the diskimages framework isn't open source, so quite possibly not.
http://www.openradar.me/31813634

[2017-11-14 09:26] MalloZup commented on #199
@deasmi ok thx for info :boat:

[2017-11-14 10:03] MalloZup opened #236 "(vendor/pkg issue) ignition terraform plugin vendor has conflict when we update our vendors"
i'm just adding a new pkg for using golang assertion, and i found out that when we do the normal workflow with glide for updating vendor, after builiding we have this issue:
[code]
to me it seem that the https://github.com/terraform-providers/terraform-provider-ignition has old vendor of terraform and this has conflicts with our plugin vendor :sun_behind_large_cloud:

[2017-11-14 13:08] MalloZup commented on #231
closing, fixed on that pr

[2017-11-14 13:08] #231 closed

[2017-11-14 13:08] MalloZup commented on #209
this is fixed by pr.

[2017-11-14 13:08] #209 closed

[2017-11-14 13:09] MalloZup commented on #224
fixed by pr linked

[2017-11-14 13:09] #224 closed

[2017-11-14 22:48] cuky23 commented on #235
Considering a workaround to this is to get a provisioner to install the missing file, as per OS requirements. then run a remote-exec to restart networking( for ubuntu anyways)

I am looking to move platform builds from a iso/packer/vagrant/hiera/puppet structure to something that uses terraform for the bootstrap platform. ie.  libvirt

So far thanks for the plugin, may not work 100% but provisione

[2017-11-15 17:29] MalloZup commented on #236
invalid

[2017-11-15 17:29] #236 closed

[2017-11-15 17:30] MalloZup commented on #230
closed because of this: https://golang.org/doc/faq#assertions

[2017-11-15 17:30] #230 closed

[2017-11-16 11:42] cuky23 commented on #235
I have the following workaround for ubuntu.   My version creates the post/eth1 that has the correct config in and pushes it at the host then runs restart networking.

[code]
uploaded to provide working examples for others who want terraform to create ubuntu16 VM's.

[2017-11-16 11:58] #235 closed

[2017-11-16 14:15] pananormalny commented on #170
Hi @jfgibbins , @hexfusion

I've made some progress on this...

First of all virtualport support needs to be added to libvirt-go-xml (that's done) https://www.redhat.com/archives/libvir-list/2017-November/msg00561.html

I also modified a little bit terraform-provider-libvirt and have working terraform with OVS - for now it's just a prototype... I'm thinking if we would like to have something like

[2017-11-16 15:40] MalloZup opened #240 "run "go vet" in travis ci"
# Tasks:

- [ ] fix all go vet problem
- [ ] enable go vet on travis.

- depend on #159 ( there are 3 go vet errors due to PoolSync

[2017-11-17 15:12] MalloZup opened #244 "Easy-fix: investigate why when a testacc fail other tests non related are failing in a cascade effect"
i noticed that when a test fail, the other start to fail like a cascade, even if they are not related.

We should enforce that each tests is independent. I think this is something related with terraform testing framework, since when a test fail, it complains that other resource already there (cleanup failed)

Maybe we miss some flags or something.

Example:
1st test is failing correctly, 2nd shoul

[2017-11-20 13:21] dmacvicar commented on #119
Ok. I read the PR and I get it, but, I can't get where you do the connection between "running" and "destroy". A domain can be existent but running/not running. Why should setting `running = false` destroy it? Or am I misunderstanding something`

[2017-11-20 13:36] MalloZup commented on #119
@dmacvicar : https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/website/docs/r/domain.html.markdown

running - (Optional) Use false to turn off the instance. If not specified, true is assumed and the instance, if stopped, will be started at next apply.

[2017-11-21 14:55] jcayouette opened #246 "Timeout while waiting for state to become 'all-addresses-obtained' (last state: 'waiting-addresses', timeout: 5m0s)"
#  Version Reports:

### Distro  version of host:

``` openSUSE 42.3```

### Terraform Version Report

```Terraform v0.10.7```

### Libvirt version

```3.3.0```

### terraform-provider-libvirt plugin version (git-hash)

```terraform-provider-libvirt-0.0.0+git20171027.feec1d19-1.2.x86_64```
___
# Description of Issue/Question
Running sumaform with a typical setup, br0 with the following settings.
[

[2017-11-22 09:22] jcayouette commented on #246
I just discovered there is a rogue vnet0 assigned to br0 which conflicts with the actual br0 assigned to my physical device em1. Removed and disabled vnet0 with `ip link delete vnet0`. I have no idea where this came from. Ill update on status.

[2017-11-22 09:47] jcayouette commented on #246
The issue still persists. :(

[2017-11-22 15:41] #121 closed

[2017-11-22 15:41] #240 closed

[2017-11-22 17:11] michtam opened #247 "question NIC model and PCI address options?"
# Description of Issue/Question

I have two question about provider:
- It is possible to set pci bus address of device?
- Can I set model of network interface? Default is virtio - I would like to set e1000.

[2017-11-23 12:10] mludy opened #248 "Option to make libvirt_network autostart after reboot"
Is it possible to add option silimar to libvirt_domain autostart  on libvirt_network level ?
In our use case its mandatory for libvirt domain to survive machine restart and because there is no possibility to set network autostart option domain is not able to recover.

[2017-11-23 17:36] MalloZup commented on #247
ciao @michtam  you can have a look here : https://github.com/dmacvicar/terraform-provider-libvirt/tree/master/website/docs/r, in this pages. if it not present, then we hadn't implemented it, afaik.  (speaking from my pov, i am not 100% sure.)

[2017-11-23 17:40] MalloZup commented on #248
ciao @mludy , afaik we can implement this, since in libvirt is possible. I can have a look when i have some time.

[2017-11-24 11:03] MalloZup commented on #248
@mludy  once the Pr is merged (here referenced), you can use the autostart option like with

* `autostart` - (Optional) Set to `true` to start the network on host boot up.
 If not specified `false` is assumed.

[2017-11-24 11:18] MalloZup commented on #229
i will close because i don't find any solution to make this in a linter/travis check.

[2017-11-24 11:18] #229 closed

[2017-11-25 22:53] hsehic opened #252 "Crash after trying to use http located iso for boot"
#  Version Reports:

### Distro  version of host:

``` openSUSE 42.3 ```

### Terraform Version Report
(Provided by running `terraform -v`.)
```Terraform v0.10.7```

### Libvirt version

[code]

### terraform-provider-libvirt plugin version (git-hash)

[code]
___
# Description of Issue/Question

### Setup
[code]
### Steps to Reproduce Issue
[code]
___
# Additional Infos:

http://paste.opensuse.org

[2017-11-26 17:16] mludy commented on #248
Great. Thanks for really fast action !

[2017-11-26 22:03] MalloZup commented on #252
Thx, @hsehic for nice report.
If you do 2times terrafom apply , do you still have the issue? Can you reproduce it 10/10 times or issono sporadic? I am asking because i, already saw this error with another tf file. It would be nice if we can reproduce it everytime

[2017-11-27 08:57] #248 closed

[2017-11-27 10:17] MalloZup commented on #248
@mludy thank you :smile: feel free to use it now

[2017-11-27 12:01] MalloZup commented on #252
@dmacvicar  i tested the setup with a `terraform 11` and worked well same tf file.

maybe do you used some specific calls/feature only avaibles on terraform 11?

[2017-11-27 13:10] monstermunchkin commented on #201
Does #205 solve this issue?

[2017-11-27 13:51] monstermunchkin commented on #252
I can reproduce this in 4907902b. The problem is:
[code]
This fails with `panic: interface conversion: interface {} is nil, not string` if there's no `volume_id` key. However, this problem is no longer present since we now [check the key](https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/libvirt/resource_libvirt_domain.go#L419-L420).

I'm closing this issue since it's no longer v

[2017-11-27 13:51] #252 closed

[2017-11-27 14:09] monstermunchkin commented on #87
Done.

[2017-11-27 14:09] #87 closed

[2017-11-27 14:13] MalloZup commented on #87
![party](https://media.giphy.com/media/6nuiJjOOQBBn2/giphy.gif)

[2017-11-27 14:14] MalloZup commented on #204
imhowe can close, and @moio could reopen if not solving

[2017-11-27 23:03] Pwpon500 opened #254 "Cannot import resources"
#  Version Reports:

### Distro  version of host:

```  Debian 9 ```

### Terraform Version Report
``` Terraform v0.11.0 ```

### Libvirt version

``` 3.0.0 ```

### terraform-provider-libvirt plugin version (git-hash)
Most recent commit:
[code]

# Description of Issue/Question

### Setup
main.tf:
[code]
When trying to import the domain or volume resource into my terraform state, terraform says th

[2017-11-28 16:05] MalloZup commented on #254
ciao @Pwpon500 , we don't have implemented the ```importer``` functionality in the plugin, so it is normal that you get the message.

[2017-11-28 22:50] Pwpon500 commented on #254
Ah OK, that makes sense. I didn't want to make a feature request because I wasn't sure if I was just doing something wrong or if the importer functionality wasn't in the plugin yet. Thanks for the help!

[2017-11-28 22:51] #254 closed

[2017-11-30 10:35] MalloZup commented on #246
@jcayouette  afaik to me this is fixed to the latest version, you should take the latest rpm from the repo (see readme) and try to reproduce, but we fixed it by a pr that got merged

[2017-12-07 08:29] MalloZup opened #260 "Improve codecoverage to 85 percent."
Improve codecoverage to 85 percent

[2017-12-07 08:30] MalloZup commented on #246
@jcayouette to me is fixed. Can you install the latest plugin and verify?

[2017-12-07 20:02] bhechinger commented on #201
now I get this back immediately every single time:

[code]

[2017-12-08 09:15] MalloZup commented on #204
ciao @moio could you try the new plugin once you are free? thx :cupid:

[2017-12-12 09:49] moio commented on #204
It works now that https://github.com/dmacvicar/terraform-provider-libvirt/pull/205 is in

[2017-12-12 09:49] #204 closed

[2017-12-12 14:48] markostanojlovic opened #262 "support for aarch64"
#  Version Reports:

### Distro  version of host:
SUSE Linux Enterprise Server 12 SP3

### Terraform Version Report
Terraform v0.10.7
terraform                  | package    | 0.10.7-2.1
### Libvirt version
3.3.0

### terraform-provider-libvirt plugin version (git-hash)
terraform-provider-libvirt | package    | 0.0.0+git20171017.4907902b-2.2

___
# Description of Issue/Question
arch for guest doma

[2017-12-28 08:11] #262 closed

[2017-12-28 11:17] solidnerd opened #265 "Support network_interfaces for meta-data in cloud-init"
Hey,
I think this a good feature if you can't rely on DHCP in some environments. I would like to introduce a new key that helps to set `network-interfaces` key in meta-data. An example with network-interfaces key looks like this:

[code]
The content of `network-interfaces` is the normal content of `/etc/network/interfaces` . So you can configure everything you want.

Example in a cloud-init ressou

[2017-12-28 11:22] solidnerd commented on #265
I could give you the PR for that if you want.

[2018-01-02 21:31] BruceBushby opened #266 "End of file while reading data: Input/output error"
#  Version Reports:

### Distro  version of host:

Fedora 27

### Terraform Version Report

[root@laptop ascode]# terraform -v
Terraform v0.11.2-dev
+ provider.libvirt (unversioned)

### Libvirt version

[root@laptop ascode]# virsh --version
3.7.0

```virsh --version```

### terraform-provider-libvirt plugin version

[root@laptop terraform-provider-libvirt]# git log
commit 7b2adfc1f28d76399d63aaf5

[2018-01-02 21:33] BruceBushby commented on #266
Looks like post was truncated

[2018-01-02 21:34] BruceBushby commented on #266
___
# Additional Infos:

Selinux changed to permissive .... no change
iptables stoppped and cleared (iptables -F)  ... no change

[2018-01-02 21:55] BruceBushby commented on #266
___
# Additional Infos:

Virtual machine is still created, installs & reboots as expected.

[2018-01-07 19:00] night199uk commented on #265
+1

[2018-01-07 22:09] night199uk commented on #265
Check:
https://github.com/dmacvicar/terraform-provider-libvirt/pull/267
Which should allow you to specify arbitrary metadata to support your first example (I needed the same).

[2018-01-10 07:07] paxsonsa commented on #141
Actually, this might be a good idea to toss into the examples This hung me up for a few days until I realized it.

[2018-01-12 10:56] paxsonsa opened #272 "Creating a proper bridged network"
#  Version Reports:

### Distro  version of host:

```Ubuntu 16.04.3 ```

### Terraform Version Report
``` 0.11.2 ```

### Libvirt version

```virsh --version --> 1.3.1```

### terraform-provider-libvirt plugin version (git-hash)

[code]
___
# Description of Question
Currently Trying to configure a ubuntu vm with the provider and get a proper bridge working. I have a bridge (br0) working with my e

[2018-01-14 18:22] tcassaert commented on #272
Have you tried to add `wait_for_lease = true` to the `network_interface` block?

[2018-01-15 05:31] paxsonsa commented on #272
I did but let me give that one more go!

[2018-01-15 08:36] paxsonsa commented on #272
I gave the `wait_for_lease = true` a try. I received the same problem as before: Terraform timed out waiting for the response of the domain. I am going to attempt to manually give mac addr and ip addr to the interface and see if that works.

[2018-01-15 12:51] tcassaert commented on #272
Yesterday I've done something similar, which worked:

[code]

The most notable difference is that you don't specify a `boot_device` block. So maybe terraform tries to initialise your network before the machine is ready to do so.

[2018-01-16 02:37] paxsonsa commented on #272
That is a really good thought! Let fiddle a bit and see if I can come up with something based on that! Thanks!

[2018-01-16 09:40] inercia commented on #265
I think this could be achieved with #270 .

[2018-01-16 11:14] inercia commented on #199
I think it was fixed in #269. Closing.

[2018-01-16 11:14] #199 closed

[2018-01-16 14:43] inercia commented on #272
Check that the `qemu-agent` is running inside the VMs. Otherwise, the terraform-libvirt-provider will fail to get the IP address assigned to the interfaces connected to that bridge...

[2018-01-16 16:43] #265 closed

[2018-01-17 13:56] cjeanneret opened #273 "Provide compiled provider for "main" architectures"
Hello,

It would be great if a few binaries could be provided with the releases, at least for amd_64 arch. Compiling from the sources is nice when only one guy works with it, but here we're a bit more, and integrating this provider in our workflow is just not possible in the current situation.

If you (dev team :)) could provide a couple of pre-compiled binaries, it would just make life easier :).

[2018-01-18 06:50] paxsonsa commented on #272
@inercia thanks for the idea will check that out.
@tcassaert  I took your centos  tf file (updating the image to use the centos cloud image) and proceed to use it as is. The vm did not appear when `arp -a` was run. Maybe a routing problem?

I think there is an issue with my bridge setup (even though the eno1 (my eth0) is communicating through the bridge fine). I am not sure where to look next this

[2018-01-18 21:48] tcassaert commented on #272
Hmmm, weird. If you make a VM manually with the bridge interface, does it get an IP?

[2018-01-18 23:09] pdf opened #274 "Automatic configuration of DHCP makes NAT networks with multiple prefixes unusable"
#  Version Reports:

### Distro  version of host:

`Arch`

### Terraform Version Report

`v0.11.2`

### Libvirt version

`3.10.0`

### terraform-provider-libvirt plugin version (git-hash)

`29cd517335347ed7a8b190e60664887a9b715f09`
___
# Description of Issue/Question

### Setup

[code]

### Steps to Reproduce Issue

Attempt to apply the above resource results in:

[code]

___

[2018-01-28 01:53] lis0r opened #276 "localOnly domain attribute"
Hi,

It would be nice to have some means of enabling the localOnly attribute for libvirt_network <domain> definitions.

Thanks!

Lisa

[2018-01-29 19:41] andersla opened #277 "Build with go install fails"
Building from source with `go install` fails:
trying to followi instructions from: https://github.com/dmacvicar/terraform-provider-libvirt#building-from-source

[code]
go version: go1.9.1 linux/amd64
os: Ubuntu 16.04

I also tried to build version v0.2, same error
[code]

[2018-02-06 12:41] sivarammedapati opened #278 "provider.libvirt: Unrecognized remote plugin message"
Distro version of host:
CentOS Linux release 7.4.1708

Terraform Version Report
Terraform v0.11.3

Libvirt version
3.2.0

[root@localhost ~]# cat libvirt.tf
provider "libvirt" {
    uri = "qemu+ssh://root@172.16.12.54/system"
}
resource "libvirt_volume" "mydisk" {
  name             = "terraform-test1.img"
  pool             = "default"
  base_volume_name = "CentOS-7-x86_64-GenericCloud-1707.qcow2

[2018-02-06 14:48] #266 closed

[2018-02-07 09:59] BruceBushby opened #279 "panic: runtime error: invalid memory address or nil pointer dereference"
#  Version Reports:

### Distro  version of host:
[root@laptop k801]# cat /etc/redhat-release
Fedora release 27 (Twenty Seven)
[root@laptop k801]#

### Terraform Version Report
[root@laptop k801]# terraform -v
Terraform v0.11.4-dev (4f38f4f9eb7e892aecb546e52851a85cfad5af6c)
+ provider.libvirt (unversioned)

[root@laptop k801]#

### Libvirt version
[root@laptop k801]# virsh --version
3.7.0
[root@la

[2018-02-07 10:32] BruceBushby commented on #279
[crash.log](https://github.com/dmacvicar/terraform-provider-libvirt/files/1702683/crash.log)

[2018-02-07 10:43] BruceBushby commented on #279
2018-02-06T14:37:09.896Z [DEBUG] plugin.terraform-provider-libvirt: 2018/02/06 14:37:09 [WARN] WaitForState timeout after 30s
2018-02-06T14:37:09.896Z [DEBUG] plugin.terraform-provider-libvirt: 2018/02/06 14:37:09 [WARN] WaitForState starting 30s refresh grace period
2018-02-06T14:37:09.896Z [DEBUG] plugin.terraform-provider-libvirt: 2018/02/06 14:37:09 [DEBUG] getting domain addresses from networ

[2018-02-07 10:55] BruceBushby commented on #279
Perhaps my libvirt setup is incorrect. I'm using a separate dhcp service rather then the libvirt dhcp.

WIll change and re-test

2018-02-06T14:37:09.896Z [DEBUG] plugin.terraform-provider-libvirt: 2018/02/06 14:37:09 [WARN] WaitForState starting 30s refresh grace period
2018-02-06T14:37:09.896Z [DEBUG] plugin.terraform-provider-libvirt: 2018/02/06 14:37:09 [DEBUG] getting domain addresses from net

[2018-02-07 11:22] BruceBushby commented on #279
Fixed!

I shutdown my dhcp service and configured the libvirt network's dhcp.... problem solved.

<network>
  <name>dc00-10</name>
  <uuid>8e78b397-095f-476d-afbe-a412c5a76871</uuid>
  <forward mode='nat'>
    <nat>
      <port start='1024' end='65535'/>
    </nat>
  </forward>
  <bridge name='virbr10' stp='on' delay='0'/>
  <mac address='52:54:00:45:d7:e0'/>
  <ip address='10.10.10.1' netmask='25

[2018-02-07 19:53] BruceBushby commented on #279
Closing, fixed as explained above.

[2018-02-07 19:53] #279 closed

[2018-02-08 00:10] samuelbernardo opened #280 "undefined: libvirt.Connect libvirt.StorageVol"
#  Version Reports:

### Distro  version of host:

Gentoo profile 17.0

### Terraform Version Report

Terraform v0.11.3

### Libvirt version

4.0.0

### terraform-provider-libvirt plugin version (git-hash)

tag v0.3
___
# Description of Issue/Question
When compiling from source the following error happens:

[code]

[2018-02-09 07:57] paxsonsa commented on #272
@tcassaert yea so it looks like an issue not related to this repo at all. It appears to be an issue with the network. Almost all my bridge setups are not work and I think the ISP Router is to blame. I am going to close this

[2018-02-09 07:57] #272 closed

[2018-02-23 11:01] eugene-chow commented on #280
I encountered the same error except that I was trying to cross-compile for macOS. Compiling for Linux, using just `go build -v github.com/dmacvicar/terraform-provider-libvirt`, churned out the terraform plugin just fine.

[code]

@dmacvicar Can you advise if cross-compiling for macOS is possible at this point in time? Thank you!

[2018-02-23 17:50] markostanojlovic opened #284 "README file installation instructions update"
#  Version Reports:
Terraform v0.11.3
terraform-provider-libvirt-0.0.0+git20180220.f2cef405-1.1.x86_64
libvirt-3.3.0-4.28.x86_64

Now, according to the terraform documentation, this is the procedure to install :
https://www.terraform.io/docs/configuration/providers.html#third-party-plugins

On all other systems, in the sub-path **.terraform.d/plugins** in your user's home directory.

terraform ini

[2018-03-01 09:10] eugene-chow commented on #280
I managed to build the plugin in macOS. Building and installing it is as simple as:
[code]

[2018-03-04 07:16] multani commented on #84
I tested the plugin on several machines and with a recent libvirt daemon running (4.0+), I don't have the problem anymore, whereas it's easily reproductible on 3.x.

I don't have access to them right now but there are several instances of the same problem reported on the libvirt bugtracker, even without Terraform involved, although I still didn't have understand what was the final fix to apply, be

[2018-03-04 07:24] danderson commented on #84
Interesting! I'll see if I can upgrade to a recent libvirt... Thanks for the tip!

[2018-03-04 10:42] danderson commented on #84
Tried with libvirt 4.0, and sadly, still no luck :( Creating 4 VMs simultaneously, only 2 come up, the other 2 never start.

One option to work around this in the provider might be to add a lock just around VM creation, i.e. only allow 1 domain at a time to be in the state between the initial creation request, and the SSH connection establishing (or DHCP lease being issued). That would still let m

[2018-03-04 19:08] multani commented on #84
That's weird, I think I managed to have 10 created at the same time on my desktop without any problem (then my machine was running out of memory and trashed, but that's another story.) I'll try to reproduce this and see if I can get you more information about my setup, maybe we'll be able to find the difference between the 2 configs.

[2018-03-04 22:26] danderson commented on #84
For reference, my Terraform configs are at https://github.com/google/metallb/tree/master/terraform . It's fairly complex, I'm spinning up a VM on GCE with nested virtualization support, installing libvirt on that, and then bootstrapping 4 nested VMs.

If you have a GCP account and want to reproduce, you need to run `make-vmx-image.sh` first to create a Debian base image that has nested virt enable

[2018-03-12 16:16] inercia commented on #274
The original intention of having multiple IP ranges was to provide IPv4 as well as IPv6 addresses for the network, as multiple IPv4 addresses do not make much sense (at least for regular users). So this is the expected behaviour, even when we are getting the error from the lower layers of the stack (libvirt).

We could 1) improve documentation and/or 2) do some checks at the terraform-libvirt-prov

[2018-03-12 16:20] inercia commented on #274
It seems it is properly documented [here](https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/website/docs/r/network.markdown), and the checks at the `terraform-libvirt-provider` layer would be a _nice-to-have_ feature but not strictly necessary...

[2018-03-12 16:20] #274 closed

[2018-03-12 16:34] inercia commented on #284
I think the old system still works (doing a `go install` as described in our [installation instructions](https://github.com/dmacvicar/terraform-provider-libvirt#building-from-source)), but I agree it would be a good idea to update the README and explain how to install it using this new mechanism...

[2018-03-12 16:37] inercia commented on #278
Did you install the plugin from a `rpm`/`deb` or complie it from the source code?

[2018-03-12 16:42] inercia commented on #277
I think your complier is not finding the vendored dependencies for some reason. For example, `github.com/hashicorp/terraform/plugin` is not found while it is included in [terraform-provider-libvirt/vendor/github.com/hashicorp/terraform/plugin](https://github.com/dmacvicar/terraform-provider-libvirt/tree/master/vendor/github.com/hashicorp/terraform/plugin).

Could you describe your environment? The

[2018-03-12 23:52] pdf commented on #274
From an API point of view, these should probably have been two separate string fields then.

What is a 'regular user'? I need multiple IP address ranges to replicate a production environment.

Or:
3) Allow an address range to be configured without enabling DHCP on it?
4) Provide a structure for configuring DHCP properties for an address range?

---

I don't wish to sound rude, but I'm rather baffl

[2018-03-13 09:22] inercia commented on #274
You don't need to configure address ranges if you are not going to use DHCP. Just do not specify `addresses` and DHCP will not be started, so you can configure your interfaces statically in some other way (ie, with `cloud-init`).

What kind of properties are you interested in? [These are the properties for addresses](https://libvirt.org/formatnetwork.html#elementsAddress) that libvirt supports.

I

[2018-03-13 12:14] pdf commented on #274
It is not valid to define a NAT network (at least, I suspect some other types may be similarly restricted) without specifying address ranges.  Additionally, libvirt applies iptables rules to the bridge device to ensure that only configured address ranges will pass traffic through the bridge, so it's not possible to use statically configured address ranges without specifying them in the network def

[2018-03-21 06:05] kjenney commented on #206
I found this useful in the build and figured I'd share a little:

[code]

Build with:
[code]

[2018-03-25 03:10] kawaja opened #290 "Support multiple Provider instances with different URIs"
#  Version Reports:

### Distro  version of host:

``` Ubuntu 16.04.4 LTS ``` (xenial)

### Terraform Version Report

Terraform v0.11.6-dev (725281f4aa8c166d5d8bd003c2d8f8f4b4bcbc46+CHANGES)

### Libvirt version

On Terraform host:
[code]

On Libvirt host(s):
[code]

### terraform-provider-libvirt plugin version (git-hash)

[code]
___
# Description of Issue/Question

I want to be able to use a sin

[2018-04-06 21:41] aboe76 commented on #246
still an issue with
[code]

[code]

[2018-04-08 14:34] cbaines commented on #276
I've just noticed that this branch seems to include support https://github.com/dmacvicar/terraform-provider-libvirt/tree/network_improvs

[2018-04-18 07:51] MalloZup commented on #284
@markostanojlovic  feel free to spend a PR for this :+1:

[2018-04-18 07:53] MalloZup commented on #244
closing as tech-debt

[2018-04-18 07:53] #244 closed

[2018-04-18 07:54] MalloZup commented on #246
i can confirm, i had recently same issue. thx @aboe76

@inercia  feel free to have a look once you have some free time

[2018-04-18 07:59] MalloZup opened #292 "codecoverage tool is not working properly"
I was just surprised to see so big decrease of code covered  - 28 % by a commit which is doing apt operations

https://coveralls.io/builds/15590371

by this commit:

https://github.com/dmacvicar/terraform-provider-libvirt/commit/5431c9858508017abed2c35f46acf5c0c31c6d5b

This means that the tool doesn't do the job correctly or is not configured in the right way.

[2018-04-18 08:37] inercia commented on #246
When using a NATed network, libvirt starts its own DHCP server and the terraform-libvirt provider can query that server about the IPs for a domain. However, no DHCP server is started when using a bridge (like in this case), so the terraform libvirt provider cannot get the IP addresses. In this case, the provider falls back to asking a running `qemu-agent` in the domain and, if no `qemu-agent` is r

[2018-04-18 08:39] MalloZup commented on #246
yop we can document and close it

From my case, i add this issue with a sle15 image so it was not related  to a bug and the error was correct because the sle15 img missed some terraform dep. pkg needed to access it

[2018-04-18 10:40] samlabs821 opened #293 "Can not connect to existing bridge"
#  Version Reports:

### Distro  version of host:
Centos7

### Terraform Version Report
Terraform v0.11.7

### Libvirt version
3.2.0

### terraform-provider-libvirt plugin version (git-hash)commit 5d724d3f761c2b5af7a652fdfd38a853548dc474
___
# Description of Issue/Question

### Setup

provider "libvirt" {
    uri = "qemu+ssh://terra@10.254.4.4/system"
}

resource "libvirt_volume" "centos-img-qcow2

[2018-04-19 07:36] BruceBushby opened #294 "Problem expanding variables"
#  Version Reports:

### Distro  version of host:

# cat /etc/redhat-release
Fedora release 27 (Twenty Seven)

### Terraform Version Report
# terraform --version
Terraform v0.11.2-dev

### Libvirt version
# virsh --version
3.7.0

### terraform-provider-libvirt plugin version (git-hash)
# git log | head -50
commit 7b2adfc1f28d76399d63aaf50ff914268efbb87a
Author: Eamonn O'Toole <eamonn.otoole@hpe.co

[2018-04-24 20:13] BruceBushby commented on #294
I don't think this is a bug or bad configuration, it looks like "terraform-provider-libvirt" does not yet support assigning variables, either via terraform.tfvars or variable.tf or even main.tf

Closing issue, will open function request.

[2018-04-24 20:13] #294 closed

[2018-04-24 20:16] BruceBushby opened #295 "Crowd Fund some updates to terraform-provider-libvirt"
Anybody else interested in "crowd funding" some updates to this provider ? I'll kick off the pot with $100.00

I need
1. Clean up to build with latest terraform and other libraries (libvirt-go-xml)
2. Add ability to use command line or environment variables

I tried building with "latest everything" however it looks like the definitions for "libvirt-go-xml" may have changed:

ok 12:35 root@dc00 ~/

[2018-04-27 12:28] hexfusion commented on #280
I am hitting this too made created an issue upstream but has anyone isolated the actual issue?

[2018-04-27 13:09] hexfusion commented on #280
This ended up being a go ENV issue.

go env produced

CGO_ENABLED="0"

But as noted by issue this is a dep of the package. I think this can be closed @samuelbernardo ?

[2018-04-30 14:56] #280 closed

[2018-05-02 11:01] samlabs821 commented on #293
not relevant anymore

[2018-05-02 11:01] #293 closed

[2018-05-02 11:09] samlabs821 opened #297 "Capabilities error"
Hello

After creating some resources on libvirt, I made some changes to .tf file. And after that calling terraform plan which causes error:

* libvirt_domain.minio[3]: libvirt_domain.minio.3: [WARN] Cannot find machine type pc-i440fx-rhel7.4.0 for hvm/x86_64 in {{ capabilities}.....

[code]

#  Version Reports:

### Distro  version of host:
Centos7

### Terraform Version Report
Terraform v0.11.7

[2018-05-02 12:36] hexfusion commented on #189
since we have made a release going to close this.

[2018-05-02 12:36] #189 closed

[2018-05-04 07:00] kskewes commented on #295
I'll do $50. It's been useful for labbing.
Mine might be a user error, but I'm struggling to use a domain in a module as source multiple times. Doing a cloudinit per module with unique names so I can give VM's a unique hostname.

[2018-05-06 14:47] biox commented on #295
Agreed, I'd also throw money in this pot (and help with some of the more simple work)

[2018-05-18 22:20] hooksie1 opened #298 "Libvirt_volume doesn't find remote volumes"
#  Version Reports:

### Distro  version of host:

`Centos 7.5 `

### Terraform Version Report
`Terraform v0.11.7`

### Libvirt version

`3.9.0`

### terraform-provider-libvirt plugin version (git-hash)

`5d0ecd8d171d1d99b0785851a1c1bf5be273bb54`
___
# Description of Issue/Question
libvirt_volume is looking for local volumes when a remote URI is being used.

### Setup

[code]

It fails to find the

[2018-05-19 15:38] #298 closed

[2018-05-20 23:28] hooksie1 opened #299 ""Remote" local volumes and HTTP volumes"
Trying to wrap my head around everything in here. What would it take to implement using a backing store on a remote server (qemu+ssh:///) or having it download the image over HTTP from the remote machine instead of downloading locally and copying?

[2018-05-30 01:06] cbluth opened #300 "Using Multiple Providers Fails to copy userdata.iso to all hosts"
#  Version Reports:

### Distro  version of host:

``` Ubuntu 18.04 ```

### Terraform Version Report
```Terraform v0.11.7```

### Libvirt version

```4.0.0```

### terraform-provider-libvirt plugin version (git-hash)

``` latest ```
___
# Description of Issue/Question

### Setup
Any setup that uses multiple libvirt providers.

### Steps to Reproduce Issue
terraform apply

___
# Additional Infos:

[2018-06-01 20:42] MalloZup commented on #299
@hooksie1  you can use the remote uri.

Machine one 1

[code]

Remote server KVM will perform operation

[2018-06-02 07:16] MalloZup commented on #292
closing because codecoverage descreased since we remove the acc_test

[2018-06-02 07:16] #292 closed

[2018-06-04 07:09] #119 closed

[2018-06-04 07:57] MalloZup commented on #260
closing as testacc is disabled atm.

[2018-06-04 07:57] #260 closed

[2018-06-04 22:15] mbaquer6 opened #304 "File system declaration example when using modules to deploy n instances"
#  Version Reports:

### Distro  version of host:

``` openSUSE 42.2/ Centos7/ Ubuntu.. ```

### Terraform Version Report
(Provided by running `terraform -v`.)

### Libvirt version

```virsh --version```

### terraform-provider-libvirt plugin version (git-hash)

``` git log```
___
# Description of Issue/Question
Hello,
When I want to create n instances of an image, how do I use modules, like you m

[2018-06-05 08:38] moio opened #305 "Installation on Tumbleweed: nothing provides genisoimage needed by terraform-provider-libvirt"
#  Version Reports:

### Distro  version of host:

openSUSE Tumbleweed

### Terraform Version Report

Irrelevant

### Libvirt version

Irrelevant

### terraform-provider-libvirt plugin version (git-hash)

Current `master`
___
# Description of Issue/Question

### Setup
None

### Steps to Reproduce Issue
[code]

## Actual results
[code]

## Hypothesized cause

`genisoimage` is being deprecated by se

[2018-06-07 00:36] mbaquer6 commented on #304
Didn't saw the count example.
Thanks.

[2018-06-07 00:36] #304 closed

[2018-06-07 10:55] arashsc opened #306 "support more fields for domain configuration"
there seems to be no way to pass a static mac address to the domain configuration.

 ### use case
i need a dedicated ip for a virtual machine and my cloud provider restricts dedicated ips to predefined machine mac addresses

[2018-06-13 14:56] mbaquer6 opened #307 "When the source image is updated, the domains keeps the old filesystem's content"
#  Version Reports:

### Distro  version of host:

```  Centos7 ```

### Terraform Version Report
(Provided by running `terraform -v`.)

### Libvirt version

```virsh --version```

### terraform-provider-libvirt plugin version (git-hash)

``` git log```
___
# Description of Issue/Question
Hello,
When I update the OS image running in QEMU with Terraform with another version, in the plan summary it

[2018-06-16 11:09] ayaseen opened #308 "libvirt_volume: Error while uploading source os-image.qcow2: unexpected EOF"
#  Version Reports:

### Distro  version of host:
Ubuntu
``` openSUSE 42.2/ Centos7/ Ubuntu.. ```
Ubuntu 18.04
### Terraform Version Report
(Provided by running `terraform -v`.)
0.11.7
### Libvirt version
libvirtd (libvirt) 4.0.0
```virsh --version```

[2018-06-19 05:42] moio commented on #88
Why? Did you find a workaround? I now have the same problem.

[2018-06-19 07:44] MalloZup commented on #88
@moio  was at the time we did not lock resource esplictely via hcl
I think i have seen it also time ago, we might repoen it. but  i fear also is on libvirt domain design also

[2018-06-24 07:38] kskewes commented on #306
Hi @arashsc
This example works for me: https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/examples/boot/libvirt.tf
I was able to use count interpolation with the MAC address too.

[2018-06-24 19:46] arashsc commented on #306
@kskewes
in the example, Mac address in assigned to a bridge interface whereas i need to set a static MAC address on each virtual machine independently. something like this:

[code]

[2018-06-28 07:52] ktsamis commented on #88
This needs fixing because the jenkins jobs randomly fail. I propose a modification of the [script here](https://gitlab.suse.de/galaxy/sumaform-test-runner/blob/master/jenkins-runner.sh#L23) to check if it failed to try again to rerun the command and then if that fails again, then fail the test setup. As soon as I have some time I will open a PR for that but it will be a workaround.

[2018-06-28 08:43] MalloZup commented on #88
@ktsamis  this GitHub project is the the "core" terraform-plugin. Sumaform or whatever is only a secondary way how to use the plugin. The main issue here is about the libvirt volume, which impact sumaform and others
Feel free to discuss on that PR on sumaform-test-runner repo for the workaround. :+1:

ciao

[2018-06-28 12:31] ktsamis commented on #88
Here I mostly wanted to say that the issue affects us still, and at a quite large degree.

[2018-06-29 08:45] Bischoff commented on #201
I am also getting the `Cannot map ...` message when trying to use my own network:
[code]

[2018-06-29 10:33] Bischoff commented on #201
... and the issue disappears when I use a self-compiled libvirt provider. That means the issue is gone in source code. :smile_cat:

[2018-06-29 14:15] bhechinger commented on #201
Sorry guys, got totally sidetracked with other stuff. Have finally gotten back to this and would like to verify that it does indeed work as intended now, thanks!!

[2018-06-29 14:15] #201 closed

[2018-06-29 15:51] marcindulak opened #311 "graphics.0.autoport cannot parse"
#  Version Reports:

### Distro  version of host:

[code]

### Terraform Version Report

[code]

### Libvirt version

[code]

[code]

### terraform-provider-libvirt plugin version (git-hash)

https://github.com/dmacvicar/terraform-provider-libvirt/commit/b11e5b79ff40dc8f03d762d92226fabe315955dc

___
# Description of Issue/Question

The default example https://github.com/dmacvicar/terraform-provide

[2018-06-29 16:08] marcindulak opened #312 "CentOS7: 'libvirt_domain.domain-ubuntu' does not have attribute 'network_interface.0.addresses.0'"
#  Version Reports:

### Distro  version of host:

[code]

### Terraform Version Report

[code]

### Libvirt version

[code]

[code]

### terraform-provider-libvirt plugin version (git-hash)

https://github.com/dmacvicar/terraform-provider-libvirt/commit/b11e5b79ff40dc8f03d762d92226fabe315955dc

___
# Description of Issue/Question

The problem may be CentOS7 image related, any hints what could be

[2018-06-29 17:57] marcindulak opened #313 "template_file user_data containing a tab: terraform plan forces new resource"
#  Version Reports:

### Distro  version of host:

[code]

### Terraform Version Report

[code]

### Libvirt version

[code]

[code]

### terraform-provider-libvirt plugin version (git-hash)

https://github.com/dmacvicar/terraform-provider-libvirt/commit/b11e5b79ff40dc8f03d762d92226fabe315955dc

___
# Description of Issue/Question

This could possibly be a problem with `terraform` on not the `terr

[2018-07-01 15:58] night199uk commented on #313
I ran into this aswell while working on #270 and #267.

The problem is a bit complex, so I'll explain as best I can for other devs looking into this:
user_data is actually a computed field. It is the result of merging ssh_authorized_keys with anything specified directly in the raw user_data field and that is what is set into the created cloud_init file. When reading back the cloud_init file, UserD

[2018-07-01 19:01] marcindulak commented on #313
Let's not forget this issue is about a tab vs. space in the cloud init file, which could be a separate issue from merging of `user_data` with `ssh_authorized_key`. Having to specify EITHER use `ssh_authorized_key` (or `ssh_authorized_keys` - note that the code currently accepts `ssh_authorized_key` as a string), or user_data sounds like a good solution to the latter issue.

[2018-07-02 07:41] MalloZup commented on #313
Thx for issue and beeing so accurate +1

[2018-07-02 09:17] MalloZup commented on #312
@marcindulak how many network interface s does it haven the centos7 and the fedora cloud?

can you try to use this:

[code]
instead of
[code]

[2018-07-02 10:21] MalloZup commented on #311
@marcindulak thx for your issue report.

yop this is a bug
https://github.com/dmacvicar/terraform-provider-libvirt/search?q=autoport&unscoped_q=autoport

I wonder why there is "yes", i mean the logical stuff should be to use true, 'yes' is more uncommon here.

[2018-07-02 10:23] MalloZup commented on #308
@ayaseen  yop i thx but i fear we would need more info to reproduce it, like the tf files and logs

[2018-07-03 13:07] night199uk commented on #313
@marcindulak: the space vs tab is caused by the same thing. The cloud data you specify is post-processed to perform the merge. That post processing - converting text to yaml, merging ssh keys, and converting yaml back to text, then finally storing the post processed text in the state - that’s what causes the issue you as your spaces are converted to tabs or vice versa.

[2018-07-05 19:22] marcindulak commented on #312
[code]
does not help:

[code]

As shown in the TF_LOG above `addresses` are empty. Terraform seems to be returning more quickly than in the case of the images (ubuntu, fedora) that start properly, it seems it is not waiting for the full creation of the vm.

The host interfaces look normal and are functional:

[code]

[2018-07-05 21:20] marcindulak opened #315 "Document output with count"
#  Version Reports:

### Distro  version of host:

[code]

### Terraform Version Report

[code]

### Libvirt version

[code]

[code]

### terraform-provider-libvirt plugin version (git-hash)

https://github.com/dmacvicar/terraform-provider-libvirt/commit/b11e5b79ff40dc8f03d762d92226fabe315955dc

___
# Description of Issue/Question

I'm trying to output the ip numbers out of the https://github.com/

[2018-07-09 14:01] MalloZup commented on #277
i think this @andersla @inercia https://github.com/dmacvicar/terraform-provider-libvirt/issues/139
we could close this issue as duplicata of the issue above, since it is the same issue

[2018-07-09 20:33] MalloZup commented on #277
i close because of this #139 which is same issue
[code]
this is normal workflow for using golang projects.
Thx for issue, feel free to ask here if it doesn't solve

[2018-07-09 20:33] #277 closed

[2018-07-09 20:39] MalloZup commented on #273
@cjeanneret thx  i don't think is really complicated task to do it, and i can agree that it would help for people that are non-go familiar.
I will have a look

[2018-07-10 09:23] MalloZup commented on #138
@flavio  i think we are more or less good with this task now.

What could be left? Maybe we might close this card and split in more smaller cards

[2018-07-10 09:42] MalloZup commented on #305
@moio  could you update the spec once you have time for the spec ?

Do you think is worth to have the spec here in github? :thinking: thx

[2018-07-10 09:45] MalloZup commented on #300
@cbluth  ciao! thank you for your issue.

i think this issue is a sub-issue of this one https://github.com/dmacvicar/terraform-provider-libvirt/issues/290

If you agree we can close this and it will referenced on that card. ( for us having less issue can help to focus on tasks)

What do you think? tia :+1:

[2018-07-10 09:54] MalloZup commented on #315
@marcindulak thx for your issue. nice documented :+1:

[2018-07-10 10:08] MalloZup commented on #246
@inercia as far i understood is more a user documentation problem then a bug, can you confirm that?.

If so is just a matter of doing some documentation and we are done. Tia

[2018-07-10 10:10] MalloZup commented on #247
@michtam i will close this issue since we improved the documentation here

https://github.com/dmacvicar/terraform-provider-libvirt#website-docs

Thank you for your issue, feel free to ask if you have any further questions! :white_flower:

[2018-07-10 10:10] #247 closed

[2018-07-10 10:45] MalloZup opened #317 "Reenable and stabilize testacc testsuite on terraform-provider-libvirt"
# Description
We need the test-acc active on PRs this should work 100 without false positives.

At this point, this card is an epic. (We might find several issue related to this card)

Feel free to reference PRs to this card for improvements

## how to run the suite locally

1) be on the `cd $GOPATHsrc/github.com/dmacvicar/terraform-provider-libvirt`
2) `make build`
3) `make install`
4) `make test

[2018-07-10 10:53] dmacvicar commented on #295
Why not post it in some system like https://www.bountysource.com and then I can link them from the README?

[2018-07-10 11:15] dmacvicar commented on #131
I don't think we are anywhere near being able to sustain ourselves inside the terraform repository, in terms of quality, number of contributors, etc.

[2018-07-10 11:45] brejoc commented on #295
Alright, this issue is now referenced from [BountySource](https://www.bountysource.com/issues/57535849-crowd-fund-some-updates-to-terraform-provider-libvirt) and I've started with $20.

[2018-07-10 12:45] MalloZup opened #318 "investigate if we can improve vendor mechanism following golang upstream (vgo)"
investigate if we might switch to use

https://github.com/golang/dep

instead of glide

[2018-07-10 13:14] MalloZup commented on #273
https://github.com/goreleaser/goreleaser

[2018-07-10 13:17] MalloZup opened #319 "research about which opensource tool to use for meeting"
# Description.
Find out a tool opensource were we can do opensource meeting.

Any suggestion welcome

## tools at moment under consideration:

*    hangouts
*    zoom (free only for N? minutes)
*    bluejean

* https://discordapp.com/open-source

* https://jitsi.org/

## Requirements:

- screen sharing.
- not much latency.
- opensource

[2018-07-10 16:13] hexfusion commented on #319
FTR I have used the following with success

* hangounts
* zoom (free only for N? minutes)
* bluejean

[2018-07-10 16:34] Bischoff commented on #306
@arashsc @kskewes apparently, the same goes for the `addresses =` setting : the IP addresses go to the bridge to the real host (`virbr1`) and not to the domain. I just did the test:
[code]
So at least it's consistent.

In my case, that is perfect, because I needed an IP address on the bridge, not on the VM. But I agree that it at least needs some clarification in the documentation. Maybe it's even

[2018-07-10 16:49] MalloZup commented on #319
@hexfusion  yop thx.

imho hangouts could be ok ( it has videosharing).

As drawback we have that everybody need to have a google-account afaik.

bluejean i couldn't find any opensource version of it

[2018-07-10 16:51] MalloZup commented on #319
i found also discord, i will look @ it

[2018-07-10 16:52] cbluth commented on #300
sounds good

[2018-07-10 16:52] #300 closed

[2018-07-10 16:53] MalloZup commented on #300
@cbluth thx! :+1:

[2018-07-10 18:19] kskewes commented on #295
Thanks for starting it. Chipped in 50 for #290.

[2018-07-10 19:50] BruceBushby commented on #295
Thanks for starting, added $100.00

On Tue, Jul 10, 2018 at 12:46 PM, Jochen Breuer <notifications@github.com>
wrote:

[2018-07-10 21:11] dmacvicar commented on #273
The main issue is that you would need distro specific builds because of the libvirt dependency.

I suggest we build in [OBS](https://build.opensuse.org) using a _service file tracking the latest tag for SUSE, Fedora, CentOS, Ubuntu, and then unpack the single binary from published packages via CI and publish them on Github, or somewhere where users are most likely to find it (few people use Terraf

[2018-07-10 21:14] dmacvicar commented on #295
Can you explain more about:

[2018-07-11 07:19] MalloZup commented on #273
@dmacvicar thanks for feedback, i thinkit make sense.

I am also thinking about Dockerfiles (Ubuntu, Fedora, SUSE) and containers where we could build the pkgs inside and add also the pkg dependencies.

As an advantage i see that this could be directly hosted here like in `release` dir and could be more open.
Additionally we could add/interface concourse-ci or other CI systems.

I don't see to muc

[2018-07-11 08:04] dmacvicar commented on #318
Go dep will be obsoleted in favor of the [vgo concept](https://blog.golang.org/versioning-proposal), so I don't think this is worth. Lets wait for next go major release and switch to vgo.

[2018-07-11 08:06] MalloZup commented on #318
@dmacvicar  thank you i will reading the article.

Ok i full agree if with you then :+1:

[2018-07-11 08:06] dmacvicar opened #320 "Update dependencies"
Originally reported [here](https://github.com/dmacvicar/terraform-provider-libvirt/issues/295)

Updating dependencies fails:

[code]

[2018-07-11 08:09] dmacvicar commented on #295
I have splited the dependencies part to https://github.com/dmacvicar/terraform-provider-libvirt/issues/320
Can anyone please:

* Update the bounty-source links
* Open an issue for the environment variables part, which is not very clear what is desired.

I would prefer to close this issue as it mixes different things.

[2018-07-11 08:09] #295 closed

[2018-07-11 08:09] MalloZup commented on #295
thank you all :heart:  and @brejoc  for seting that up

[2018-07-11 08:52] dmacvicar commented on #320
I already started working on this one. I figured it out, and I am doing progress.

[2018-07-11 12:49] dmacvicar commented on #320
I have completed the port of the code, but as I am moving on running/porting tests, I realized the first compatibility victim:

* We depend on the https://github.com/terraform-providers/terraform-provider-ignition provider, that depends on terraform 0.10.x. (and vendors it)
* With the update, we jump to terraform 0.11.x libs
* We need either to disable the ignition provider code, or to pin our ter

[2018-07-11 12:53] eamonnotoole commented on #320
@dmacvicar That's a pity, but on the other hand I don't know how many people are actually making use of ignition.

[2018-07-11 13:07] MalloZup commented on #320
i am ok for removing it but i would open an issues to the ignition to ask to upgrade and send message to our gitter about the drop of backward compatibility.

[2018-07-11 15:19] dmacvicar commented on #320
I just figured out it only affects the tests (thay instantiate the provider). We could keep it if we disable the tests that use resources from the original provider.

[2018-07-11 15:25] dmacvicar commented on #295
I claim the first part of the bounty through https://github.com/dmacvicar/terraform-provider-libvirt/pull/322
(minor some decisions that need to be made to merge it)

[2018-07-11 16:47] MalloZup commented on #319
@dmacvicar from my pov we might try hangouts in test-mode.

As contra is that people need hangouts google account ( but i think mostly people dev golang has google account ? :laughing: )

I tried out the other tools, from my pov hangouts is the best from quality.

I will try this tm with some small group of people

[2018-07-11 17:08] MalloZup commented on #319
i tried out with 5 people was ok

[2018-07-11 21:33] BruceBushby commented on #295
Apologies for my delay in clarifying requirements, I have since moved on so
having to scratch my head to remember what motivated the idea in the first
place.

From my side, the two areas I was hoping for improvement were

1. Environment variables expanded correctly
2. Full implementation of libvirt-go library, for example the ability to
define the mac address in terraform and other libvirt-go func

[2018-07-12 13:28] dmacvicar commented on #320
Update was merged, and the ignition code was preserved.

Also all integration tests are working.

[2018-07-12 13:28] #320 closed

[2018-07-12 14:28] Bischoff opened #323 "Refactor libvirt network creation to be in 1:1 correspondance with libvirt"
Currently, we have code like
[code]
that produces libvirt configuration like:
[code]

While our current syntax is very concise, we have no control:
* on the host address (we systematically take `.1`)
* on the presence or absence of DHCP (we systematically use DHCP)
    (although addressed by https://github.com/dmacvicar/terraform-provider-libvirt/pull/321)
* on the start of the DHCP range (we syst

[2018-07-12 16:20] dmacvicar commented on #273
I am not against building on Docker, but I don't want to publish binaries built on somebody's laptop.

[2018-07-12 16:36] MalloZup commented on #273
@dmacvicar ok, in both way we need to setup CI for this project. ( even with obs we need to unpack it somewhere).

I have in mind 2 ideas:
-1) we can have a concourse.ci.opensuse (free on opensuse server) for building pkgs
-2) we can use jenkins-pipeline on a opensuse.ci.suse.de

I can volonteer for this and feel free to addme in geekops if this is needed for doing this tasks.

[2018-07-12 16:55] dmacvicar commented on #294
Terraform does not replace variables on the "key" part of HCL (what is before the brackets), but on the values part.

After fixing that (and other minor issues, like `autoport` being a bool), I can assign variables without problem:

[code]

[code]

[2018-07-12 17:09] MalloZup commented on #311
@dmacvicar  i think you fixed this issue, can you confirm and close the issue?

[2018-07-12 17:55] marcindulak commented on #315
Please rename to something that matches better the case.

[2018-07-12 20:12] dmacvicar commented on #311
`autoport` is defined as boolean in the schema

However for some reasons we have examples using the libvirt style strings.
https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/examples/ubuntu/ubuntu-example.tf#L60

I don't understand why they would fail now. I don't remember changing the code after updating dependencies, so the parsing code would still do:

[code]

Which invokes `st

[2018-07-12 20:22] dmacvicar commented on #311
Reading other providers code, I can't find instances where a more liberal parsing is done. So I would just fix the documentation to remove the misleading "yes", the examples, and add a warning on the readme, for people porting libvirt xml to HCL,

[2018-07-12 22:21] BruceBushby commented on #294
ahh fantastic, thank you!!

Last question ... the "Display Spice" section in virt manager has

Type:
Listen type:
Address:
Port:
TLS port:
Password

Are we able to specify the "Address" via the provider ? In virt manager, the options available under address are:

Hypervisor Default
Localhost only
All interfaces

I seem to remember I couldn't set Address to "All interfaces" via the provider.

Great

[2018-07-13 07:23] kskewes commented on #290
@dmacvicar do you have any thoughts on how we might achieve this one?

[2018-07-13 12:43] hexfusion commented on #319
@MalloZup can get the time/location of meeting today? I will try and make it.

[2018-07-13 12:50] MalloZup commented on #319
@hexfusion i think for today we are will not doing it.

I'm waiting for @dmacvicar  which medium he want to use.
I think maybe we can kickstart it next week, depends on @dmacvicar.
Let's wait :timer_clock: :sunflower:

[2018-07-14 13:05] MalloZup commented on #319
https://janus.conf.meetecho.com/docs/

[2018-07-16 07:44] dmacvicar commented on #290
Terraform allows to instantiate providers multiple times:

https://www.terraform.io/docs/configuration/providers.html#multiple-provider-instances

So you can instantiate the provider twice, the 2nd time with an alias, and then link resources to one of the provider instances. Right now this is not working. I suspect the culprit is some global key-based Mutex that someone introduced without thinking

[2018-07-17 06:18] MalloZup opened #324 "cloud-init volume race conditions"
when the volume is created, it is not removed on the event of a failure, so the next time you will find the volume being referenced in the state file, but not phisically present in the pool...
[code]

[2018-07-17 06:18] MalloZup commented on #324
https://github.com/kubic-project/automation/issues/367

[2018-07-17 06:21] MalloZup commented on #319
as we discussed briefly, we think that async communication is best way for interacting.

We can have meetings on fridays at 10.30 via irc gitter channel, and see if it fits, but as starting point is ok

[2018-07-17 06:21] #319 closed

[2018-07-17 06:22] MalloZup commented on #278
closing, i think is invalid since we have centos7 user already feel free to reopen and ask question here if you need help thank you!

[2018-07-17 06:22] #278 closed

[2018-07-17 06:23] MalloZup commented on #138
i'm just closing this because for the moment we achieved, feel free to reopen a new more specific task

[2018-07-17 06:23] #138 closed

[2018-07-17 06:55] MalloZup commented on #324
i will investigate on this on freecycles

[2018-07-19 08:04] MalloZup commented on #311
@dmacvicar closing in favor of https://github.com/dmacvicar/terraform-provider-libvirt/pull/328

[2018-07-19 08:04] #311 closed

[2018-07-19 19:52] #290 closed

[2018-07-20 05:43] dmacvicar commented on #324
Can we go&describe over the steps of creation that may fail in between? then we can define a way to make it more atomic.

What kind of failures are you _seeing_ during creation?

[2018-07-20 17:23] MalloZup opened #329 "Add generic option for disk format"
We have 2 prs open for trying to fix this issue.

I tend to like the generic solution

https://github.com/dmacvicar/terraform-provider-libvirt/pull/183#issuecomment-347194453

[2018-07-21 15:07] marcindulak commented on #312
https://github.com/dmacvicar/terraform-provider-libvirt/commit/67f5aa77d92615f5633fe2211566b531e57141d0 still failing on output using:

[code]

but this time `terraform apply` takes longer and actually the assigned ip address is present in the log, but not in `terraform.tfstate`:

[code]

[2018-07-24 14:13] MalloZup opened #331 "having junit format for jenkins"
## Description:

once we move to Jenkins for the testacc and use pipelines, we want also to produce junit so we can benifits from jenkins functionalities. ( like nice tests-reports  and we can also fetch the results by other 3rd party apps)

## Tasks:

- [ ] research about good golang plugin. Found already this https://github.com/jstemmer/go-junit-report
- [ ] add needed pkg to upstream
- [ ] upda

[2018-07-25 07:32] MalloZup opened #334 "CI jenkins pipeline: consider tests for ubuntu/fedora"
## Description:
This is a reminder to take in consideration this
#182  was adding additional tests for fedora but for travis

Since we are moving to Jenkins we might use container in pipelines or differents pipelines for testing OS-Version ( we might decide later).

[2018-07-25 08:13] MalloZup commented on #317
this mostly done, testacc was fixed. i will reopen more specific issues if we have tests failing

[2018-07-25 08:13] #317 closed

[2018-07-25 08:33] MalloZup opened #335 "FAIL: TestShutoffMultiDomainsRunning (17.51s)"
this test is failing on testacc.
 i will have a look

[2018-07-25 08:38] MalloZup commented on #324
https://github.com/dmacvicar/terraform-provider-libvirt/commit/d6ff0ccd1fa160be716175dae88f10837917c1c1

[2018-07-25 09:55] MalloZup opened #337 "To be mentioned on relases notes"
This issues is for gathering PRs and improvements that were done on the provider.
So once we publish the releases-notes we don't forget about this improvements.

Feel free to add more :sunflower: @inercia @dmacvicar jfyi

https://github.com/dmacvicar/terraform-provider-libvirt/pull/336

[2018-07-25 14:43] MalloZup commented on #335
ok this was my internall issue fixed ( domain was not cleanup)

[2018-07-25 14:43] #335 closed

[2018-07-25 17:59] dmacvicar commented on #337
0.4 is released! https://github.com/dmacvicar/terraform-provider-libvirt/releases/tag/v0.4

[2018-07-25 17:59] #337 closed

[2018-07-25 18:01] dmacvicar commented on #273
0.4 is released and now we provide builds (a simple tar with the binary) for different distributions:

https://github.com/dmacvicar/terraform-provider-libvirt/releases/tag/v0.4 is the first release to include them.

* https://download.opensuse.org/repositories/home:/dmacvicar:/terraform-provider-libvirt:/stable has the builds for the latest stable tag.
* https://download.opensuse.org/repositories/

[2018-07-25 20:15] MalloZup commented on #273
![fire](https://media.giphy.com/media/26tOZ42Mg6pbTUPHW/giphy.gif)

[2018-07-26 06:55] MalloZup opened #338 "run testsuite on Jenkins CI:"
## Description:
Move travis-ci to jenkins ci.

## Design proposal:
I would vote to use jenkins-pipelines and having the `terraform-provider-libvirt` in a container.
Having the plugin in container ( this managed by pipelines with [docker](https://jenkins.io/doc/book/pipeline/docker/)) we can have freedom for testing multi-distros

## Tasks
### infra:
- [ ] resolve infra hw question (slave, etc)
- [

[2018-07-26 07:06] MalloZup opened #339 "Survey: which terraform-libvirt conf files are for you important used in PROD or everyday etc?"
this is a survey:
 i would like that you can post your `tf.files`  that you use in your Project, production or in your daily work flow.  ( without any sensitive data of course :dancer: :robot: ).
The terraform files or use-cases that you care about.

Having this kind of files could help us to see also the usage and if we cover more or less all scenario with our testacc. ( if this tf files are to m

[2018-07-26 07:20] dmacvicar commented on #339
https://github.com/moio/sumaform/tree/master/modules/libvirt

[2018-07-26 07:50] MalloZup commented on #339
https://github.com/kubic-project/automation/blob/master/caasp-kvm/cluster.tf.erb

[2018-07-26 10:09] #284 closed

[2018-07-27 10:34] MalloZup opened #342 "upstream tests are failing for terraform opensuse pkg"
# Description:
currently 2 tests are failing when building pkgs terraform
https://build.opensuse.org/package/show/Virtualization:containers/terraform

we run the upstream testsuite from terraform on OBS.
https://build.opensuse.org/package/live_build_log/Virtualization:containers/terraform/openSUSE_Leap_15.0/x86_64
[code]

Some tests are from time to time failing.
We need to investigate why and fix

[2018-07-28 09:20] MalloZup opened #343 "Update aur pkg and doc more releases process"
https://aur.archlinux.org/packages/terraform-provider-libvirt/

Is using the 3.0. Can we build aur binary for archlinux? We need also, to update there
@dmacvicar  i would like to know if we can release also the binary in github for minor version like the 4.1 automatically. Tia

[2018-07-28 09:25] MalloZup opened #344 "Use github templates"
https://github.com/dmacvicar/terraform-provider-libvirt/community
 There is  check list there for template we are missing. We might add some of them if make sense
For issues github provide 2 kind of, one for feature one for bugs. I think this is nice

[2018-07-28 09:42] dmacvicar commented on #343
* It should be possible to build for Arch. Building the package is something you can try locally copying the modified PKGBUILD to the project osc checkout.
* but I am not sure how to do the "publish only the plugin binary" part

* It should be possible to do releases automatically, however, right now writing the release changelog and waiting for all the binaries to build is still a manuall process

[2018-07-28 09:43] dmacvicar commented on #343
(btw the reason why v0.4.1 was tagged and you did not see release is exactly that: I went to bed so that the binaries build and planned to release the next morning).

[2018-07-28 09:58] dmacvicar commented on #344
I am ok with introducing templates for the issues and templates, but I would expect a concrete proposal and reasoning for them (eg. one used by a similar project).

I don't see the need for the rest for now.

[2018-07-28 09:58] #344 closed

[2018-07-28 10:04] dmacvicar commented on #312
This is due to this:

[code]

It is fixed on master (210a4ce2235f07017ed708a6792fd3b86a8c511d) and released in 0.4.1.

[2018-07-28 10:04] #312 closed

[2018-07-28 10:05] MalloZup commented on #343
ye might have a look at https://github.com/cornelius/yes_ship_it for this kind of assertion concering relase.
I tend to like the idea of cornelius. i will have a look on AUR pkg after :beach_umbrella:

[2018-07-28 12:56] dmacvicar commented on #315
[code]

Works for me in Leap 42.3

On CentOS, it works (only that you get 2 addresses per machine ipv6 and ipv4:

[code]
Please test with the current code and reopen if you still have problems.

I still propose that we add the output example to the documentation.

[2018-07-28 12:56] #315 closed

[2018-07-28 15:18] MalloZup commented on #305
https://build.opensuse.org/package/view_file/home:dmacvicar:terraform-provider-libvirt:stable/terraform-provider-libvirt/terraform-provider-libvirt.spec?expand=1

[2018-07-28 16:21] MalloZup opened #347 "remove "stability" :beta and change it with more appropriate"
I feel  that the "stability" beta at this point is not anymore needed.
I mean we are keeping things forward and people use terraform-provider-libvirt since a while now, and without any major bugs that could be mentioned with a beta release, and we use it in day by day production env.  ( we have some improvements but this is software :floppy_disk: )

I'm not really a super-fun of that budget, to me

[2018-07-30 23:04] wking commented on #142
I think this is a SELinux issue.  For example:

[code]

Details on the violation (from `sealert -l 9e4d48aa-f066-464c-a7eb-237bd48a3fe5`):

[code]

[2018-07-31 18:55] cgwalters commented on #142
I personally have `/srv/libvirt/images-gold` which is a set of immutable template images that can be used as backing files; they're all `virt_image_t:s0` like the main libvirt images.  Basically don't try to store them in your home directory.

[2018-08-02 00:09] hexfusion commented on #343
I use Arch and could manage the aur package if that makes sense.

[2018-08-02 04:47] ianabc commented on #297
Yes, I have this as well

[2018-08-02 14:49] ansemjo commented on #308
I hit a smilar error just now when using a single `bridge = "..."` statement inside a `network_interface { }`.

[code]

It crashed Terraform entirely:
[code]

Can't say for sure which version of the provider I was using though:

[code]

Updating the provider by compiling it from source seems to have fixed the problem. No more crashes so far ...

[code]

[2018-08-02 15:05] congaframe opened #349 "Configure VNC listen address"
#  Version Reports:

### Distro  version of host:
Debian 8

### Terraform Version Report
(Provided by running `terraform -v`.)
0.11.7
### Libvirt version

```virsh --version```
1.2.9
### terraform-provider-libvirt plugin version (git-hash)
0.4.1
``` git log```
___
# Description of Issue/Question
Hi,
How can I specify the listen address for VNC?
It is currently listen to 127.0.0.1

My config is:
[c

[2018-08-04 21:16] ncsurfus opened #350 "Add Network Model Configuration"
#  Version Reports:

### Distro  version of host:

``` Ubuntu```

### Terraform Version Report
Terraform v0.11.7

### Libvirt version

```1.3.1```

### terraform-provider-libvirt plugin version (git-hash)
0.4
``` git log```
___
# Description of Issue/Question

Add support for other network model besides virtio.
In file: resource_libvirt_domain.go, function: setNetworkInterfaces, there is this line

[2018-08-05 15:08] bpetit commented on #88
I'm not completly sure it is the same bug, but I encountered something very similar on both destroy and apply:

The volumes do exist:

Volumes source files are present too.

Let me know if I can paste more useful data.

[2018-08-06 22:24] dmacvicar commented on #343
I have no problem on adidng a PKGBUILD.

I am not sure how to build it like we do for Debian, where we reuse the same spec.

[2018-08-06 22:26] dmacvicar commented on #350
What is the use-case nowadays to not use `virtio`?

[2018-08-07 10:11] ncsurfus commented on #350
My use case is for Cisco vIOS and other virtualized routers/switches. The network model support for them is generally poor since their physical counterparts utilize ASICs and these virtualized devices are often meant for a testing / learning environment. Previously, I’ve hand built virtualized network environments to validate code against network devices. My goal is to be able to stand up these en

[2018-08-08 12:25] kamsz opened #351 "Multiple URIs doesn't work"
#  Version Reports:

### Distro  version of host:

MacOS 10.13.5

### Terraform Version Report

0.11.7

### Libvirt version

4.5.0

### terraform-provider-libvirt plugin version (git-hash)

77cf2f2574f2df43b92086135fe248b2b7e91b38
___

While aliasing different provider configurations, Terraform is still using default one.

### Setup

[code]

[code]

[2018-08-09 08:04] Bischoff commented on #88
It is worse with terraform 11.7 and the provider 0.4.2: it now happens on *all* volumes and *all* the times.

An "easy but dirty" workaround is to remove all volumes manually with a simple `rm` command after the `terraform destroy`.

[2018-08-09 08:10] moio commented on #88
Does `terraform apply -parallelism=1` work as it did with older Terraforms?

[2018-08-09 08:55] Bischoff commented on #88
With `terraform destroy -parallelism=1` the destroy at least completes, but now we have slightly different messages:
[code]

[2018-08-09 09:02] moio commented on #88
Are the disks really gone (ie. we could disregard "an error occurred, but the cause is unknown")?

[2018-08-09 09:05] dmacvicar commented on #351
Is the aliased one the only one you defined or there is one without alias?

[2018-08-09 09:05] kamsz commented on #351
Aliased one is the only one I've defined.

[2018-08-09 09:08] Bischoff commented on #88
No, they are still there, but the domains are really gone.

So a workaround could be: `terraform destroy` with `-parallelism=1`, ignore errors and the destroy volumes manually.

[2018-08-09 10:12] dmacvicar opened #352 "Implement out-of-band destroy of resources"
[Documentation](https://www.terraform.io/docs/extend/writing-custom-providers.html) is very clear that resources can be destroyed out-of-band and that the provider has to handle that gracefully.

Right now, if the expected resource is not found via libvirt, the providers errors. Some additional logic has to be implemented, like checking the specific error (DOMAIN_NOT_FOUND), same with volumes.

I

[2018-08-10 14:51] gcavalcante8808 commented on #324
@MalloZup can u provide some information about the discussion you had about libvirt?

I have some issues with racing conditions when I try to use terraform ansible modules from nbering with the libvirt module. If I create the hosts without the "ansible_host" resource and then add the configuration, it works flawlessly.

If I try to use a complete TF file with domain and ansible configurations, ter

[2018-08-10 22:15] dmacvicar commented on #351
I can't reproduce it. This works fine for me:

[code]

May be you can run it with `TF_LOG=debug` and attach the debug output and the full HCL file.

[2018-08-10 22:52] dmacvicar commented on #324
@gcavalcante8808 Please keep unrelated discussion in a separate issue/PR.

In any case, try:

[code]

[2018-08-12 23:54] mjiao opened #355 "provider.libvirt: plugin exited before we could connect. terraform-provider-libvirt: 0.4.2 with terraform v0.11.7"
#  Version Reports:
terraform-provider-libvirt: 0.4.2

### Distro  version of host:

``` Centos7 ```

### Terraform Version Report
(Provided by running `terraform -v`.)
Terraform v0.11.7

### Libvirt version

```virsh --version```
3.9.0

### terraform-provider-libvirt plugin version (git-hash)

``` git log```
___
# Description of Issue/Question

# terraform/terraform init

Initializing provider pl

[2018-08-13 10:49] mjiao commented on #355
with TF_LOG=debug on, found that libvirt was not installed:
2018-08-13T10:21:39.874Z [DEBUG] plugin.terraform-provider-libvirt: /root/terraform-infra-deployment/terraform/terraform-provider-libvirt: error while loading shared libraries: libvirt-lxc.so.0: cannot open shared object file: No such file or directory

Close the issue.

[2018-08-13 10:49] #355 closed

[2018-08-14 13:16] multani opened #356 "Destroying a domain should try to power it off first"
#  Version Reports:

### Distro  version of host:

Debian stretch

### Terraform Version Report
v0.11.7

### Libvirt version

`3.0.0`

### terraform-provider-libvirt plugin version (git-hash)

`58cc06611667bbbdddafacb411cd6bc8da1c2b00`
___
# Description of Issue/Question

When a domain is destroyed by Terraform, it should be possible to send it a "power-off" signal so that it has the chance to shu

[2018-08-14 13:25] mattymo opened #357 "Unable to set disk size when deploying from cloud image"
#  Version Reports:

### Distro  version of host:

```  Ubuntu.. ```

### Terraform Version Report
Terraform v0.11.7

### Libvirt version
1.3.1

### terraform-provider-libvirt plugin version (git-hash)

``` git log```
___
# Description of Issue/Question

How can you use a cloud image (of Ubuntu for example) and create a libvirt_volume larger than the default qcow2 size provided by the source image

[2018-08-14 14:15] mattymo commented on #357
Workaround I have for now:
wget $CLOUD_IMAGE
qemu-img resize $CLOUD_IMAGE 40G
Put the path to image in my libvirt.tf

[2018-08-14 23:15] mjiao opened #358 "could not open disk image /dev/vghost/vol1: Image is not in qcow2 format"
#  Version Reports:

### Distro  version of host:

```Centos7 ```

### Terraform Version Report
(Provided by running `terraform -v`.)
0.11.7
### Libvirt version

```virsh --version```
3.9.0
### terraform-provider-libvirt plugin version (git-hash)

``` git log```
0.4.2
___
# Description of Issue/Question

### Setup
(Please provide the full **main.tf** file for reproducing the issue (Be sure to remo

[2018-08-16 10:50] #352 closed

[2018-08-16 11:05] dmacvicar commented on #358
Thanks for the report. I think the provider lacks logic in terms of what format to use given storage pool types.

Can you share a working domain definition? Do you need to specify the format or will libvirt automatically detect/select the right one? If we confirm that libvirt is smarter than I think, we may actually remove setting/hardcoding the format.

<sub>Sent with <a href="http://githawk.com"

[2018-08-16 11:42] dmacvicar commented on #357
`base_volume_id` uses the _COW_ funcionality of _qcow2_ to direct writtes to the volume on top so that you can share space between images that start from the same initial state. However, I am not aware that you can change the size of the resulting volume if you do this, as resizing it would mean changing the base `qcow2` and when using a base volume, the base `qcow2` is AFAIK read-only.

<sub>Sent

[2018-08-16 11:47] dmacvicar commented on #356
I think there are flags on the libvirt API that controls the destruction of the domain to do something like this. However this would need some research.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-08-16 12:15] andreashaerter commented on #358
Hello,

**A bit of framing:** There is a LVM volgroup `/dev/vghost`. A VM shall get a logical volume in there as disk. The volgroup was added as storage pool via `virsh pool-define-as 'vghost' 'logical' --target '/dev/vghost'`. It is running and active:
[code]

The Terraform run @mjiao mentioned created the volume:

[code]

**A working manual domain creation** would look as follows (took a Jenkins

[2018-08-16 13:48] dmacvicar commented on #358
Ok, this seems to be the relevant part of the documentation:

So I guess we could fix it by not passing any format. However, I am suspicious of the XML dump, given that the volume was created by the provider code that mostly assumes that we are dealing with a _dir_ pool and _qcow2_ files.

Reading _libvirt_ documentation I notice there is a `source="volume"` supported since _0.8.7_ that I suspect

[2018-08-16 22:49] mjiao commented on #358
Thanks for your reply @dmacvicar . In addition to the info provided by @andreashaerter, here is info regarding the successful and failed cases:
### Success case
The following is an example of a **working** domain terraform code and its xml dump (only a [Packer ](https://www.packer.io/)baked image is used as base of volume creation).
[code]
The xml dump:
[code]
### Failed cases
1. **Failed** case:

[2018-08-18 14:08] dmacvicar commented on #356
My biggest concern here is that we would need to introduce time-outs which would slow down everything, or am I wrong?

[2018-08-19 09:07] MalloZup commented on #356
@multani  just for curiosity, if you are going to destroy/remove forever a VM why ``` deregistering services upon shutdown``` is important ? I mean if the VM is removed you should stop the service before removing it, or if you are going to remove a vm the service inside the VM are not anymore important.
I cannot figure out a use case for it. But maybe you know better on the subject.
To me at this

[2018-08-19 12:09] Lennie opened #359 "Remove graphics from the default definition"
#  Version Reports:

### Distro  version of host:

``` openSUSE 42.2/ Centos7/ Ubuntu.. ```

Debian 9.5

### Terraform Version Report
(Provided by running `terraform -v`.)

### Libvirt version

```virsh --version```

virsh 3.0.0

### terraform-provider-libvirt plugin version (git-hash)

``` git log```

commit 58cc06611667bbbdddafacb411cd6bc8da1c2b00
Author: Duncan Mac-Vicar P <dmacvicar@suse.de>
D

[2018-08-20 08:30] dmacvicar commented on #358
I have started to work in this issue. I am still unsure what is the best way of fixing it.

Originally I thought it was directly related to the fact that we hardcoded the `file` type of volume, and I already have a branch improving this. However this was only part of it.

There are two `format` parameters. One is part of the volume definition, and then there is an attribute for the _driver_ that t

[2018-08-20 10:43] Bischoff commented on #88
The more I think to it, the more I'm convinced we have two distinct problems:
* the race condition, worked around with `-parallelism=1`
* the libvirt problem

If that's so, sorry to have hijacked this issue for the second problem.

[2018-08-20 11:29] MalloZup opened #361 "domain update function is unused"
after  some investigation i found out that  this function:
https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/libvirt/resource_libvirt_domain.go#L536

is never "covered by testacc" even when it should.

The `ForceNew` attribute on resource is forcing new resource instead of updating it.
The open question is why do we have the update call if we don't use it ( still searching)

http

[2018-08-20 12:58] MalloZup commented on #361
@dmacvicar  do you know why we have the domain update function at L536?

i did git blame and found out:
https://github.com/SUSE/spacewalk/issues/5485#issue-351253027

since we have default parameter that set ForceNew to true, we will never go to domainUpdate function

like https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/libvirt/resource_libvirt_domain.go#L67

[2018-08-20 17:26] MalloZup commented on #351
@dmacvicar your example works fine for me too.
I think it is a local issue from @kamsz
@kamsz  can you post your
[code]
? TIA

feel free to ask if you need any help

[2018-08-20 18:04] MalloZup commented on #359
@Lennie thank you for the issue.
the spice is always created because a default value is set there.

https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/libvirt/resource_libvirt_domain.go#L238

I will look at this soon thx for reporting!

[2018-08-20 19:15] MalloZup commented on #308
reproducing with latest provider
[code]

[2018-08-21 07:39] vjdhama opened #364 "libvirt_network creation fails for existing bridge"
#  Version Reports:

### Distro  version of host:

``` Ubuntu 18.04 ```

### Terraform Version Report

[code]

### Libvirt version

[code]

### terraform-provider-libvirt plugin version (git-hash)

[code]
___
# Description of Issue/Question

By default virsh allows creation on a libvirt network on existing host bridge.
https://libvirt.org/formatnetwork.html#examplesBridge

That works if you create

[2018-08-21 08:37] kamsz commented on #351
Sure, here's debug:

[code]

And here's the actual code:

[code]

[2018-08-21 08:41] kamsz commented on #351
I've figured it out, it was an issue with old resource in state :) Thanks!

[2018-08-21 08:41] #351 closed

[2018-08-21 09:13] vjdhama commented on #364
The flow IMO, should be

`virsh net-define net.xml` and then `virsh net-start default`, instead on ``virsh net-define net.xml` ` and `virsh net-create net.xml`.

Relevent code : https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/libvirt/resource_libvirt_network.go#L296

[2018-08-21 09:18] kamsz opened #365 "Import volume"
I'm trying to import a volume with:

`terraform import module.chef_server.libvirt_volume.volume chef-server`

[code]

Volume definition:

[code]

where `volume_pool_name` defaults to correct pool.

[2018-08-21 09:41] kamsz commented on #365
Apparently it works with "/poolname/volumename".

[2018-08-21 09:41] #365 closed

[2018-08-21 11:34] MalloZup commented on #88
To all:

Resuming this issue was about retrieve volumes by id.

As user we get the error:
`libvirt_volume.main_disk: Can't retrieve volume  sles12sp1`

As @dmacvicar  stated in his PR comment, at the end
` and probably (no evidence) related ones like #324 and #88`

https://github.com/dmacvicar/terraform-provider-libvirt/pull/353#issue-207733280

Since this issue was a race condition we cannot test

[2018-08-21 11:34] #88 closed

[2018-08-21 11:40] MalloZup commented on #88
https://github.com/SUSE/spacewalk/issues/5544

[2018-08-21 12:37] MalloZup commented on #308
@ansemjo thx for your comment :+1: i"m working on it :sunflower:

[2018-08-21 12:38] MalloZup commented on #364
thx @vjdhama for issue, i will tag it a need_investigation atm i"m on other issues. :+1:

[2018-08-21 12:39] MalloZup commented on #347
removing for later

[2018-08-21 12:39] #347 closed

[2018-08-21 12:46] ansemjo commented on #308
I'm happy if my comment helped finding a bug but I _think_ that you've hit a different issue than mine? As I said, after updating to master 18 days ago I had no more crashes for my usecase. It looks like my issue might have been fixed by 49e87713adc09eae69c175e2b1a458e7c59a1c6d or at least around that timeframe.

Either way, you're welcome. :)

[2018-08-21 12:55] MalloZup commented on #308
yop you are right :sunglasses:  , this are 2 diff issues, but ok the original one is about a ReaderIO your is on networking yop thx ! have a nice day

[2018-08-21 14:07] dmacvicar commented on #361
`ForceNew` set to true in default parameters should not influence the calling of the _Update_ hook. As I understand the model it is when an attribute marked as `ForceNew` _CHANGES_ that the _Update_ hook not called, but the whole resource destroyed.

In this example, as our _Update_ hook does not implement switching the amount of memory _after_ the resource is created (we could investigate if libv

[2018-08-21 14:47] MalloZup commented on #308
after using more debug, found out that the EOF is coming from
https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/libvirt/utils_volume.go#L159.

[2018-08-21 16:03] sebastian-philipp opened #368 "DPKG warning: maintainer is missing"
#  Version Reports:

### Distro  version of host:

``` Ubuntu 18.04 ```

### Terraform Version Report
Terraform v0.11.8

### terraform-provider-libvirt plugin version: 0.4.3-2.1

___

I'm getting this warning:
[code]
fehlt = missing.

[2018-08-21 16:06] MalloZup commented on #368
thx

[2018-08-21 17:52] MalloZup commented on #324
@dmacvicar closing it since you say it might possjble fixed.

@inercia you might try this out on kubic, since you are using there cloud-unit.

If is not fixed feel free to reopen

[2018-08-21 17:52] #324 closed

[2018-08-21 19:17] inercia commented on #324
Thanks for the heads up, @MalloZup, I will try it.

[2018-08-22 05:42] BlamKiwi opened #369 "Support Volume Resizing from Base Volume"
#  Description
You support using base images for volumes OR creating an empty volume of a particular size. It would be good if you also supported created a volume from a base, but also resize it to a larger capacity. [This could then be reconfigured by cloud-init to provide a larger root volume. ](https://cloudinit.readthedocs.io/en/latest/topics/examples.html#grow-partitions)

I've come across th

[2018-08-22 07:55] MalloZup commented on #369
https://github.com/dmacvicar/terraform-provider-libvirt/issues/357 same issue proposal afaik

[2018-08-22 10:46] MalloZup commented on #308
@ayaseen do you have a TF file that you used for this? ( i can reproduce it not always with other env but is ok to have more just in case)tia

@dmacvicar i did some reaserch on this.

so we get an unEOF this mean that an EOF was encountered in the middle of reading a fixed-size block or data structure.
I just checkout the HTTP part were we implement the io.Reader and this seems really fine to me.

[2018-08-23 08:01] MalloZup commented on #308
@ayaseen it ended up that was not a bug from provider, but the image on the server were the pb.

curl 18
https://curl.haxx.se/libcurl/c/libcurl-errors.html

I just open a PR for improving the errmsg

[2018-08-23 08:28] MalloZup commented on #299
The source image like `"http://web-server.com/fed-28-template.qcow2"   ` are downloaded to a golang stream and saved directly to libvirt volume which is in the KVM server.
So there is no local-copy and then transfer to remote uri kvm server.
Instead everything happens on the remote-kvm server with the libvirt-api

So  taking your example

[code]
THe images/volume are uploaded on this server 10.1.3

[2018-08-23 08:56] sebastian-philipp opened #370 "Plugin not installed on Ubuntu"
#  Version Reports:

### Distro  version of host:

```Ubuntu 18.04```

### Terraform Version Report
(Provided by running `terraform -v`.)
[code]

### Libvirt version

[code]

### terraform-provider-libvirt plugin version (git-hash)

[code]
___
# Description of Issue/Question

### Steps to Reproduce Issue
[code]
I would have expected that the plugin is either installed in the package, or these two

[2018-08-23 09:07] MalloZup commented on #370
@sebastian-philipp thx for issue. to make sense feel free to submit an OBS request

[2018-08-23 09:26] sebastian-philipp commented on #370
Well, I don't think a deb package installation should modify the user's home directory. So, this is more like a general Terraform issue, or this can only be fixed in the documentation here on GitHub.

[2018-08-23 09:29] MalloZup commented on #370
@sebastian-philipp https://github.com/dmacvicar/terraform-provider-libvirt#installing

On Linux and unix systems, in the sub-path .terraform.d/plugins in your user's home directory

[2018-08-23 10:31] MalloZup commented on #299
@hooksie1  for any other question feel free to ask :+1:

[2018-08-23 12:33] sebastian-philipp commented on #370
@MalloZup well, you first have to look for the installation location of the plugin. At least, I'd mention the location of the command. Right now, I had to use `dpkg-query -L terraform-provider-libvirt` to find the plugin.

[2018-08-23 12:39] MalloZup commented on #370
@sebastian-philipp ok thx for infos. I'm using the golang source directly so i didn"t know about it
Yeah this would be really cool to make more compact the doc :+1:

[2018-08-23 16:38] #299 closed

[2018-08-23 17:13] #361 closed

[2018-08-23 17:21] MalloZup opened #371 "testcoverage improvements list of possible testacc"
this card is a list of possible testacc that we can implement for codecoverage and stability of plugin.
It is intended to be open so if you want to try to implement one of them just ping here on the card

## tests:

- [ ] baseVolumeName test

[2018-08-23 17:24] #371 closed, assigned to nobody

[2018-08-23 18:46] #246 closed

[2018-08-23 18:47] MalloZup commented on #307
ciao @mbaquer6 do you have a terraform.tf file that can show this behaviour for reproducing it?

[2018-08-23 18:48] MalloZup commented on #342
not anymore a pb, closing

[2018-08-23 18:48] #342 closed

[2018-08-23 19:09] mbaquer6 commented on #307
@MalloZup
Hello,
Yes, I updated the description and added the main file.
Thanks.

[2018-08-24 08:10] MalloZup opened #372 "randomize resource names used in Testacc"
As a reminder add random resource names.
# problem and advantages
In this way when a test fail we don"t have the cascaded failures ( all test using same resource will fail because resource was not destroyed/cleaned etc) , because the test are not dependent on same resources.

# what you can do:

randomize resources in following tests:

- [x] cloudinit

- [x] networking:  https://github.com/dmacvic

[2018-08-24 14:55] MalloZup opened #374 "bridge mode follow-up issue from #373 qemu-agent"
follow-up issue from
https://github.com/dmacvicar/terraform-provider-libvirt/pull/373

[2018-08-26 16:35] dmacvicar commented on #358
@mjiao Are you able to build a test branch yourself in order to test?

[2018-08-27 08:50] MalloZup commented on #313
@marcindulak i just took the freedom to make less verbose your TF for reproducing it
@night199uk  thx for your sharing,  `ConflictsWith: []string{"user_data"},` will not work either i just tried it out.

To me after some small research we need to dive better on the `user_data` implementation, is pretty weird at moment that doing a terraform plan mark the resource to be recreated.

I think we need

[2018-08-27 17:31] #374 closed

[2018-08-27 18:49] MalloZup opened #379 "enable parallel tests"
depend on https://github.com/hashicorp/terraform/pull/18688

[2018-08-28 08:39] dmacvicar commented on #358
Hi @mjiao. See the PR referenced above.

[2018-08-28 08:43] axxyhtrx commented on #350
+1

[2018-08-28 08:56] MalloZup commented on #329
fixed by the WIP pr https://github.com/dmacvicar/terraform-provider-libvirt/pull/380

[2018-08-28 08:56] #329 closed

[2018-08-28 11:14] mjiao commented on #358
@dmacvicar thanks for the message. Will test that.

[2018-08-28 11:15] MalloZup commented on #358
Thx @mjiao

[2018-08-28 12:27] multani commented on #356
So, just to take this out: I like the current behavior which allows for very fast destroy/creation cycle and I think it should be kept somehow!

@MalloZup As for the use case: we have some services (Consul and Sensu, in particular) which are running on these VMs (they provide a way to register the VMs automatically in the service discovery when they come in). Destroying the VMs with the current be

[2018-08-28 12:37] MalloZup commented on #356
@multani thx for the reply to your usecase and proposal suggestion for the implementation.

Personally i prefer the `shutdown_before_destroy` flag rather then `shutdown_timeout` because we would proper shutdown.
The timeout solution looks simple but imho is safer the better/proper one ( we could add maybe a maximal timeout there like 1H or so  for waiting the destroy )

[2018-08-28 15:37] dmacvicar commented on #350
I am in favor of this, even if it is not in the top of the list of the things I would spend my time on.

Before even accepting more "options" that change the schema, I am toying with the idea to add some hooks to the resources that would allow to set arbitrary values in the _libvirt_ _xml_ definition, that would help everyone with corner cases or custom configurations.

I was thinking something ar

[2018-08-29 05:55] moio commented on #305
Issue is still present, and requirement is still in the specfile:

[code]

https://build.opensuse.org/package/view_file/systemsmanagement:terraform:unstable/terraform-provider-libvirt/terraform-provider-libvirt.spec?expand=1

[2018-08-29 05:58] #305 closed

[2018-08-29 07:42] sebastian-philipp opened #383 "Libvirt: incomplete output of `virsh net-dhcp-leases`"
#  Version Reports:

### Distro  version of host:

```Ubuntu 18.04```

### Terraform Version Report
[code]

### Libvirt version

[code]

### terraform-provider-libvirt plugin version (git-hash)

[code]
___
# Description of Issue/Question

### Setup

https://github.com/kubic-project/automation/pull/474

### Steps to Reproduce Issue
```terraform apply```

___
# Additional Infos:

Downstream issue: h

[2018-08-29 08:17] MalloZup commented on #383
@sebastian-philipp thank for issue :+1:

[2018-08-29 09:34] sebastian-philipp commented on #383
All clones generated by terraform-provider-libvirt have the same machine-id: https://bugs.launchpad.net/ubuntu/+source/libvirt/+bug/1788841/comments/9

[2018-08-29 13:51] moio commented on #88
This is actually confirmed to be a core libvirt issue fixed from version 4.3.0 on. Specifically by this patch, that can be applied back to 4.0.0 without issues:

https://bugzilla.redhat.com/show_bug.cgi?id=1576464#c3

[2018-08-29 14:27] moio commented on #88
Reported against Ubuntu as: https://bugs.launchpad.net/ubuntu/+source/libvirt/+bug/1789659
Reported against SUSE distros as: https://bugzilla.suse.com/show_bug.cgi?id=1106420

openSUSE Tumbleweed is not affected

[2018-08-29 17:11] MalloZup commented on #383
@sebastian-philipp thank you for issue i would propose we can close it, what do you think?

[2018-08-29 17:17] MalloZup commented on #383
thx for beeing open and posting all issues related and bug opened :+1:

[2018-08-29 17:29] MalloZup commented on #370
@sebastian-philipp i was wondering if we just copy the binary to `/usr/bin` this is what the suse-pkg is doing, we could do the same for others distros, i think should work

[2018-08-29 18:43] MalloZup opened #384 "Research on better implementation of cloudinit"
https://www.terraform.io/docs/providers/template/d/cloudinit_config.html

[2018-08-29 18:48] MalloZup commented on #384
https://github.com/dmacvicar/terraform-provider-libvirt/issues/313 and many other issues. Goal of this is to be spare code more generic

[2018-08-29 20:18] MalloZup commented on #339
https://github.com/openshift/installer/blob/5373f16f2322b243cad7ccb616368847d6516500/steps/masters/libvirt/main.tf

[2018-08-29 23:04] mjiao commented on #358
Test summary:
1.  Volume format is set correctly for both qcow2 and raw while creating on default pool. Domain is configured correctly. Tested using the examples below:
[code]
2. raw volumes can be created correctly using vghost lvm pool. Domain is configured correctly with the correct format of volume attached. Tested using the example below:
[code]
3. Extra volumes can also be created and attach

[2018-08-30 06:52] MalloZup commented on #338
https://github.com/dmacvicar/terraform-provider-libvirt/issues/334

[2018-08-30 06:52] #334 closed

[2018-08-30 06:53] MalloZup commented on #338
https://github.com/dmacvicar/terraform-provider-libvirt/issues/331

[2018-08-30 06:53] #331 closed

[2018-08-30 06:54] MalloZup commented on #276
we will merge this on https://github.com/dmacvicar/terraform-provider-libvirt/pull/376

[2018-08-30 06:54] #276 closed

[2018-08-30 07:58] #383 closed

[2018-08-30 08:39] MalloZup commented on #358
merged closing :+1:

[2018-08-30 08:39] #358 closed

[2018-08-30 10:26] sebastian-philipp commented on #383
Yesterday, I learned "machine-id" is a thing :smiley:

[2018-08-30 10:27] MalloZup commented on #383
@sebastian-philipp yop this experience is a must have , i had some issue 2 years ago.. :rofl:

[2018-08-30 14:07] MalloZup opened #386 "add bridge networking testcase"
i assign this to me but any contributor can take it.

How to do it:

create bridge and verify that the xml is set correctly

[2018-08-30 14:08] MalloZup opened #387 "refactoring: add function for domain like networing"
the networking resource has a function like this
`func newDefNetworkfromLibvirt(network Network) (libvirtxml.Network, error) {`

do the same for domain for getting the xml and refactor code

[2018-08-31 08:04] MalloZup opened #388 "inconsistences between create/update/read resources in the provider"
# Issue:
i just found that we don't handle well the `update` terraform call for some resources. (especially the update but i think same is for saving states and read function).

This is in 2 directions were can improve:

1. We need to test in testacc the `update` of resource.
Take the following example with Network resource ( i just post relevant values).

We need to test 1time with
[code]
then we

[2018-08-31 13:56] MalloZup opened #389 "updating existing networks"
currently all network that we create, we cannot modify them  via a terraform Resource update api call.

This is due because we don't implement Network.update call from libvirt ( i try it out, it is not really straightforward because we need to consider various flags plus pass the xml part of updating network)

https://libvirt.org/html/libvirt-libvirt-network.html#virNetworkUpdate

To me the easies

[2018-08-31 20:52] vjdhama commented on #364
@MalloZup Thanks for looking into this.

[2018-09-01 13:08] remoe opened #390 "libvirt_volume: add compressed image to "source" ?"
I want to add a compressed image to source of libvirt_volume:

[code]

Container Linux does not provide an uncompressed qcow2-image.
Is it possible to create an image from a compressed source file ?

[2018-09-03 12:17] MalloZup commented on #384
https://github.com/dmacvicar/terraform-provider-libvirt/pull/267

[2018-09-03 15:10] MalloZup opened #391 "add dns enabled= true/false option"
follow-up from https://github.com/dmacvicar/terraform-provider-libvirt/pull/376

https://github.com/dmacvicar/terraform-provider-libvirt/pull/376#issuecomment-418134394

[2018-09-03 15:32] MalloZup commented on #390
@dmacvicar  yop i was thinking the same about the reader, but since we have some coreos users i was wondering how/why they didn"t asked for such feature before and if they were using other stuff like unzipping image and take the url from there via provider.

yop the solution is to add more gzip readers

[2018-09-04 10:12] MalloZup commented on #387
https://github.com/dmacvicar/terraform-provider-libvirt/pull/393

[2018-09-04 10:12] #387 closed

[2018-09-04 12:40] MalloZup commented on #364
@vjdhama  just some updates on your issue
https://github.com/dmacvicar/terraform-provider-libvirt/issues/389.

Shortly is because for `network_resources` we don't update the resources.

So if you have your bridge which is already existing you will have always that error.

As workaround you should create/destroy bridges.

For fixing this we need to look at https://godoc.org/github.com/libvirt/libvi

[2018-09-04 12:50] MalloZup commented on #349
@congaframe ciao thx for issue.
yop we just didn't implement that.  ( i added some details later)
What woud be your use-case just for curiosity?

for contributors interested look here:
starting from here:
https://godoc.org/github.com/libvirt/libvirt-go-xml#DomainGraphicListener

and here: https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/libvirt/resource_libvirt_domain.go#L1020

[2018-09-05 10:04] #308 closed

[2018-09-05 11:40] Bischoff commented on #391
Symptom:
[code]

There should be no result when `enabled = false`.

[2018-09-06 08:05] dmacvicar commented on #357
I am closing this one as I don't think we will implement this ourselves.

[2018-09-06 08:05] #357 closed

[2018-09-06 11:31] lgaggini opened #396 "unable to create a static ipv6 routed domain"
#  Version Reports:

### Distro  version of host:

``` CentOS Linux release 7.5.1804 (Core) ```

### Terraform Version Report

``` Terraform v0.11.8 ```

### Libvirt version

```3.9.0```

### terraform-provider-libvirt plugin version (git-hash)

``` f104fad4```
___
# Description of Issue/Question

### Setup
[code]

### Steps to Reproduce Issue
[code]
If I try to uncomment `wait_for_lease = true` t

[2018-09-06 12:31] multani commented on #384
One issue that is a bit painful with current implementation is that the user data is rewritten before being saved in the state: if the original content (the one written in the Terraform configuration) differs from the one saved in the state due to the rewritting, Terraform will decide to recreate the cloud-init resource and its dependencies.

To prevent this, we have to take care of writing in our

[2018-09-06 12:40] MalloZup commented on #384
Yop i agree, that was the motivator for this issue

[2018-09-06 12:42] MalloZup commented on #396
Ciao,
Thanks for issue i will have a look once i have time atm i pretty busy. Or other maintainer could look

[2018-09-06 21:50] driftavalli commented on #386
Tried creating a bridge with the following config and the xml seems okay
[code]

See below, default bridge virbr0 and test bridge virbr1.

[code]

I am using Ubuntu 18.04.1, libvirtd (libvirt) 4.0.0, Terraform v0.11.8

[2018-09-06 22:41] driftavalli opened #401 "Unable to attach to existing bridge/and use local file"
#  Version Reports:

### Distro  version of host:

``` Ubuntu 18.04.1 ```

### Terraform Version Report
Terraform v0.11.8
+ provider.libvirt (unversioned)

### Libvirt version

```4.0.0```

### terraform-provider-libvirt plugin version (git-hash)

``` Downloaded precompiled binary: terraform-provider-libvirt-0.4.3.Ubuntu_18.04.amd64.tar.gz```
___
# Description of Issue/Question
1. Terraform hangs

[2018-09-07 02:33] abhinavdahiya opened #402 "Race condition when creating machines?"
#  Version Reports:

### Distro  version of host:

Fedora 28

### Terraform Version Report

Terraform v0.11.8

### Libvirt version

4.1.0

### terraform-provider-libvirt plugin version (git-hash)

6c9b29437bfee8a24b49a113fbffbbec5f5745cc
___
# Description of Issue/Question

### Setup

[code]

### Steps to Reproduce Issue

[code]

Terraform should have created `tectonic` network, 2 master machines

[2018-09-07 02:36] abhinavdahiya commented on #402
I suspect it is a race condition because, this main.tf completes to success
[code]

[2018-09-07 03:50] wking commented on #402
It's surprising that serializing the domains helps with what seems (from the error message) to be a domain/network race.  Does adding `depends_on = ["libvirt_network.tectonic_net"]` to both master and worker domains have any affect?

[2018-09-07 04:08] wking commented on #402
Ah, the error message is just busted.  Your full log shows `libvirt_network.tectonic_net`'s full creation and the injection of its ID as `network_interface.0.network_id` in all four domains.

[2018-09-07 04:31] wking commented on #402
I can not reproduce this on RHEL 7.5's 3.10.0-891.el7.x86_64 kernel with Terraform 0.11.7, libvirt 3.9.0, QEMU 2.9.0, and terraform-provider-libvirt 7e52bbeb0 or 6c9b29437.  I also failed to reproduce this with Terraform 0.11.8 and terraform-provider-libvirt 6c9b29437.  Maybe it's a kernel/libvirt/QEMU bug?

[2018-09-07 06:14] MalloZup commented on #401
Hi @driftavalli  thanks for reporting.

https://github.com/dmacvicar/terraform-provider-libvirt/issues/364

i think we can close this  as duplicata

What is your err msg? is atm a known issue that if you have the net existing this will fail

[2018-09-07 07:13] MalloZup commented on #402
hi @wking  @abhinavdahiya  thx for reporting.
@abhinavdahiya can you attach

`TF_LOG=debug terraform apply`

@wking  for libvirt logs https://wiki.libvirt.org/page/DebugLogs. ( could be interesting if you find something there with libvirt.logs)

Just looking for your logs to me looks a race condition, namely that the network is created but *notyet* for the domains which don't see it. but i'm curio

[2018-09-07 07:27] MalloZup commented on #318
closing since when it will come we will known no need for keeping track.

thx for sharing the link anywayt

[2018-09-07 07:27] #318 closed

[2018-09-07 07:29] MalloZup commented on #5
@dmacvicar to me we could close it since i doubt we will have time/research for this ( and looking for terraform is not something easy to take control the stdout/err

[2018-09-07 07:30] MalloZup commented on #84
https://github.com/dmacvicar/terraform-provider-libvirt/issues/84

[2018-09-07 07:32] MalloZup commented on #359
@Lennie i am closing in favor of https://github.com/dmacvicar/terraform-provider-libvirt/issues/84

which is the same issue thx!

[2018-09-07 07:32] #359 closed

[2018-09-07 07:33] MalloZup commented on #372
i need to fix some stuff but this is mostly done..

[2018-09-07 07:33] #372 closed

[2018-09-07 07:38] MalloZup commented on #218
@dmacvicar i am not sure that this feature could make sense in the direction we are going.

For me an user should be able to build the qcow image before using it.

For example, an user need to use kiwi for building their qcow ( this is equivalent of using autoyast on the highlevel)

Mixing and adding autoyast can also add more errors and maintainance on provider.

I would vote to close it because

[2018-09-07 07:55] MalloZup commented on #131
i just close it because we have an implicit decision here.
I agre that we cannot live in terraform repo atm

thx all for your POV. ( in the future we can still reopen it if we have interest)

[2018-09-07 07:55] #131 closed

[2018-09-07 07:55] MalloZup commented on #131
@josephholsten  thank you for bring this up :+1:

[2018-09-07 10:18] MalloZup opened #403 "utilize upstream hash function instead of custom one"
https://github.com/hashicorp/terraform/blob/master/helper/hashcode/hashcode.go

https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/libvirt/data_source_libvirt_network.go#L66
https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/libvirt/data_source_libvirt_network.go#L8

Remove hash custom function
https://github.com/dmacvicar/terraform-provider-libvirt/blob/7e52bbeb0

[2018-09-07 10:51] #5 closed

[2018-09-07 10:53] dmacvicar commented on #218
I think this would be a great addition for SUSE internally, as we deal a lot with testing installations. However, I understand nobody is wants to work on it now.

[2018-09-07 13:40] MalloZup commented on #403
done

[2018-09-07 13:40] #403 closed

[2018-09-07 13:41] MalloZup commented on #401
@driftavalli i am closing this in favor of the #364. the bug is the same.

thank you for reporting !

[2018-09-07 13:41] #401 closed

[2018-09-07 14:09] steveeJ commented on #402
I'm able to reproduce it in about 9/10 cases.

Running this on:
[code]

[Here's are the terraform and libvirt logs][tflogs].

[tflogs]: https://gist.github.com/steveeJ/6140b8a68c449f0c860e891d3c347c69

[2018-09-07 14:32] wking commented on #402
[Here][1] is the libvirt bug for "Hash operation not allowed during iteration".

[1]: https://bugzilla.redhat.com/show_bug.cgi?id=1576464

[2018-09-07 14:43] MalloZup commented on #402
@wking @steveeJ thank you for infos.

@wking  yeah this is really a know and annoying bug on libvirt side. I have also encountered many times, and we are also impacted in other projects... :notes:

@abhinavdahiya  i don't think that reverting would help in that case but (from my pov).

The actual solution is to upgrade the libvirt pkg

[2018-09-07 16:49] wking commented on #402
I'm running RHEL's libvirt 3.9.0 14.el7_5.6, which has a patch:

[code]

[rhbz#1581364][1] is a backport to RHEL 7.5 of the [rhbz#1576464][2] I linked [earlier][3].  The upstream commit fixing this (linked from [rhbz#1576464][2]) is [4d7384eb][4], which punts serialization up to the callers.  I'm not sure if the issue we're seeing here is because:

a. The old check (before libvirt/libvirt@4d7384eb

[2018-09-08 12:43] hooksie1 commented on #299
Ok I uploaded a video to the youtubes https://youtu.be/Os1h29n4n2E. Sorry it's so long, but I was trying to get everything I'm seeing. If I run terraform from my laptop over wireless to the KVM server I see much slower transfer speeds than if I run terraform directly on the KVM server. If I lose connection to the remote web server holding the image the apply fails even though the KVM server can ge

[2018-09-08 12:44] hooksie1 commented on #299
Also sorry it's taken so long to respond. Started a new job and it's been busy.

[2018-09-08 22:26] inercia commented on #299
@MalloZup I think images are imported using the `image` interface implemented [here](https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/libvirt/utils_volume.go) for _local_ and _http_ images, and called from the ["source"](https://github.com/dmacvicar/terraform-provider-libvirt/blob/02b30c6dd766ee9288f3c890659487a73004a7cc/libvirt/resource_libvirt_volume.go#L242) for volumes. So I

[2018-09-09 22:30] hooksie1 commented on #299
Ah that makes sense @inercia, thanks.

[2018-09-10 07:38] MalloZup commented on #402
@wking  thank you for your precise comment.

From my pov is a great news the fact you cannot reproduce with latest libvirt (https://github.com/dmacvicar/terraform-provider-libvirt/issues/402#issuecomment-419319517)

i plan to update to next libvirt-devel version containing that patch so i can verify if we have other issues.

To me i would 98.99%  ( ,0.99 is for com purposes :smile: ) exclude the (

[2018-09-10 14:53] steveeJ commented on #402
@wking

According to [Bug 1581364](https://bugzilla.redhat.com/show_bug.cgi?id=1581364) which you linked as the fix, it says:

which reads to me as case (a), and I'm not sure if (b) is also the case because the callchain isn't obvious to me yet. I'm wondering if there's anything we can do to diminish the problem on the client side.

[2018-09-11 03:56] wking commented on #402
openshift/installer#226 is a client-side workaround (using the `depends_on` approach @abhinavdahiya floated [earlier][1].  With the libvirt patch out for months, the easiest approach is probably "bump your libvirt to pick up the (backported) patch."

[1]: https://github.com/dmacvicar/terraform-provider-libvirt/issues/402#issuecomment-419302152

[2018-09-11 15:59] MalloZup commented on #307
@mbaquer6 thank for issue, i could not understand clearly your issue.

namely:
`When I update the OS image running in QEMU with Terraform with another version, `
what do you mean by that? you a distro-upgrade in the vm with a packet manager?  :thinking:
TIA :+1:

[2018-09-12 08:24] MalloZup opened #411 "refactor createAndUpload function to CreateIso and Upload (1 -> to 2 functions)"
https://github.com/dmacvicar/terraform-provider-libvirt/blob/9d839635d7ab659f8a772d32f66fa03822da54a5/libvirt/cloudinit_def.go#L58
this function should be splitted in 2.

Since we need single responsability functions.

[2018-09-12 09:33] MalloZup opened #412 "changelog summary for new released version"
# summary what should go in next changelog

### NEW FEATURES:

#### DOMAIN:
- qemu-agent variable is not anymore env. variable, instead it is
  domain terraform variable (https://github.com/dmacvicar/terraform-provider-libvirt/pull/377)

#### VOLUMES/DISK/STORAGE:
- Automatic disk driver selection based on volume format and automatic volume format detection(https://github.com/dmacvicar/terraform-p

[2018-09-12 09:55] MalloZup commented on #313
ciao all, i create a PR for this in WIP were we will delegate everything to cloud_init files.

This is the most cleanest solution

[2018-09-12 13:37] MalloZup opened #414 "[libvirt] [sumaform] terraform plan/destroy libvirt_volume.main_disk: can't retrieve volume XXX"
## important:

at moment i can only reproduce with sumaform github repo and not with some other terraform files from examples on same libvirt etc.

# notes.

At this point i dunno if it is a libvirt bug or provider, i need to debug a little.
I think it depends from nested modules and scenario used in that github repo sumaform ( i tested with normal and was ok)
# info
I still don't know the exact b

[2018-09-12 13:37] MalloZup commented on #414
https://bugzilla.redhat.com/show_bug.cgi?id=949503

[2018-09-12 14:02] MalloZup commented on #414
terraform show (id looks weird)
[code]

[2018-09-12 16:32] MalloZup commented on #414
https://github.com/moio/sumaform/pull/413/files

[2018-09-12 16:32] #414 closed

[2018-09-12 17:00] MalloZup commented on #396
[code]

[2018-09-12 17:05] MalloZup commented on #396
@lgaggini  i just looked at your log posted

the problem you have is that you need to pass a real ip6 a not this jinja2 variable here ["{{ ipv6_address }}"]

Where do you have that terraform file from? i think you are using a wrapper for variable or etc?

anyway that is why don\t fork for you

[code]

feel free to ask ciao ( if it is resolved we can close)

[2018-09-12 18:21] MalloZup commented on #306
Closing

[2018-09-12 18:21] #306 closed

[2018-09-12 18:49] lgaggini commented on #396
Ciao,
before to post logs and stdout I replaced my ipv6 network and ipv6 address with placeholders using jinja2 syntax to hide them. I wasn't clear about that in the first post, sorry, my fault.
I experience the problem with some real word ipv6 network and address. I didn't try an ipv4 routed domain like in your example, I'll try and let you know but I suspect it's a ipv6 only problem.

[2018-09-13 08:11] lgaggini commented on #396
Ok, like you recreate, using an ipv4 addressing there is no problem:

[code]

but using ipv6 addressing:

[code]

the error appears:

[code]