[2018-09-13 08:17] MalloZup commented on #396
@lgaggini ok thx! i will have a look then

[2018-09-13 09:59] MalloZup opened #415 "refactor pattern in a function in testacc files"
This pattern is used everywhere in testacc.
Create a function in `utils_test.go` file and make all other file using it.

Function can be called like `retrieveResourceFromState`

[code]

[2018-09-14 10:02] MalloZup commented on #412
@dmacvicar i think i wrote everything that changed since the last release. Feel free to use it and adapt its structure as you wish

[2018-09-14 10:04] MalloZup commented on #412
for the project dependencies, what i noticed is that we are requiring a minimum libvirt-devel Header. ( i think we are requiring due to the vendor update a higher version, i don"t remember know)

It might be worth to update it somewhere in the doc.

[2018-09-14 17:49] MalloZup commented on #415
https://github.com/dmacvicar/terraform-provider-libvirt/pull/410/commits/6c1582be0bc3b120333dc61ec82e3974d896588d

[2018-09-14 19:41] #411 closed

[2018-09-15 09:31] MalloZup opened #417 "iso9660 Reader truncate filenames"
I opened an issue upstream.

https://github.com/hooklift/iso9660/issues/3

We might contribute upstream to fix the issue, i think we can improve the situation and avoid the workaround. At just waiting for feedback from  maintainer :keyboard:

[2018-09-16 17:06] #412 closed

[2018-09-16 17:07] MalloZup commented on #412
released :tada: :tada:
Next release will be also awesome one :sunflower:

[2018-09-16 20:17] MalloZup commented on #396
@lgaggini update sofar:

i checked the code in thi repo and everything is ok.
To me look more a libvirt issue/missing feature upstream.

i could look at libvirt upstream : https://github.com/libvirt/libvirt/blob/7564daca8a71dfec4a22c55b6f11f266f7044e05/src/conf/network_conf.c#L411

Would maybe interesting if you can reproduce the same issue with virsh

[2018-09-16 21:37] Vanuan opened #418 "Block device not supported"
#  Version Reports:

### Distro  version of host:

``` Ubuntu 18.04 ```

### Terraform Version Report
(Provided by running `v0.11.8`.)

### Libvirt version

```4.0.0```

### terraform-provider-libvirt plugin version (git-hash)

```terraform-provider-libvirt-0.4.4.Ubuntu_18.04.amd64.tar.gz```
___
# Description of Issue/Question

Reading documentation I can't find a way to attach disk from block dev

[2018-09-17 07:52] MalloZup commented on #219
https://github.com/dmacvicar/terraform-provider-libvirt/issues/418

[2018-09-17 07:52] #219 closed

[2018-09-17 07:53] MalloZup commented on #418
@Vanuan thx for issue.

If you want to add it and contribute i can help through the code.

Otherwise , yop it is at moment a missing feature that we might add.

Atm we plan 2 prs for next releases, and other things.

To me  i can have a look once i am finished with my tasks.

For any info feel free to ask thx! :sunflower:

[2018-09-17 08:33] #417 closed

[2018-09-17 08:33] MalloZup commented on #417
added comment in the code

[2018-09-17 09:12] unsubtleguy opened #419 "Unusable mouse cursor in Windows resources"
#  Version Reports:

### Distro  version of host:

``` Fedora/NA ```

### Terraform Version Report
``` Terraform v0.11.8```

### Libvirt version
``` 4.1.0```

### terraform-provider-libvirt plugin version (git-hash)
``` c46f0f88a5b74319af7d1f1b219f1a7412f215de```
___
# Description of Issue/Question

When using Windows guests with the libvirt provider, by default the mouse input is completely unusa

[2018-09-17 09:20] MalloZup commented on #419
@unsubtleguy  ciao thx for the issue.

I think the most non-intruisive solution is give the user a possibility to specify  the DomainInput as variable.

[2018-09-17 10:41] lgaggini commented on #396
Thank you.
I'll do some investigation on libvirt too,I'll try to reproduce the same issue on virsh and I'll let you know.

[2018-09-17 14:29] MalloZup commented on #370
i am in the way for making a SR to obs.

`%{__install} -p -m 755 $GOBIN/terraform-provider-libvirt ${buildroot}%/{_bindir}`

[2018-09-17 14:38] MalloZup commented on #370
@dmacvicar  i added a obs MR https://build.opensuse.org/request/show/636193 ( unstable branch)

for installing to `/usr/bin` for not suse distros.

If we are ok we need also to backport the spec to the `stable` obs branch.

closing

[2018-09-17 14:38] #370 closed

[2018-09-17 14:39] lgaggini commented on #396
Ok, I think i've figured out what the problem is.

If an ipv6 network / addressing scheme is used, libvirt checks if in the input xml for network manipulation there is the field `mac` and if it's present gives the error:

` Invalid to specify MAC address 'XX:XX:XX:XX:XX:XX' in network 'public' IPv6 static host definition'`

This because for the ipv6 the use of mac address (in a dchp context, like

[2018-09-17 14:39] MalloZup commented on #339
i am closing it because nobody answered really m anyway is ok was an experiment :sun_with_face:

[2018-09-17 14:39] #339 closed

[2018-09-18 07:40] MalloZup commented on #396
@lgaggini yop make perfect sense, i just tried out your suggestion, i just gave the xml definition an empty mac and network was up.

Thank for sharing the infos :+1: This was really awesome :cupid:
now i am asking myself and reading if we should for all network types not generate an IPV6  mac, and more generally if we should generate MACs,

From https://avdv.github.io/libvirt/formatnetwork.html i

[2018-09-18 09:07] Vanuan opened #423 "domain already exists with uuid"
#  Version Reports:

### Distro  version of host:

``` Ubuntu 18.04 ```

### Terraform Version Report

`v0.11.8`

### Libvirt version

```4.0.0```

### terraform-provider-libvirt plugin version (git-hash)

```0.4.4```
___
# Description of Issue/Question

[code]

For some reason terraform thinks it already exists, though I couldn't find it stored anywhere:

[code]

`virsh list` doesn't output anyth

[2018-09-18 09:29] MalloZup commented on #423
@Vanuan hi!
can you please try :
```sudo virsh list --all`` on your local machine and then to the remote server ```qemu+ssh://server.home/system"```

let me know if you don't find the domain with this, tia

[2018-09-18 09:38] Vanuan commented on #423
Oh, yeah, I see them with `--all`:

[code]

So virsh lists only running machines by default.
So the next question is can't terraform recreate those?
Or at least detect that these already exist?
Is it a normal situation that I have to delete failed machines manually rather than them being recreated by Terraform?

[2018-09-18 09:45] Vanuan commented on #423
`virsh undefine terraform_test` works. After which `terraform apply` works normally

Ok so, it's only a problem for shut down machines. And terraform can't bring them up for some reason.
Thanks.

[2018-09-18 09:45] #423 closed

[2018-09-18 09:47] Vanuan commented on #423
FYI, I also tried `terraform import` and it didn't work. So looks like a corner case for shutdown machines.

[2018-09-18 09:53] MalloZup commented on #423
to me the point seems more  that we might not throw an error when a domain is shutdown, aka we should not trying to recreate an existing domain, instead we should just print `resource` is there and do nothing.

For the `bringing up` the domain i think that  maybe `terraform apply` maybe could  bringing them up if they are down,

CC @dmacvicar

[2018-09-18 09:56] MalloZup commented on #423
i will try to have a look thx

[2018-09-18 15:33] MalloZup commented on #396
@lgaggini  can you do some tests from the upstream branch linked and give me some feedback? this would be awesome.

I already did some tests are ok, but just to be on safer side.

for doing the test

you need to build from source and then move the binary to `/usr/bin`
https://github.com/dmacvicar/terraform-provider-libvirt#building-from-source
otherwise is ok, i plan to merge this tomorrow afterno

[2018-09-19 07:01] #313 closed

[2018-09-19 07:32] MalloZup commented on #313
this is now fixed on latest version.

@marcindulak @night199uk @ianabc

you can have a look on the example :

https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/examples/ubuntu/ubuntu-example.tf

So basically this bug is gone :+1: have fun and keep doing opensource :sun_with_face: :tulip:

[2018-09-19 07:48] lgaggini commented on #396
Sure, I'll do some tests on my use case and I'll let you know.

[2018-09-19 07:57] MalloZup commented on #396
@lgaggini thx! atm i am fixing `wait_for_lease =true` this will not work. If you find  other issue let me know.. :love_hotel:

[2018-09-19 08:09] MalloZup commented on #384
fixed ! thx

[2018-09-19 08:09] #384 closed

[2018-09-19 08:36] MalloZup opened #424 "Assert that domain got ip address in wait_for_lease acceptance tests"
in the current testacceptance testsuite we don't check if the domain get the IP adress.

I found out that this can lead to bugs, so we might automated this scenario in our regression tests.

## Howtos:

- [ ] from the current test here: https://github.com/dmacvicar/terraform-provider-libvirt/blob/61a10f23482fba4fe35c620774dd39fb47dd7d32/libvirt/resource_libvirt_domain_test.go#L373
 rename the test

[2018-09-19 09:26] lgaggini commented on #396
Ok, using your feature branch `nomac` I'm correctly able to create ipv6 routed domain.

This:

[code]
now works withour error.

[2018-09-19 09:48] MalloZup commented on #396
yop this works nice, atm the wait_for_lease to true we don"t get the IP. feel free to experiment other corner cases.. thank you much for all efforts and idea sharing :+1:

[2018-09-19 14:07] MalloZup opened #425 "investigate on function getDomainInterfacesFromNetworks ( if it is still needed)"
# Infos

I was debugging for getting the network interface information from domain.

I noticed that i got always a `NIL` interface with  the following function:  ```getDomainInterfacesFromNetworks```

The function was added here: https://github.com/dmacvicar/terraform-provider-libvirt/commit/7b2adfc1f28d76399d63aaf50ff914268efbb87a

As we can see on the testacc codecoverage, the relavant part of t

[2018-09-19 14:08] MalloZup commented on #425
@dmacvicar CC

[2018-09-20 14:17] MalloZup commented on #396
@lgaggini  atm i am little stuck on this bug because removing the MAC in networkdefinition we get other regression .. :circus_tent: :smile: .. especially when using `wait_for_lease`.

I have asked to @dmacvicar  some infos, maybe he has more insights. Otherwise i need to move more in deep in that feature, the networking part of the provider is kind of complex.
Thx for you patience :+1:

[2018-09-20 16:33] MalloZup commented on #343
@hexfusion feel free to update the pkg there if you have time ! thx

At moment i think we are more focused on other stuff.

[2018-09-20 16:33] #343 closed

[2018-09-20 16:34] MalloZup commented on #390
i can take it  since i know already the codebase there,

[2018-09-20 16:36] MalloZup commented on #379
@dmacvicar  this is possible by next minor version of terraform the PR reference there got merged.
(https://github.com/terraform-providers/terraform-provider-aws/issues/5874)

[2018-09-20 16:38] MalloZup commented on #297
i will have a look once i have free time

[2018-09-21 06:15] dmacvicar commented on #390
Be careful with not breaking the volume format auto/detection, which is used to configure the disk driver.

[2018-09-21 06:19] MalloZup commented on #390
Ok thx, i am always carefull to not breaking things :) . Btw i think we have a testacc for that, but i think that you mean the new feature here shoul respect that. Thx for sharing

[2018-09-21 08:51] dmacvicar commented on #419
I think I would prefer to solve this like the xml/xslt filter that I suggested in #350 ([details](https://github.com/dmacvicar/terraform-provider-libvirt/issues/350#issuecomment-416634118) )

[2018-09-21 08:54] dmacvicar commented on #418
Quickly thinking about it probably we need to add `device` like we have `file` and `source` (the last being unrelated to libvirt `source` xml block).

[2018-09-21 09:06] MalloZup commented on #419
@dmacvicar yes, i think the future for all this extra-request parameters is to add `datasources` and have a generic solution that handle all possible data

[2018-09-21 10:07] dmacvicar commented on #419
I was thinking on allowing referencing a xslt file to transform the final _xml_ generated by the provider, just before is loaded into libvirt, plus adding some examples.

[2018-09-21 11:38] MalloZup opened #428 "finish refactoring follow-up from 427"
This is a follow-up discussion from https://github.com/dmacvicar/terraform-provider-libvirt/pull/427
Looking at the code and APIs even further, I realize two things (but I could be wrong):

*  virDomainInterfaceAddresses on the other hand parses the lease file, which is the IP address the domain got.

 Even the qemu agent part perhaps can be removed and refactored. I see that we have a function to

[2018-09-21 11:39] #425 closed

[2018-09-21 15:31] MalloZup opened #429 "implement helper function like getNetwork for other resouces"
as example we can refactor more the testacc with same model.

https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/libvirt/resource_libvirt_network_test.go#L15

[2018-09-21 15:31] MalloZup commented on #415
doing, closing atm

[2018-09-21 15:31] #415 closed

[2018-09-22 01:58] Vanuan commented on #418
Attach disk required domain, device and target.
It looks like disk def needs to be extended with `diskDef.Source.Block` type.
And target is better be specified.

So something like this would be most intuitive:
[code]

at least to me. But can there be multiple disk definitions?

[2018-09-23 12:14] dmacvicar commented on #418
We always end in the disjunctive of either providing something usable, with a bit of more added value (eg. automatic download of images from the web) at the cost of some advanced features, or a 1:1 mapping of libvirt _xml_  into _hcl_, which would make the definitions very complicated, but all features would be exposed. Until now we have followed the first, and we intentionally do not expose all l

[2018-09-23 14:37] MalloZup commented on #429
Yop, having 2 issues in both , we.can spare it id we have aa wip pr

[2018-09-23 14:37] #429 closed

[2018-09-24 00:48] Vanuan commented on #418
Let me explain my use case. My theory was that terraform would help me to build infrastructure from the ground up:

1. Setup storage level with "pet" VMs on Ceph
a. Create Ceph VMs for each block device
b. Provide block devices to VMs
c. Configure Ceph cluster
2. Setup "cattle" VMs to deploy apps in containers
a. Setup Kubernetes/Swarm workers
b. Provide persistent storage to Kubernetes/Swarm work

[2018-09-24 06:42] MalloZup commented on #369
i think we can close this issue @BlamKiwi @dmacvicar

[2018-09-24 11:47] dmacvicar commented on #369
yeah, I haven't got much feedback on the PR, but lets close this and continue discussion in the PR.

[2018-09-24 11:47] #369 closed

[2018-09-29 17:49] MalloZup commented on #218
I reopen this one because after thinking and your last comment is valid. So we might add it.

[2018-10-01 09:47] MalloZup commented on #218
@dmacvicar  i would be happy to continue this feature and finish it. ( after some discussion i think this still relevant for SUSE/openSUSE). ( we might also add open doors for Kickstart etc, but let see)

Would be helpful if you can share the status of what is missing to make it working, and if the actual status is reflecting the card. ( missing code, features etc).

We can sync on irc or github w

[2018-10-01 12:42] MalloZup commented on #428
https://github.com/libvirt/libvirt-go/issues/40

[2018-10-02 13:29] MalloZup commented on #338
i don"t think we might endup doing this ever .. :smile:

[2018-10-02 19:01] driv commented on #338
Where will this run?

[2018-10-02 22:53] dmacvicar commented on #218
You should read the link https://hackweek.suse.com/16/projects/implement-kernel-cmdline-and-slash-or-autoyast-slash-kickstart-support-in-terraform-provider-libvirt , as it has most of the information.

Some parts are there, like the _kernel_ and _initrd_ options, which allow you to create volumes based on those to boot.
Originally, I wanted to use _fw_cfg_ ([even did a PR to linuxrc](https://hackw

[2018-10-03 13:10] MalloZup commented on #218
@dmacvicar ok thx for feedback.

Something radical different:

I think we could "solve the problem at devops level", implementing a kiwi provider that generate qcow. ( same idea could be for packer provider.)

In this way we can have everything managed on the terraform level.

The current existing workaround for testing ISO ( i just to use packer + autoyast or kiwi + autoyast from ISO).

About the

[2018-10-03 20:59] alxbse opened #435 "support for storage pool resource"
#  Version Reports:

### Distro  version of host:

Ubuntu Bionic 18.04

### Terraform Version Report

v0.11.8

### Libvirt version

4.7.0

### terraform-provider-libvirt plugin version (git-hash)

df6aed4d9af0493e09454746549a5e95df9a2505

___
# Description of Issue/Question

There doesn't seem to be any support for managing storage pools or any mentions regarding it. I've hacked together some very

[2018-10-04 07:04] MalloZup commented on #435
@alxbse  ciao yop, afaik we never added the `pool` resource because was not needed in our workflow but imho we can add it.

You can also have a look at https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/CONTRIBUTING.md

( once the feature done we need always testacc)

Also keep in mind to implement the 4 crud ops: `create`, `read`, `update`, `delete`.
( if we don't add read and up

[2018-10-04 21:10] dmacvicar commented on #435
It is certainly something that we haven't given priority as most users manage their own pools for a simple reason: data.

I would be open to add support for managing pools as long as it takes into account that we don't want then users coming back "hey, but libvirt deleted my data on destroy!".
So, we need to make the lifecycle clear or consider how to handle this in an elegant way.

Also, given th

[2018-10-05 11:39] MalloZup commented on #218
@dmacvicar https://libvirt.org/formatdomain.html#elementsEvents
thx lot to cedric for this. I think this could solve the issue

[2018-10-05 12:01] dmacvicar commented on #218
How would overriding these actions help? We would still need to remove the kernel/initrd/profile from the command line.

I was thinking among the same lines as the _qemu-agent_ connection callbacks that I found for the ip discovery. In that case we would loop until the callback _agent-connected_ comes. We could as well wait for the reboot callback.

May be we could implement this as a hook into th

[2018-10-05 12:30] MalloZup commented on #218
yop i was thinking in the same direction ( i didn't explain the implicit part.. :smile: )

I agree with procedure, the only tricky part is the OS-detection installation ( we might just skip it)

But i think this could be already a valid case-study for a possible working implementation which is not super-complex.

[2018-10-08 14:52] #428 closed

[2018-10-09 22:17] ghtyrant opened #437 "Disabling disks is not possible"
#  Version Reports:

### Distro  version of host:

``` Debian GNU/Linux 9.5 (stretch)```

### Terraform Version Report
terraform v0.11.8
+ provider.libvirt (unversioned)

I built this provider from source since Debian ships with libvirt 3.0.0, which doesn't work with the pre-built binaries.

### Libvirt version

```3.0.0```

### terraform-provider-libvirt plugin version (git-hash)

`4cc6d3ba0180c5

[2018-10-10 07:35] MalloZup commented on #437
@ghtyrant hi! thank you for the issue.

I never tried that feature out. How could your feature beeing impacted with the new Terraform  v12 coming soon out? Would we use the same workflow ? ( https://www.hashicorp.com/blog/terraform-0-1-2-preview)

[2018-10-10 08:30] ghtyrant commented on #437
Thanks for that link, I wasn't even aware of Terraform v12!

The changes to HCL would definitely solve this issue, especially [For and For-Each](https://www.hashicorp.com/blog/hashicorp-terraform-0-12-preview-for-and-for-each) and maybe even [Conditional operator improvements](https://www.hashicorp.com/blog/terraform-0-12-conditional-operator-improvements).
Loops allow me to specify the data disks

[2018-10-10 15:18] MalloZup opened #438 "Release next version with cloudinit and publish pkg"
@dmacvicar  i need currently the new patch for cloudinit_disk released.

Can we release the next version without the `xlst`? :sake: :guitar:

[2018-10-10 15:20] MalloZup commented on #438
## changelog:

https://github.com/dmacvicar/terraform-provider-libvirt/pull/416
https://github.com/dmacvicar/terraform-provider-libvirt/pull/410

[2018-10-10 20:41] dmacvicar commented on #438
https://github.com/dmacvicar/terraform-provider-libvirt/releases/tag/v0.5.0

[2018-10-10 20:41] #438 closed

[2018-10-10 20:41] MalloZup commented on #438
:tada

[2018-10-11 08:05] lifeofguenter opened #439 "VirtualBox support"
Would be great if VirtualBox could be fully supported: https://libvirt.org/drvvbox.html

[2018-10-11 08:42] MalloZup commented on #439
@lifeofguenter  hi thx for issue to me just a first glance seems  a massive new feature.

However if the virtualBox driver use the same resource/names schema as the libvirt could be more easy.

I think need time and research on it, seeing also if the `virtualbox` support is not also conflicting with the actual design and codebase.

Thx for issue ! :+1:

[2018-10-11 09:03] lifeofguenter commented on #439
@MalloZup yes - it also seems like VirtualBox does things slightly different (e.g. for example does not support storage pools, making it currently impossible to use with this project). So not entirely sure how large the demand is :)

[2018-10-11 09:14] MalloZup commented on #439
@lifeofguenter  ok it might worth a research use-cases. If it is massive different i think another provider project should be started int that case

[2018-10-11 16:32] ghtyrant opened #441 "<host> not added to network when creating a domain"
#  Version Reports:

### Distro  version of host:

``` Debian GNU/Linux 9.5 (stretch)```

### Terraform Version Report
terraform v0.11.8
+ provider.libvirt (unversioned)

I built this provider from source since Debian ships with libvirt 3.0.0, which doesn't work with the pre-built binaries.

### Libvirt version

```3.0.0```

### terraform-provider-libvirt plugin version (git-hash)

`4cc6d3ba0180c5

[2018-10-11 16:49] MalloZup commented on #441
Try out the wait for lease param

[2018-10-11 16:52] MalloZup commented on #441
https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/website/docs/r/domain.html.markdown#handling-network-interfaces

[2018-10-11 16:58] ghtyrant commented on #441
I tried that, but it doesn't fix my problem. The <host> line is still missing, and will only be added when I run `terraform apply` a second time.

[2018-10-11 17:02] ghtyrant commented on #441
Let me try to make it more clear: The issue is not, that the domain does not get a DHCP lease - it gets one, but not the one I defined. And that's because the <host> entry is not being added to the network's XML definition. When I run it a second time, it will be added and the domain will get the correct IP and hostname over DHCP.

[2018-10-11 17:09] MalloZup commented on #441
Ok thx i will check  i dont have terminal now ;)

[2018-10-11 17:23] lifeofguenter opened #442 "invalid argument: could not find capabilities for domaintype=kvm"
#  Version Reports:

### Distro  version of host:

``` Debian 9 ```

### Terraform Version Report

```Terraform v0.11.8```

### Libvirt version

```4.8.0```

### terraform-provider-libvirt plugin version (git-hash)

``` commit 8679775a0117011fbc47b9f3b330015e7779ee29 (HEAD, tag: v0.4.4)```
___
# Description of Issue/Question

### Setup

[code]

### Steps to Reproduce Issue
(Include debug logs if p

[2018-10-11 20:15] lifeofguenter opened #443 "bridge to lan not working"
It is currently not possible to set up a simple bridge-to-lan interface as described here: https://libvirt.org/formatdomain.html#elementsNICSBridge

Even if adding the bit manually in (via `virsh edit VM`) tf plan will not detect it:

[code]

tf:

[code]

[2018-10-11 20:16] MalloZup commented on #443
@lifeofguenter hi can you add plese full `hcl` and erro msg would help! thx!

[2018-10-11 20:16] MalloZup commented on #442
https://github.com/dmacvicar/terraform-provider-libvirt/pull/431

[2018-10-11 20:17] MalloZup commented on #442
for this custom feature we will take care soon on that PR

[2018-10-12 05:34] driv commented on #338
I'm trying to run the tests locally, but I'm getting the same error as in https://travis-ci.org/dmacvicar/terraform-provider-libvirt/builds/432832819?utm_source=github_status&utm_medium=notification.
What is not supported on Travis that tests need to be disabled?

[2018-10-12 07:53] MalloZup commented on #338
@driv for run tests locally use make testacc this works

[2018-10-12 08:01] MalloZup commented on #441
https://github.com/MalloZup/ceph-open-terrarium/pull/31 I have the feeling this was more o less related to what I experiment there but not sure, need to check

[2018-10-12 11:14] MalloZup commented on #424
closing this is not testable ( due of the limits of our domain during testacc)

[2018-10-12 11:14] #424 closed

[2018-10-13 18:08] rajugupta15 opened #446 "Can't find storage pool 'default'"
#  Version Reports:

### Distro  version of host:

``` coreos ```

### Terraform Version Report
(Provided by running `11.8`.)
### Os
ubuntu 18.04

### Libvirt version

```4.0.0```

### terraform-provider-libvirt plugin version (0.5.0)

``` git log```
___
# Description of Issue/Question

### Setup
[code]

### Steps to Reproduce Issue
[code]

[2018-10-13 21:18] kjenney opened #447 "Ubuntu 18.04 : 'libvirt_domain.domain-ubuntu' does not have attribute 'network_interface.0.addresses.0'"
#  Version Reports:

### Distro  version of host:

[code]

### Terraform Version Report
[code]

### Libvirt version

[code]

### terraform-provider-libvirt plugin version (git-hash)

```0.5.0 (Downloaded binary from releases)```
___
# Description of Issue/Question

Duplicate of issue 312. Supposedly closed after 0.4.1 but currently happening on 0.5.0.

### Setup
I'm using the example pulled from m

[2018-10-13 21:39] kjenney commented on #447
When I set wait_for_lease to true I get a different error:

[code]

[2018-10-14 07:43] MalloZup commented on #447
@kjenney hi! So for 1st error you found already the answer. The 2nd error is something's known bugs.  ( we have an issue for that). I will update the example for ubuntu. You can check also this github repo for examples. (Debian, archlinux).you need to clone it
https://github.com/MalloZup/ceph-open-terrarium/tree/master/examples

[2018-10-14 07:55] MalloZup commented on #447
For solving the 2nd failure you just need to destroy the network and recrate it

[2018-10-14 07:56] MalloZup commented on #447
https://github.com/dmacvicar/terraform-provider-libvirt/issues/389 ( I will push to ubuntu example a better example)

[2018-10-14 09:02] #447 closed

[2018-10-14 09:03] MalloZup commented on #447
@kjenney i have adapted the example! thank you for your issue, check the examples  i posted or feel free to ask any info! cu :smiley:

[2018-10-14 11:58] kjenney commented on #447
Thanks!

[2018-10-14 12:05] kjenney opened #449 "Wait for Cloud-Init To Complete"
#  Version Reports:

### Distro  version of host:

[code]

### Terraform Version Report
[code]

### Libvirt version

[code]

### terraform-provider-libvirt plugin version (git-hash)

```0.5.0 (Downloaded binary from releases)```
___
# Description of Issue/Question

I've got cloud-init setup to install an Ansible playbook on the VM. Is there any way to wait until the cloud-init script has completed

[2018-10-14 14:43] MalloZup commented on #449
Hi ! Check this out https://github.com/hashicorp/packer/issues/2639. Adding this would make the codebase rely on unstable 3party changes, an would impact much the codebase for this.
You can solve this e.g in your workflow with a remote exec and looping.p

[2018-10-14 18:46] MalloZup commented on #46
closing this issues since we didn't come out with a real pragmatic implementation.

Feel free to reopen in case we have a plan in short-term

[2018-10-14 18:46] #46 closed

[2018-10-15 15:30] MalloZup commented on #449
@kjenney are you satisfied with the answer more or less ? to me we can close this because in a realistic world you can use `remote-exec` and wait for it or doing other workflow around the `core`.

In the terraform-libvirt part i see this really far away from a future implementation ( is not what i would prioritize as high, imho).

feel free to ask any add info

[2018-10-15 15:44] MalloZup opened #450 "opensSUSE tubleweed doesn't provide mkisofs"
https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/libvirt/cloudinit_def.go#L144

When a user install the terraform-provider-libvirt this requirement doesn't get satisfied on tublweed distros

[2018-10-15 18:09] MalloZup commented on #441
@ghtyrant once you have time can you attach logs with `TF_LOG=debug terraform apply`? thx

[2018-10-15 18:47] ghtyrant commented on #450
The same is true for Debian, which ships a fork of it called genisoimage (https://wiki.debian.org/genisoimage). For me, it was enough to create a link from genisoimage to mkisofs - don't know how stable this is though, since both projects are developed independently.

[2018-10-15 18:51] MalloZup commented on #450
https://github.com/dmacvicar/terraform-provider-libvirt/pull/269

[2018-10-15 18:57] ghtyrant commented on #450
Good to know, thanks! :)

[2018-10-15 19:07] MalloZup commented on #450
Actually the good solution would.be to research something else in other direction as iso imho if possible to remove this external binary dependency .

[2018-10-15 19:10] MalloZup commented on #450
Maybe usb disk?

[2018-10-15 20:14] MalloZup commented on #307
Closing due od lack o info

[2018-10-15 20:14] #307 closed

[2018-10-15 20:16] MalloZup commented on #84
I.could not reproducd this in new relesead version. Checked the code thi hs been fixed. Thx!

[2018-10-15 20:16] #84 closed

[2018-10-15 20:17] MalloZup commented on #449
Closing for additional question feel free to join the gitter chat! Thx

[2018-10-15 20:17] #449 closed

[2018-10-15 20:31] MalloZup commented on #297
Do you have this issue only with the centos7 kvm host?

[2018-10-15 20:48] bflad commented on #379
`v0.11.9-beta1` tag is now available upstream. 😄

[2018-10-15 20:53] MalloZup commented on #379
@rphillips awesome thx!

[2018-10-16 06:47] MalloZup opened #451 "Changelog 0.5.1 / 0.6"
- https://github.com/dmacvicar/terraform-provider-libvirt/pull/444 ( add `-version` flag)
- ..  (compressed image support WIP)
- ..

[2018-10-16 11:07] MalloZup opened #452 "OS-examples with provider and ceph setup"
At moment i'm doing this project, which is an application of the provider.
https://github.com/MalloZup/ceph-open-terrarium ( the roadmap of that application project would be to going upstream)

I found it usefull because it show how you can integrate easy all OS with modules and beeing a base for CEPH.( is still at moment).

Should we create a section in the readme were we link application of terr

[2018-10-19 05:50] samlabs821 commented on #297
I faced this issue only with centos7

[2018-10-19 08:13] MalloZup opened #454 "Use higher golang 1.* syntax for makefile make test command (follow-up issue/ later)"
When golang will be a lttile more higher, we will need to rever this
```go test -v -covermode=count -coverprofile=profile.cov ./libvirt```

At moment i splitted this in 2 for making it backwards compatible.
Later on, when we know that each OS-distros have this feature, we can put the makefile like that.

https://github.com/golang/go/issues/6909
https://github.com/dmacvicar/terraform-provider-libvi

[2018-10-19 08:35] dmacvicar commented on #450
I am confused. I use Tumbleweed.

[code]

So, @MalloZup , why do you claim `mkisofs` is not there, and according to you, what is the replacement on Tumbleweed?

[2018-10-19 09:02] MalloZup commented on #450
@dmacvicar which `snapshot` version do you have of Tumbleweed?

[2018-10-19 10:57] MalloZup commented on #450
i have discussed a bit with some people and confirmed that they `tubleweed` env was outdated and within the latest version the pkg was re-added.
@ghtyrant feel free to open a issue for debian version if you wish, i will close this since was tublweed related.

Thx

[2018-10-19 10:57] #450 closed

[2018-10-19 11:45] dmacvicar commented on #451
Closing this in favour of a release draft (which already exists for 0.5.2)

[2018-10-19 11:45] #451 closed

[2018-10-19 11:46] MalloZup commented on #451
@dmacvicar ok thx i didn't saw it.. :+1:

[2018-10-19 11:51] MalloZup commented on #297
@samlabs821  ok thx for info. i remember that i used the centos-image days ago on LEAP15.

At moment to me seem more a libvirt/qemu issue on centos7 KVM-host you are deploying.

From my side i will try to reproduce locally with your image posted, and let you know.

You could try to update your libvirt-pkg and provider and let me know? this would help
[code]

[2018-10-19 11:54] MalloZup commented on #297
@samlabs821  i am using this https://github.com/MalloZup/ceph-open-terrarium/blob/master/examples/libvirt/centos.tf as example.

[2018-10-19 12:18] MalloZup commented on #297
@samlabs821 so  i have a centos7 img with the provider.

@ianabc  are you running also centos7 ? which pkg do you have installed?

to me seems more a pkg issues on the `centos7` side, regarding `libvirt` components, otherwise i would reproduce it on `openSUSE leap15`

[2018-10-19 12:28] MalloZup commented on #368
@dmacvicar  for this, i am not the OBS expert but it might be worth that we put the `spec` file in github so a contributor could fix this sort of issues?

Imho i dunno if OBS can allow to set the maintainer for `ubuntu/debian`.

[2018-10-19 12:29] MalloZup commented on #368
@sebastian-philipp  if you want and know how to do it, you can send a Merge requests to
https://build.opensuse.org/package/show/systemsmanagement:terraform/terraform-provider-libvirt

[2018-10-19 12:47] sebastian-philipp commented on #368
@MalloZup , sorry, no.

For deb packages, you need a `Maintainer:` entry in the `debian/control` file. See the man page: https://linux.die.net/man/5/deb-control . How this is derived from the spec file? no idea.

[2018-10-19 12:55] MalloZup commented on #368
@sebastian-philipp ok thx for sharing the infos , this already helps a little :+1: :smiley:

[2018-10-19 13:31] juliogonzalez opened #455 "Retry on failures downloading images"
This is a feature request.

Today we are having HTTP 503 problems for a few days while downloading images from download.opensuse.org (one of the mirros returns 503 from time to time, see https://progress.opensuse.org/issues/42725 for details).

For the time being I asked openSUSE Heroes to disable the affected mirror, but it would be good if

[code]

Could retry for a few times before giving up.

[2018-10-19 21:00] dmacvicar commented on #368
I don't think we should add _Maintainers_, because:

* It is not a maintained package in Debian
* We don't distribute officially the .debs. We use them to generate the plain executables.

In case it is needed, can we add a url like this issues page?

[2018-10-20 10:31] ghtyrant commented on #441
Here you go, sorry for the delay:

net-dumpxml before running terraform apply:
[code]

Terraform output on the first run: https://gist.github.com/ghtyrant/118dca9360596b8807212780fb719c16

net-dumpxml does not change after the first run.

Terraform output on the second run: https://gist.github.com/ghtyrant/3ebc5cb6e522f79ad8fbe4dbd234bb15

net-dumpxml after running terraform apply a second time:
[

[2018-10-20 11:39] dmacvicar commented on #455
I will give it a shot using something like https://github.com/Rican7/retry

[2018-10-20 14:16] MalloZup commented on #455
https://github.com/cenkalti/backoff is also nice

[2018-10-21 18:28] MalloZup commented on #455
@dmacvicar  one question, i was wondering why we introduce a new dep/library.

Is this not solvable via terraform timeouts/refresh functions?

Or you proposed that library because of the `backoff` functionality? tia

[2018-10-22 07:11] dmacvicar commented on #455
I haven't decided whether to use the library. Ma be just a for loop that retries for 5xx and fails for 4xx is enough.

[2018-10-22 09:28] sebastian-philipp commented on #368
The specification mandates a "Maintainers" element. I.e. the warning is pretty severe and user visible.

As long as there is any kind of "Maintainers" there, everything should be ok.

[2018-10-22 13:48] dmacvicar commented on #368
What are the restrictions of the string on the Debian side? Can it be a URL? or does it need to be an email address?

[2018-10-23 19:58] MalloZup opened #458 "Fix issue on non generic function of testacc"
Follow up from
https://github.com/dmacvicar/terraform-provider-libvirt/pull/430

[2018-10-24 17:43] MalloZup commented on #458
Pr in wait for review

[2018-10-24 17:43] #458 closed

[2018-10-24 19:05] Lennie commented on #84
Later I figured out what might have happened in my case, at some point I found a Qemu process still running even though libvirt said it was already gone.

[2018-10-25 13:17] Bischoff commented on #323
@MalloZup Yes, you're right, this is an epic.

As a starter, we could enable enable IPv6 on the host adapter. It would be very practical to provision machines with no IPv4 address at all (there is almost always an auto-configured IPv6 link-local address, and QEMU client provides that address if there is no IPv4). If you like, I can create the card.

More generally, it's all settings that are possi

[2018-10-26 09:24] fkpwolf opened #461 "Not support real PCI Passthrough?"
#  Version Reports:

### Distro  version of host:

``` Ubuntu 16.04 ```

### Terraform Version Report

[code]

### Provider and libvirt versions

[code]

If that gives you "was not built correctly", get the Git commit hash from your local provider repository:

[code]
___
# Description of Issue/Question

### Setup
(Please provide the full **main.tf** file for reproducing the issue (Be sure to remov

[2018-10-26 14:48] MalloZup commented on #461
thx for issue.Afaik not yet implemented

[2018-10-26 16:34] MalloZup opened #463 "adapt to computed property some values for resource_libvrt_network.go"
In codebase we have comment like this:

https://github.com/dmacvicar/terraform-provider-libvirt/blob/4cc6d3ba0180c5c1afcbd2f37cbe8f6f8d93ccae/libvirt/resource_libvirt_network.go#L126

It might that terraform `schema` has specific mechanism/functions for fixing the comments.

[2018-10-26 16:38] MalloZup commented on #461
@fkpwolf  thx for issue

@inercia  maybe you have better insight here :smile: :japan:

[2018-10-27 13:31] mtuvikene opened #464 "The example for libvirt .tf file in examples/ubuntu fails"
**Versions**
Terraform v0.11.10
+ provider.libvirt ( 1854aa93)
+ provider.template v1.0.0

Fedora 29

terraform-provider-libvirt -version:
Compiled against library: libvirt 4.7.0
Using library: libvirt 4.7.0
Running hypervisor: QEMU 3.0.0
Running against daemon: 4.7.0

git describe --always --abbrev=40 --dirty
1854aa93f614b0dfc54d5670bb27e9ac6bbda039
___
# Description of Issue/Question
Terraform f

[2018-10-27 20:07] MalloZup commented on #464
Can you update your provider? I just tested that example.and iy works. The error you have is because the old api :)

[2018-10-27 20:09] MalloZup commented on #464
You should also run terraform init for init the providers once you habe the kvm in bin

[2018-10-30 11:38] MalloZup opened #465 "Rework/redisign cloudinit iso-generation"
So this is issue is for improving the `cloudinit` design.

We find out currently that requiring `mkisofs` is not universal enough in different os ( some version of SLES/ and some debian lack on this pkg).
Using also `geniso` was the same issue.

This issue is more about thinking on how we could redisign the iso generation part in more scalable/universal way.

I was thinking to use `usb` disk and `

[2018-11-03 14:16] mtuvikene commented on #464
Can confirm that issue was the old API, now the example works, thanks

[2018-11-03 14:45] MalloZup commented on #464
@mtuvikene thx for feedback enjoy the day ,

[2018-11-03 14:45] #464 closed

[2018-11-05 15:07] tommyknows commented on #364
Is there a workaround to have a VM directly connected to a bridge (and thus to the LAN)?
Or can someone elaborate this:

further? Which bridge, the libvirt or my `br0` on the host?
I want my VMs to have IPs in my home network, to access them directly.

Thanks

[2018-11-05 15:21] MalloZup commented on #364
@tommyknows as workaround you can **cut** the `bridge` generation via terraform.

So basically like this example here: https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/examples/ubuntu/ubuntu-example.tf#L41

We don't have any network/bridge creation in terraform, you just attach the domain to existing ones and the creation should not be part of the TF file.

[2018-11-05 15:44] tommyknows commented on #364
Thanks for the reply. I'm just getting started with TF (and KVM kinda too). I want to set up a CoreOS VM on my ubuntu system.
Currently, I have the following tf config:
[code]

However, I cannot access my host on `.187`.
When using a NATed network, it works fine.

Now, if I _cannot_ set an IP Address for the host (because `qemu-guest-agent` is not installed on coreOS?), how can I find the IP Addre

[2018-11-05 15:47] MalloZup commented on #364
yop, in bridge mode you need the `qemu-guest-agent`  installed on the Domain. Afaik this is the only solution and yop `wait_for_lease` wait forever because we cannot get IP without the `qemu-agent`

[2018-11-05 16:01] tommyknows commented on #364
So there's no way to have CoreOS hosts in bridged mode then? :/

[2018-11-05 16:12] MalloZup commented on #364
@tommyknows you could use the `cloud_init` for installing the `qemu-guest-agent`pkg for the CoreOS and have it in `bridge` mode

[2018-11-05 16:54] tommyknows commented on #364
but there's no networking, right? It's not that I just can't inspect it with KVM, the guest does not have any kind of connection (?).
-> Means I'd need to copy a file onto the host by sharing a volume.

(And "installing" in CoreOS would mean running a docker container, although I'm going to try this.

[2018-11-05 17:04] MalloZup commented on #364
agh yes i think then that coreos doesn\t have cloudinit in that case :smile: but i think you could be in a good directoin in that way :)

[2018-11-05 22:16] wking opened #468 "Allow network updates (vs. recreate) where possible"
#  Version Reports:

### Terraform Version Report

[code]

### Provider and libvirt versions

[code]
___
# Description of Issue/Question

### Setup

[code]

### Steps to Reproduce Issue

[code]
___
# Additional Infos:

Recreating the nework [detaches associated interfaces][1]:

Ideally we'd be updating the network in-place to remove the `hosts` entry (like `virsh net-update`), instead of deleting

[2018-11-05 22:19] MalloZup commented on #468
https://github.com/dmacvicar/terraform-provider-libvirt/issues/389

[2018-11-05 22:23] wking commented on #468
Dup of #389.

[2018-11-05 22:23] #468 closed

[2018-11-06 09:28] Bischoff opened #470 "cloudinit_disk: volumes not removed by terraform destroy"
#  Version Reports:

### Distro  version of host:

```openSUSE Leap 15.0```

### Terraform Version Report

[code]

### Provider and libvirt versions

[code]

installed from `terraform-provider-libvirt-0.5.0+git.1540278427.1854aa93-lp150.5.1.x86_64.rpm`.

___
# Description of Issue/Question

### Setup

Standard sumaform setup copied from uyuni's main.tf.

### Steps to Reproduce Issue

After `terraf

[2018-11-06 10:33] Bischoff commented on #470
If "invalid", please explain why, and how to get around those problems.

[2018-11-06 10:43] MalloZup commented on #470
@Bischoff  yop thx, can you provide a terraform file without `sumaform` which we could reproduce ?

[2018-11-06 10:52] MalloZup commented on #470
i ncan run `terraform apply`

[code]

and `terraform destroy` will destroy

[2018-11-06 10:56] Bischoff commented on #470
please do `virsh vol-list`.

[2018-11-06 11:05] Bischoff commented on #470
I can't reproduce with your minimalist `main.tf` . Still, I reproduced yesterday 100 % with sumaform.

Let me retry.

[2018-11-06 11:21] MalloZup commented on #470
@Bischoff for sumaform please open an issue in sumaform project not here.

i tried out with `virsh vol-list` and i don't have the volume. ( works as expected)

[2018-11-06 16:41] Bischoff commented on #470
@moio @MalloZup sorry I can't ping-pong between both projects. I already reported it on sumaform and was told to move it here.

I was able to reproduce with this main.tf (terraform init, apply and destroy leave the volumes behind):
[code]

[2018-11-06 16:50] MalloZup commented on #470
@Bischoff  i will try to have a look on it once i have some time and look ont the culprit. I suspect it is the `hcl` resource lang but we can see it later.

[2018-11-07 15:33] tommyknows opened #473 "Cannot use cloud-init on RancherOS"
#  Version Reports:

### Distro  version of host:

``` Ubuntu 18.04```

### Terraform Version Report

[code]
(libvirt built from source a few days ago)

### Provider and libvirt versions

[code]
(? 😄)

___
# Description of Issue/Question
I cannot use cloud-init for configuring a RancherOS Instance.
According to [this](https://github.com/rancher/os/issues/1501), the drive should be called "config-2

[2018-11-08 12:29] MalloZup commented on #473
@tommyknows hi thank for issue. Sofar the cloudinit in the provider works for all major distros, so i think it is more ranchos specific. If there are some dev/contributors from ranchos to look at this why not :sunflower:

[2018-11-10 00:37] MalloZup commented on #390
i  will fix this on PR https://github.com/dmacvicar/terraform-provider-libvirt/pull/475 on wip , closing since i will track the work there thx

[2018-11-10 10:55] MalloZup commented on #218
This is fixed by pr waiting  review

[2018-11-10 10:55] #218 closed

[2018-11-13 16:47] dmacvicar commented on #461
Can you try with https://github.com/dmacvicar/terraform-provider-libvirt/pull/431 using a xslt transform?

[2018-11-13 16:49] #473 closed

[2018-11-13 16:50] dmacvicar commented on #463
That is probably invalid. If it is required, but terraform validates "too early" means it is not provided by the user, which means, "computed".

[2018-11-13 17:12] MalloZup commented on #463
yop i think we need to fix that

[2018-11-13 17:13] MalloZup commented on #473
thx @tommyknows  for this !

[2018-11-14 02:44] fkpwolf commented on #461
thanks @dmacvicar. It is nice feature. But looks too advanced for me and for this task. I am not familiar with with xslt.
HCL(.tf file) is a kind of configuration language, and here introduce another one(xslt). I am not sure if this is a good idea.

[2018-11-14 07:49] dmacvicar commented on #461
Ok, ignore everything I said.

I just realized we already support the _passthrough_ element, and this is about it not working. Then it is (probably, as we may not support all variations with a single attribute) a valid bug and we should read https://libvirt.org/formatdomain.html#elementsNICSHostdev and understand how it should work.

[2018-11-14 21:14] MalloZup commented on #470
Closing as we saw other pbs were not related upstream

[2018-11-14 21:14] #470 closed

[2018-11-15 07:11] wking opened #480 "Register as a community provider"
Dunno if this has come up before, but we can [register][1] to be listed [here][2], which may help with discoverability.  Thoughts?

[1]: https://docs.google.com/forms/d/e/1FAIpQLSeenG02tGEmz7pntIqMKlp5kY53f8AV5u88wJ_H1pJc2CmvKA/viewform#responses
[2]: https://www.terraform.io/docs/providers/type/community-index.html

[2018-11-15 12:11] MalloZup commented on #480
hi @wking  thanks for bringing this up.

I"m ok for that :+1: ,  @dmacvicar  CC

[2018-11-16 11:32] MalloZup opened #482 "update to beta1 terraform v0.12"
# Description:

We might update to terraform-beta-1 and see what are the results and evaluate things.

# features with 0.12:

https://github.com/hashicorp/terraform/blob/master/CHANGELOG.md

# Tasks:

be backward compatible, and beta-01 on devel mode

[2018-11-17 09:25] bartekrutkowski opened #483 "Failures to change network_name on existing VM"
#  Version Reports:

### Distro  version of host:

[code]

### Terraform Version Report

[code]

### Provider and libvirt versions

[code]
___
# Description of Issue/Question
When changing `network_name` (for example, from 'default' to 'public') on existing `network_interface` for already existing VM Terraform will report the change a successful, but in fact it won't change the network and subsequ

[2018-11-17 09:44] MalloZup commented on #483
@bartekrutkowski  thx for this issue, i think this is related to an issue we have currently on updating network and network domains https://github.com/dmacvicar/terraform-provider-libvirt/issues/389

[2018-11-18 09:53] remoe commented on #390
@MalloZup , I hope this helps:

[code]

[2018-11-18 10:56] MalloZup commented on #390
@remoe as temp workaround you could do this:

https://github.com/kubic-project/kubic-init/pull/77/files#diff-c929d6abc0a7fde7ff8d19acc056fcaeR16

where you download the image and bzip/gzip them via a `null-resource`

[2018-11-18 11:35] MalloZup commented on #454
adreessing it on pr

[2018-11-18 11:35] #454 closed

[2018-11-19 11:03] MalloZup commented on #418
@Vanuan  hi can you try this out :
https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/examples/xslt/main.tf

i think it will work for you.

[2018-11-19 11:04] MalloZup commented on #418
https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/website/docs/r/domain.html.markdown#altering-libvirts-generated-domain-xml-definition

[2018-11-19 16:02] FedericoCeratto opened #485 "Support setting disk caching policy"
Being able to configure disk caching would be especially useful when running KVM based testbeds / CI
Example:
[code]
Thanks!

[2018-11-20 07:18] dmacvicar commented on #485
Is this a common setting enough to expose it in the schema?

Would the XSLT transform feature in master to set the value in your situation?

[2018-11-20 07:21] dmacvicar commented on #480
Done, thanks for the hint.

[2018-11-20 07:21] #480 closed

[2018-11-20 08:11] dmacvicar commented on #483
I see is as a duplicate, but it is not exactly the same. This is about updating the network interface, not the network, and this need a "design", as it involves [virDomainUpdateDeviceFlags](https://libvirt.org/html/libvirt-libvirt-domain.html#virDomainUpdateDeviceFlags)

Ideally we should revisit the whole _Update_ function of all resources, and track it in a single bug (probably updating the desc

[2018-11-20 08:11] #483 closed

[2018-11-20 13:57] MalloZup commented on #482
i wanted to use the beta etc version for see what we would need to change but yop i think is fine to don't use the issue tracker for it thx. closing

[2018-11-20 13:57] #482 closed

[2018-11-22 15:18] dmacvicar commented on #439
What is the use case, given that https://github.com/terra-farm/terraform-provider-virtualbox exists?

[2018-11-22 15:20] MalloZup commented on #439
good point @dmacvicar  . @lifeofguenter  if your usage are covered by that plugin we can close this imho

[2018-11-25 12:38] remoe opened #488 "v0.5.0 binary not run on WSL because of libVirt 4.1 requirement"
#  Version Reports:

### Distro  version of host:

```Ubuntu 18.04.1 LTS (Bionic Beaver)```

### Terraform Version Report

```Terraform v0.11.10```

__
# Description of Issue/Question

Can't run terraform-provider-libvirt 0.5 binary on Windows WSL:

https://github.com/dmacvicar/terraform-provider-libvirt/releases/download/v0.5.0/terraform-provider-libvirt-0.5.0.Fedora_28.x86_64.tar.gz

It throws:

[2018-11-25 14:09] MalloZup commented on #488
@remoe hi thx for issue.
When you build the pkg from source, it build against the `libvirt-devel` of the host where you build, so this is why it works when you build from source.

For the `0.5.0` fedora pkg, that pkg was builded against that HEADER of Libvirt-Devel and and fedora 28 provide the 4.1  https://fedora.pkgs.org/28/fedora-x86_64/libvirt-devel-4.1.0-2.fc28.x86_64.rpm.html

[2018-11-25 14:14] MalloZup commented on #485
@dmacvicar  we tried with `xslt` and worked out. @FedericoCeratto if you want it on the plugin, i will let this issue open ( as good first issue), or if you are fine with `xslt` we can close this, as you wish :sunflower:

[2018-11-25 14:48] remoe commented on #488
thanks for this detailed explanation.

[2018-11-25 14:48] #488 closed

[2018-11-26 07:18] thundertaker opened #490 "Support for live migration"
#  Version Reports:

### Distro  version of host:

[code]

### Terraform Version Report

[code]

### Provider and libvirt versions

[code]
___
# Description of Issue/Question

Libvirt with qemu-kvm hypervisor has a live migration feature: https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/html/virtualization_deployment_and_administration_guide/sect-kvm_live_migration-live_kvm

[2018-11-26 07:40] MalloZup commented on #490
Indeed on the user level i think could be a nice feature, thx for bringing this up. On the tech pov we can figure out . Thx!

[2018-11-26 18:42] MalloZup opened #491 "Destroy domain doesn't destroy if the domain is libvirt_destroyed (shutdown)"
# How to reproduce:

[code]

This create the domain.

2) `virsh destroy domain-terra`

3) `terraform destroy` will not destroy the domain.

I think we should undefine the domain even if it is `shutdown`

[2018-11-26 18:42] MalloZup commented on #491
@inercia @dmacvicar  any thoughts about this, i think we should destroy the domain if even it shutdown.

[2018-11-27 18:13] MalloZup opened #493 "research for Remove mutex on pool"
After some discussion we can remove the mutex because they are not needed.

I can take care on this and do some tests investigation and performance analysis

[2018-11-27 18:49] remoe commented on #364
Awesome hint! Thanks for this.

[2018-11-28 16:05] juliogonzalez opened #494 "Provider does not check image correctness after a failure downloading it"
#  Version Reports:

### Distro  version of host:

SLE 12 SP3

### Terraform Version Report

v0.11.10

### Provider and libvirt versions

0.5.0+git.1542698041.34c84ded-1.1
___
# Description of Issue/Question

### Setup

[main.tf.gz](https://github.com/dmacvicar/terraform-provider-libvirt/files/2624783/main.tf.gz)

### Steps to Reproduce Issue

I am not 100% sure how to reproduce the exact error, s

[2018-11-28 16:05] juliogonzalez commented on #494
Ping @Bischoff, as he initially discovered this problem a week ago.

[2018-11-28 16:09] MalloZup commented on #494
@juliogonzalez  concretely what do you mean here is e.g:

Img size = 3GB
Img downloaded = 1GB
Stop download for whatever reason, we think the download is finished.
we don't ensure that the image has the full-size right?

I think if it this case, we might add a `computed` field where we store the original-size and we should retry in case of failures

[2018-11-28 16:59] juliogonzalez commented on #494
@MalloZup the actual result is that the image size is ~700Mb but the downladed image is ~200MB.

But there was an error, and it was detected by terraform, it's on the description and the log:
[code]
So maybe the image resource should be marked just as failed from a terraform perspective (if it is not now), so when `terrafrom apply` runs again, the image is redownloaded.

I hope I am not saying som

[2018-11-28 17:11] MalloZup commented on #494
@juliogonzalez yop i see the problem i think we would need an additional field for that checking the size of the copied image is like the source.. thx for issue :sun_with_face:

[2018-11-28 17:35] juliogonzalez commented on #494
@MalloZup not exactly.

The problem can be detected by size, of course. But the network error itself was detected by terraform. Can't that be used to mark the image as failed?

[2018-11-28 20:18] #439 closed

[2018-11-28 20:59] MalloZup commented on #485
Yop  is good

[2018-11-28 21:02] MalloZup commented on #493
Doing closing

[2018-11-28 21:02] #493 closed

[2018-11-28 21:31] Bischoff commented on #494
Do we use libvirt to do the downloads ? IIRC we simply did a transfer with curl or something like that.

[2018-11-28 21:36] dmacvicar commented on #491
_destroy_ in terraform means the resource should be gone. That is indeed _undefine_.

Now, _resourceLibvirtDomainDelete_ already calls _undefine_. I tried the _boot_ example and could not reproduce it. The domain was undefined.

Can you run _destroy_ with TF_LOG=debug and show us why it stays there?

[2018-11-28 21:41] dmacvicar opened #496 "validate_terraform_files.sh succeeds when terraform command does not exist"
[code]

[2018-11-28 21:41] MalloZup commented on #494
The provider download the files in memory with a stream, this will then download to libvirt volume.(explaining shortly) What duncan says is correct, the best and simply approach is to remove volume in case of failures. The other approchs could be more difficult and not guarantee any non corruption

[2018-11-28 21:49] MalloZup commented on #491
Yop i will update status tm with debug no pb

[2018-11-28 21:51] juliogonzalez commented on #494
That approach is perfectly fine for me.

As long as the volume is redownloaded when we rerun `terraform apply`, I don't really care how is that detected :-D

[2018-11-28 22:14] dmacvicar commented on #494
This is the right approach. And it is trivial IIRC. It shows that our code has a bug:

https://github.com/dmacvicar/terraform-provider-libvirt/blob/67abfbc429d5c1dd8ddc663ca01e98d733e42b6a/libvirt/resource_libvirt_volume.go#L260

We set the ID before the moment an error can occur. We should set the ID either after the resource is ready, or `d.Set("id", "")` in the error handling should _taint_ it.

[2018-11-28 23:47] Bischoff commented on #494
Then it's enough to move `d.setId()` from line 246 to 263... Indeed trivial.

[2018-11-29 08:18] MalloZup commented on #491
@dmacvicar  yop you are right, i think it was my mistake, i retry it now and the domain could get destroyed.

Thx and sorry :sunflower: closing

[2018-11-29 08:18] #491 closed

[2018-11-29 08:48] MalloZup commented on #496
this now fail correctly. https://travis-ci.org/dmacvicar/terraform-provider-libvirt/builds/461170100?utm_source=github_status&utm_medium=notification

`
0.04s$ travis/validate_terraform_files.sh
+cd examples
++wc -c
++terraform fmt
+'[' 13 -ne 0 ']'
+echo 'terraform files need be formatted! run terraform fmt!'
terraform files need be formatted! run terraform fmt!
+exit 1
The command "travis/valida

[2018-11-29 08:56] #496 closed

[2018-11-30 08:42] MalloZup commented on #494
closing in favor of the PR

[2018-11-30 21:05] brd commented on #443
I have an existing bridge, `br0`, that it refuses to bridge to because it already exists.. Config:

[code]

And error:

[code]

Followed by:

[code]

[2018-11-30 21:29] MalloZup commented on #443
@brd open a separate issue for.that i know it is a problem atm i will fix that  soon

[2018-11-30 21:41] brd commented on #443
I have been looking at this more and it looks like `network_interface` needs a type.. because the host is created as:

[code]

and it should be:

[code]

[2018-11-30 22:03] brd commented on #443
Oh, reading the source I found `bridge_name`..

[code]

[2018-11-30 22:31] brd commented on #443
Thanks!

[2018-12-01 11:03] MalloZup commented on #293
@mgunjan https://github.com/moio/sumaform/blob/1511370aee3407bcd927b6b834dcf6c5448fe129/modules/libvirt/host/main.tf#L38

and official doc here:
https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/website/docs/r/network.markdown#libvirt_network

Hope it helps!

[2018-12-01 20:36] remoe commented on #364
Hey ... here is a part of my CoreOS setup like what @tommyknows was done:

[code]

mount-images.cli
[code]

The mount works, but not the run of the qemu-agent container. Try to solve it ...

[2018-12-05 05:24] amitinfo2k opened #499 "Enhancement : Support cpu pinning"
I had a usecase where I need to pin CPU to VM. In current provider plugin there is no option for CPU pinning.
It will good to have that.

[2018-12-05 05:31] amitinfo2k commented on #461
Hello Duncan Mac-Vicar P.,
Is there any plan to address this ?  Otherwise I have working patch which supports PCI Passthrough using (using 'hostdev'. element) would like to integrate it.
Thanks,

[2018-12-05 07:55] MalloZup commented on #499
hi @amitinfo2k  you can already add this feature by using XSLT. Have a look at this
https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/examples/xslt/main.tf :+1: if you have question feel free to ping me

[2018-12-05 07:56] MalloZup commented on #499
https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/website/docs/r/domain.html.markdown#altering-libvirts-generated-domain-xml-definition

[2018-12-05 14:51] grzeniek opened #500 "Can not assign address to interface connected to isolated network"
#  Version Reports:

### Distro  version of host:

``` Fedora 29 ```

### Terraform Version Report

```Terraform v0.11.10```

### Provider and libvirt versions

[code]

If that gives you "was not built correctly", get the Git commit hash from your local provider repository:

[code]
___
# Description of Issue/Question

When creating new isolated network of type 'none' and assigning interface to it

[2018-12-05 20:10] tommyknows commented on #364
Mh I'm not sure - i think it could just be the entrypoint of the container. What happens if you change the entrypoint (the command that the container is started with) to `/usr/bin/qemu-ga`?
Or am I missing something?

[2018-12-09 19:45] rsjethani commented on #435
IMO pools are not supposed to be managed by Terraform.

[2018-12-10 17:57] MalloZup commented on #461
hi @amitinfo2k  thank you for interest!

We don't have any time in `short-term` to fix so a contribution from your part would be awesome.

https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/CONTRIBUTING.md
Feel free to work on this!

[2018-12-10 18:02] MalloZup commented on #500
@grzeniek you will have more infos on this issue on this comment : https://github.com/dmacvicar/terraform-provider-libvirt/issues/441#issuecomment-442960947 hope it helps! :sunflower:

[2018-12-11 11:19] grzeniek commented on #500
Hi, thanks for info.

As I understood enabling dhcp on network net-01 should fix my problem? So I've tried this (enabling dhcp on net-01) but I couldn't get static assigned ip address on interface, it got assigned from dhcp server.

[2018-12-12 06:06] amitinfo2k commented on #499
Let me try xslt (not much familier) but, i would have preferred to have 'cputune' attribute exposed in the terraform template.I have done the changes which works for me.I would like to push those.

[2018-12-12 07:42] MalloZup commented on #499
We enabled xslt because exposing quickly variables in terraform,  was adding complexity and bugs in the past and also since we want to make all people happy without coding. If you have a pr feel free to submit it, this is always welcome. Thw

[2018-12-15 09:30] MalloZup commented on #388
Closing duplicata

[2018-12-15 09:30] #388 closed

[2018-12-15 09:33] MalloZup commented on #171
We use now xslt for allowing custom parameters to domain network etc. Look at the doc or examples. Tia

[2018-12-15 09:33] #171 closed

[2018-12-15 09:35] MalloZup commented on #350
@ncsurfus we fixed it. Have look with latest release and doc on xslt.
https://github.com/dmacvicar/terraform-provider-libvirt/tree/master/examples/xslt.

[2018-12-15 09:35] #350 closed

[2018-12-15 09:36] MalloZup commented on #419
@unsubtleguy fixed by this https://github.com/dmacvicar/terraform-provider-libvirt/tree/master/examples/xslt you can add custom parameters.  Look also at the doc. Thx

[2018-12-15 09:36] #419 closed

[2018-12-15 09:39] MalloZup commented on #402
Closing since cleared. Thx all contributors and Linux lover, no matter which distro.

[2018-12-15 09:39] #402 closed

[2018-12-17 14:20] dmacvicar commented on #500
@grzeniek May be I am missing something, but, how would configuring a static IP address from outside the VM, without assistance of the operating system network configuration, and without DHCP work?

[2018-12-17 14:24] dmacvicar opened #502 "Not possible to leave network card without ip address"
## Full example
[code]

### Details
Given network:

[code]

And network interface:

[code]

It is not possible to leave the IP address unconfigured, which is a common case for QA teams.

[code]

[2018-12-19 20:22] abbbi opened #503 "created volumes not found on first run, using base_volume_name"
#  Version Reports:

### Distro  version of host:

``` debian  ```

### Terraform Version Report

[code]

### Provider and libvirt versions

[code]

___
# Description of Issue/Question

### Setup
I try to archive an generation of the domains images and based on disks on the fly using
count.

Each setup might consist of several images which have different OS base images:

these are my images with t

[2018-12-19 20:44] abbbi commented on #503
nevermind, it seemed to create the client volumes before the os_base_volume, i used depends_on to work around this. Nothing module related here, can be closed :)

[2018-12-19 20:44] #503 closed

[2018-12-20 08:14] colachg commented on #464
[code]

[2018-12-20 08:18] MalloZup opened #504 "Mutex and libvirt investigation"
See comment https://github.com/dmacvicar/terraform-provider-libvirt/pull/495#event-2014310185

[2018-12-20 08:45] asmorodskyi commented on #502
this is problematic code from `libvirt/domain.go` :
[code]

getting to `waitForLeases` is controlled by

[code]

from what I have learn about go in last days  :

[code]
should not reach `waitForLeases` collection , but it reaching it what I have missed ?

[2018-12-20 08:47] abbbi commented on #500
@grzeniek for fixed ip addresses you would need the feature of defining static leases via MAC addresses, there is work beeing done garding this in PR #477

https://github.com/dmacvicar/terraform-provider-libvirt/pull/477

[2018-12-20 09:06] MalloZup commented on #502
hi all, can you provide the full `example.tf` here for reproducing it? Tia :sunflower:

[2018-12-20 09:08] asmorodskyi commented on #502
github not allow to load tf files so need to change ext.

[three_machines.txt](https://github.com/dmacvicar/terraform-provider-libvirt/files/2698101/three_machines.txt)

[2018-12-20 09:39] MalloZup commented on #504
@wking  so at that time, my test without mutex went fine on this env.
It might worth that you could upgrade your env. to see if with higher version we can reproduce.
I am searching at moment on the bug workarounded.
However, at moment i am reconsidering to re-enable them if we found out that the bug is impacting the to much user on saying lower then 4.0 , i think we should reintroduce them.

`leap

[2018-12-20 09:54] MalloZup commented on #502
@asmorodskyi currently i still don't get your issue and i'm trying to reproduce.

Remember that it is an opensource and community project here, and also in day by day business i am busy with other stuff.
I try always to help people around and silently fixing without giving explication is not my style.

As i say before, i don't know how to reproduce and dunno what is your problem, so i'm taking the

[2018-12-20 10:22] asmorodskyi commented on #502
@MalloZup didn't plan to push you anyhow take your time and get to the issue whenever it will suit your priorities list I have no problems with that. Meanwhile I will try to proceed on my own. In case you have any certain question I am ready to answer.
Some background for this issue : we trying to use terraform to setup  environment which we plan to use for testing Network stack. So we  need to ha

[2018-12-20 10:24] MalloZup commented on #502
@asmorodskyi  no worry, it is ok! thank you for feedback and infos.

[2018-12-20 13:41] MalloZup commented on #502
@asmorodskyi ok i see the problem.

What i would try if i were you:
1) remove the `if` block https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/libvirt/domain.go#L663-L665
2) rebuild the provider with these changes on your `$GOPATH`: `make`, `make install`. This will generate a bin .
Move the binary `terraform-provider-libvirt` in `/usr/bin`, removing the old provider.

After 2 i

[2018-12-20 16:53] inercia commented on #502
@asmorodskyi As @MalloZup mentioned, I think the key would be to replace the https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/libvirt/domain.go#L663-L674 block by a `if wait { partialNetIfaces[strings.ToUpper(mac)] = ...}` (so we would add the interface to the list of partially resolved interfaces if and only if we have the wait set). In this way, we would not force users provid

[2018-12-21 10:49] grzeniek commented on #500
I thought it is possible to assign static address through 'addresses' option in network_interface definition. Now I'm doing this through cloud-init.

[2018-12-21 13:10] asmorodskyi commented on #502
@MalloZup  I deleted more then you suggesting https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/libvirt/domain.go#L655-L665 because go complains about `wait` variable which was declared but never used. after compiling and running terraform with modified version of provider I got some different error :
[code]

1. not sure why error about qcow image popup and if it is related. befo

[2018-12-21 13:13] inercia commented on #502
Sorry, I was suggesting to do something like:

[code]

[2018-12-21 14:05] asmorodskyi commented on #502
to investigate qcow error i did the following :
1. delete network domain from config at all so it will look like this :
[code]
2. Run this config with master HEAD version of provider => no errors
3. Run this config with modified version with suggestions by @MalloZup => no errors

So for me it looks like something which requires investigation too no related  to current issue. I mean it shouldn't th

[2018-12-21 15:58] MalloZup commented on #502
@asmorodskyi your snippet of terraform without network Interface is ok that you don't have any error, if you remove the `networkIface` and this from domain.

The comment from @inercia  to me make sense. see (https://github.com/dmacvicar/terraform-provider-libvirt/issues/502#issuecomment-449385214)

With that modified codebase, if i were you, i would build the provider and then retry this `tf`: htt

[2018-12-21 16:33] asmorodskyi commented on #502
@MalloZup I just tried code suggested by @inercia with initial `tf`  -

[code]

[2018-12-23 11:13] #504 closed

[2018-12-24 09:37] colachg commented on #464
set `security_driver = "none"` in `/etc/libvirt/qemu.conf`　then reload config and restart libvirtd. It works.

[2018-12-26 23:01] thundertaker opened #506 "CentOS package could not be installed"
#  Version Reports:

### Distro  version of host:

```CentOS Linux release 7.5.1804 (Core)```

### Terraform Version Report

[code]

### Provider and libvirt versions

[code]

___
# Description of Issue/Question

### Steps to Reproduce Issue

1. Go to [stable OBS repo page](https://build.opensuse.org/package/show/systemsmanagement:terraform/terraform-provider-libvirt) from README.md
2. Add the rep

[2018-12-28 12:59] asmorodskyi commented on #502
after spending more time on reading a code I found that we need to clarify issue description :

when I add `mode = "none"` all works as expected no errors and domain created successfully. So issue popup only for `nat` and `route` modes ( and also when nothing is defined which treated as default nat ). More code investigation needed how actually NAT is created ? Maybe it really need to have IP addr

[2019-01-01 19:26] mykaul opened #508 "Enhancement: ability to configure USB model = none"
It'd be great if you could NOT configure USB devices by default.
The XML is simple:
<controller type='usb' model='none'>

[2019-01-01 19:28] mykaul opened #509 "Small enhancements: [3]"
Enhancement: ability NOT to configure display at all

It'd be nice not to configure a display - graphics or video device, at all.
With console (virtio or not), they are many times not needed at all.

[2019-01-01 19:29] mykaul opened #510 "Enhancement: ability to configure queues for NICs"
Queues can improve NICE performance, it'd be great if it can be added as a parameter to the NIC configuration (relevant for virtio)

[2019-01-01 19:30] mykaul opened #511 "Enhancement: ability NOT to configure a balloon device"
It is enabled via libvirt by default, but without anyone managing it, it's not very useful.
To disable it:
[code]

[2019-01-01 23:37] klauserber opened #512 "Slow /dev/random device in ubuntu 18.04"
#  Version Reports:

### Distro  version of host:

``` Ubuntu 18.04 ```

### Terraform Version Report

[code]

### Provider and libvirt versions

[code]
___
# Description of Issue/Question

### Setup

[code]

### Steps to Reproduce Issue
The boot of the VMs stuck at the line 'C) 2000-2006 Netfilter Core Team' for a random time (ca. 5-600 seconds)

[code]

The problem ist the section for the random

[2019-01-02 07:32] klauserber commented on #512
A solution is to install the package 'rng-tools' on the host system. It would be nice if this were documented somewhere.

[2019-01-02 10:22] arbulu89 opened #513 "Provisioner file fails when the provider is a remote machine"
#  Version Reports:

### Distro  version of host:

``` openSUSE Leap 15.0```

### Terraform Version Report

```Terraform v0.11.10```

### Provider and libvirt versions
libvirt version:
```libvirtd (libvirt) 4.0.0```

terraform-provider-libvirt plugin version (git-hash)

Current master: afd5c1a78fab19313cbacc9b56dbc5cf6024cae9
___
# Description of Issue/Question
The provisioner "file" step fails wh

[2019-01-02 10:27] arbulu89 opened #514 "Enable shared disks usage between created VM-s"
#  Version Reports:

### Distro  version of host:

``` openSUSE Leap 15.0```

### Terraform Version Report

```Terraform v0.11.10```

### Provider and libvirt versions
libvirt version:
```libvirtd (libvirt) 4.0.0```

terraform-provider-libvirt plugin version (git-hash)

Current master: afd5c1a78fab19313cbacc9b56dbc5cf6024cae9
___
# Description of Issue/Question

In some of our developments we need

[2019-01-02 11:04] arbulu89 commented on #513
After a further check, I have discovered that I needed to specify a network bridge in order to make this thing work. After this changes everything worked fine. I will close this ticket as It was a config error.

[2019-01-02 11:04] #513 closed

[2019-01-02 15:03] remoe opened #515 "Possible to use terraform-provider-ct in libvirt_domain / coreos_ignition ?"
Is it possible to use https://github.com/coreos/terraform-provider-ct terraform plugin in libvirt_domain ?

idea:

[code]

[2019-01-02 15:13] remoe commented on #515
Need to modify this function:

https://github.com/dmacvicar/terraform-provider-libvirt/blob/b934900a09f8c28292283bd235e8e35ed75c1c9f/libvirt/domain.go#L232

?

[2019-01-02 15:37] remoe commented on #515
Sorry, it's already possible with libvirt_ignition/content.

[2019-01-02 15:37] #515 closed

[2019-01-02 17:07] inercia commented on #512
Thanks for the feedback @klauserber. From the man page, it seem that _"When the entropy pool is empty, reads from /dev/random will block until additional environmental noise is gathered."_, while reads from `/dev/urandom` are non-blocking. The `rng-tools` _"daemon  feeds data from a random number generator to the kernel's random  number  entropy  pool", so I guess the blocking is because the entro

[2019-01-03 08:10] klauserber commented on #512
Hello @inercia, I think we should changes the domain definition to use /dev/urandom as recommended here: https://libvirt.org/formatdomain.html#elementsRng . Do you agree?

I have a working solution based on v0.5.1. Just a small change in domain_def.go.

But the master branch is not work for me, because there is something wrong with the volume creation (the resulting initial volume size in the abov

[2019-01-03 08:41] inercia commented on #512
_" When no file name is specified, the hypervisor default is used. For QEMU, the default is /dev/random. However, the recommended source of entropy is /dev/urandom (as it doesn't have the limitations of /dev/random)."_ Yeah, I think we should change the default value... :+1:

[2019-01-03 10:40] arbulu89 commented on #514
@inercia thank you for your answer. I have tried your suggestion and apparently everything worked fine! I guess that this "workaround" is good enough by now.
Thanks!

[2019-01-03 10:49] arbulu89 commented on #441
@MalloZup Same issue here. Hosts entries are only created in the second apply (even using the network ID)

[2019-01-03 11:00] arbulu89 commented on #500
@MalloZup As far as I understood from the last converstation, static IP assignment is not still available for private virtual networks, right? I'm not talking about dhcp, just assign an address the the desired network interface for this domain.

As vagrant does for example (check static ip):
https://www.vagrantup.com/docs/networking/private_network.html

[2019-01-03 11:15] MalloZup commented on #512
https://unix.stackexchange.com/questions/324209/when-to-use-dev-random-vs-dev-urandom

[2019-01-03 11:20] MalloZup commented on #514
@arbulu89 thx for issue. and thx @inercia :cupid:

I think we can let this issue open  because of the `disks` behaviour which we could improve in middle-term/longterm

[2019-01-03 20:20] mmersin commented on #142
I also faced this issue, with [v0.5.1](https://github.com/dmacvicar/terraform-provider-libvirt/releases/tag/v0.5.1) version on CentOS 7.6.

`terraform apply` failed with error below
[code]

after setting SELinux mode to permissive, it worked.

For reference,
- `p03_disk` is volume created with libvirt_volume resource
- `p03_ignition.ign` is ignition file created by libvirt_domain resource, through

[2019-01-04 14:55] abbbi commented on #512
See my branch. Doesnt change the overall default which is picked by qemu but at least allows to set the rng device via config. Defaults to /dev/urandom in config.

rng {
  device = ...
}

[2019-01-07 05:55] brgalloway commented on #349
A specific use case for me is that the KVM hypervisor is hosted on a Ubuntu Server with no GUI. In order to get a console session you would have to find the new VM's listening port, and then ssh into the host server to forward the ports over an ssh tunnel. If you configure a specific listing ip address you can then just open a VNC Viewer session. All of my sessions for console are saved in VNC so

[2019-01-07 10:10] congaframe commented on #349
hey,
Our use-case is at the moment we need to login to the console in order to configure the VM, such as networking configuration for SSH. or sometimes we need to troubleshoot the VMs if ssh/network isn't working properly .

[2019-01-07 12:48] #512 closed

[2019-01-07 17:46] MalloZup opened #529 "Update domain correctly within the terraform update"
# Desc:

Currently when we create a domain, we need to take care that when a user modify a paramater, we should update the domain. ( see examples later)

### domain update
https://libvirt.org/html/libvirt-libvirt-domain.html#virDomainDefineXML
### devices:
https://godoc.org/github.com/libvirt/libvirt-go#Domain.UpdateDeviceFlags

We might also to investigate on updating disks etc

This issue is als

[2019-01-08 09:21] MalloZup commented on #529
https://github.com/dmacvicar/terraform-provider-libvirt/pull/530

[2019-01-08 17:06] MalloZup opened #534 "implement update VNC listener"
Follow up from https://github.com/dmacvicar/terraform-provider-libvirt/pull/533

When an user has an exsting domain, we should also update the listner in terraform.

- [ ] implement terraform update
- [ ] implement testacc for testing update

[2019-01-09 09:17] abbbi opened #535 "Allow setting for disk mode sata"
hi,

currently the plugin only supports two disk types: virtio(-scsi) and virtio.
IDE is used for CDROM.

There are certain systems that dont work with the scsi or virtio option. Some might need SATA
(like ESXi).

There should be the possiblity to specify SATA as disk bus option too.

[2019-01-09 09:19] MalloZup commented on #535
@abbbi  for all this extension features, you can use this: https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/website/docs/r/domain.html.markdown#altering-libvirts-generated-domain-xml-definition

:rocket:

[2019-01-09 09:31] abbbi commented on #535
@MalloZup

yes i know, but then it might make sense to have something like:

disk {
  type = "sata|scsi|virtio-scsi|ide"
  ..
}

[2019-01-09 09:44] MalloZup commented on #535
yop i get point

[2019-01-09 11:00] MalloZup commented on #506
@thundertaker thx for issue. If you `skip` i think it should install anyway.
The problem is a direct dep to `terraform` pkg packaged on obs. this pkg should be builded also for centos

[2019-01-10 02:39] colachg opened #536 "Improve error msg of timeout while waiting for state to become 'all-addresses-obtained' (last state: 'waiting-addresses', timeout: 5m0s"
#  Version Reports:

### Distro  version of host:

``` Ubuntu18.04 ```

### Terraform Version Report

[code]

### Provider and libvirt versions

[code]

If that gives you "was not built correctly", get the Git commit hash from your local provider repository:

[code]
___
# Description of Issue/Question

### Setup
(Please provide the full **main.tf** file for reproducing the issue (Be sure to remove

[2019-01-10 08:16] mykaul commented on #509
I assume the fix should be @ https://github.com/dmacvicar/terraform-provider-libvirt/blob/e0e8029af6fb17e6ec35f659b78bbcc42c900ca7/libvirt/domain.go#L278 -
Something like:
[code]

instead of the error.

[2019-01-10 18:16] abbbi commented on #536
You do not seem to define any network resource, still you are waiting for the lease, using a macvtap device. How is the VM supposed to get an IP address? The plugin times out waiting on the dhcp lease for the network address.

[2019-01-10 20:23] litewhatever commented on #126
Please re-open as this has merged again after latest commits.

[2019-01-11 03:04] colachg commented on #536
I follow this:

@abbbi
Yes, I didn't define any network resource.Because I  want the VM to get an IP address of the LAN using the macvtap device.
I have used the `default` network, I can get the NAT(ed) IP address(like: 192.168.122.22).This is not my scenario.
Do you mean if I don't define network resource the VM can not get an IP address or the terraform can not  retrieve the ip adresses of domai

[2019-01-11 07:54] MalloZup commented on #536
You need to install the qemu agent  pkg on your vms and enable it. This should give you the ip

[2019-01-11 08:40] colachg commented on #536
@MalloZup Thanks

[2019-01-14 11:13] MalloZup commented on #364
this was fixed by https://github.com/dmacvicar/terraform-provider-libvirt/pull/531

[2019-01-14 11:13] #364 closed

[2019-01-14 18:39] MalloZup commented on #536
@colachg  for this issue i pushed a PR in wip right now.

https://github.com/dmacvicar/terraform-provider-libvirt/pull/537.
I would like that also you help there regarding the Error msg suggestion. Is kind wip there for moment.
I'm closing this issue.
For the 2nd issue you faced is not something we can provide help because this are `libvirt` specific issues which we cannot fix. thx and enjoy.
:sun

[2019-01-14 18:39] #536 closed

[2019-01-14 18:45] MalloZup commented on #508
@mykaul not having USB enabled by default, which advantage would bring it? i am just curious. tia

[2019-01-14 19:01] mykaul commented on #508
Performance: At least (the old only?) USB controller used to be polling - a periodic interrupt, consuming (small, insignificant?) CPU resources.
Security: reduced surface attack.

Nothing substantial, really.

[2019-01-15 09:07] #338 closed

[2019-01-15 09:09] MalloZup commented on #349
fixed

[2019-01-15 09:09] #349 closed

[2019-01-15 13:47] MalloZup commented on #463
i have checked this is not possible closing for moment

[2019-01-15 13:47] #463 closed

[2019-01-17 17:40] inercia opened #538 "Enhancement proposal: snapshots"
# Description

`libvirt` supports three kinds of snapshots: _disk snapshots_, _memory states_ and _system checkpoints_. I think that _disk snapshots_ or _memory states_ are not really useful in the context of typical Terraform deployment, but _system checkpoints_ could be a nice way to freeze the current state of a domain and rollback to that state in the future.

From the [documentation](https://

[2019-01-18 08:39] MalloZup commented on #538
thx @inercia . Yop i was thininking also to add this feature and i think would be indeed a nice feature to have.  :rocket: :rocket:

First comments on your RFC. I will read more later.

1) Regarding name of resource, i would stick with the name `snapshot`.
    Even if technically is not correct, the name of `snapshot` is what user are familiar for.
    Having `checkpoint` is less common
instead  o

[2019-01-19 08:41] MalloZup commented on #538
Assigning people for feedback

[2019-01-19 09:12] MalloZup opened #539 "Research, evaluate use of data source and share the findings where codebase need adaption."
We have introduced datasources for network. However this pattern construct is not globally spread among the codebase and there is no guideline to use it.

This card is about researching about the codebase parts where we can use datasources and why it could be useful. Also create small actionables issue for refactoring.

It can be also a conter research to say datasources aren't a good pattern and

[2019-01-19 21:34] dmacvicar commented on #511
Disabling it will result in another issue opened to implement being able to enable it.

Enabled does not hurt, and allows to start using it from the host at any moment. So I think it does not make sense to disable it if the default does has relevant disadvantages.

[2019-01-19 22:02] dmacvicar commented on #538
It looks like a very interesting topic to explore. Great idea.

* One creates a _snapshot_ resource, depending on some provisioning action, so that it is created at the right time after provisioning
* One wants to revert to just after provisioning, one sets _snapshot.name_ attribute in _domain_ to the name, and performs `terraform.apply`which would revert to that snapshot by calling _virDomainReve

[2019-01-20 07:06] mykaul commented on #511
It's enabled by default, all you need to add is a disable option.
Enabling doesn't hurt, so is disabling it. There isn't anyone that can use it - the only mgmt applications I'm aware of that use it are oVirt and potentially OpenStack (Proxmox?) and non of them run directly against VMs running directly via libvirt and not via their own mgmt agents.

The idea in this issue (and related, similar) is

[2019-01-20 10:50] dmacvicar commented on #511
I don't understand. The same feature in the vagrant provider was also opened by you and is still open (https://github.com/vagrant-libvirt/vagrant-libvirt/issues/945).

If it is so trivial, we would welcome a Pull Request from you. As you mention consistency between both projects, please refer to the same accepted PR in vagrant-libvirt once you open one here.

Feel free to cite this issue in the PR

[2019-01-20 10:50] #511 closed

[2019-01-20 16:30] dmacvicar opened #545 "CentOS binaries are not building"
CentOS build can't find golang package. I can't recall if we had some magic for that, and why it stopped working.

* I recall CentOS 7 never having golang package, but I think we had some magic to reuse the golang binary from a different target

https://build.opensuse.org/project/show/systemsmanagement:terraform:unstable

[2019-01-28 02:42] littlehunch opened #546 "Permission Denied"
##  System Information

### Linux distribution

[code]

### Terraform version

[code]

### Provider and libvirt versions

[code]

If that gives you "was not built correctly", get the Git commit hash from your local provider repository:

[code]
___

## Checklist

- [ ] Is your issue/contribution related with enabling some setting/option exposed by libvirt that the plugin does not yet support, or re

[2019-01-29 10:14] MalloZup commented on #546
Hi all thx for reportong this. However this is not a provider issue. Is an issue part of your libvirt configuration. Permission denied means you don't have rights to write in that dir. Maybe it is your user or other libvirt minimal conf. Try to change default pool repo or investigate on the basic libvirt conf.

[2019-01-29 18:50] rustychapin commented on #546
MalloZup I am not sure that this is the case.  If you take a look at the permissions, in my previous comment, on commoninit.iso and ubuntu-0 they are receiving different permissions though they are created via the libvirt provider.  I have attempted modifying the qemu.conf to be root:root and still receive permission denied.  My libvirt config is unmodified.  I have spent hours researching solutio

[2019-01-29 18:53] rustychapin commented on #546
@MalloZup  - sorry meant to ping you on this so it got your attention... see above.

[2019-01-30 00:13] zacbayhan commented on #546
I'm still having issues after changing the location of the volume to my home dir, I've played around a bit with the file permissions / ownership but don't seem to making much headway. I did notice some apparmor logs in syslog

### provider-provider-libvirt:
[code]

### syslog:
[code]

I wouldn't be surprised to findout that I've installed or configured something wrong, I'm just having difficulty f

[2019-01-30 01:16] rustychapin commented on #546
@MalloZup - After another day of research I have found some historical context that is interesting.  However I DO AGREE... This is NOT an issue with terraform-provider-libvirt.

This looks like it may be a recurrence of an issue where QEMU is failing to generate the correct permissions for qcow2 formatted volumes.  Either way this issue should be closed on your side.  Would be great if we could ge

[2019-01-30 08:22] MalloZup commented on #546
@rustychapin @rustychapin @littlehunch  issues with `permission denied` is always kind tricky to find out.

Normally in my experience, on a openSUSE machine: i have my user belong to `libvirtd` and `kvm` groups. The rest is done via configuration files ( libvirt/qemu)

I would disable apparmor and try if if works. i am closing this issue but you can either write on this issue for sync with others

[2019-01-30 08:22] #546 closed

[2019-02-04 17:21] Isma399 opened #547 "Is it a way to have mac address libvirt-like"
For now, mac address seem to be generated randomly.
Is it a way to the libvirt prefix vendor (ie: 52:54:00) at the beginning of the mac address created.

It's quite comfortable to know where come network flow with this type o MAC address.

Thank you for your answer and for your provider too!

[2019-02-04 21:06] Isma399 commented on #547
Yes!
Thank you.
From manpage for virt-install (https://linux.die.net/man/1/virt-install):

I suppose it's still relevant.
I'll will give a try tomorrow. That will be my first time in Go!

[2019-02-05 09:32] Isma399 commented on #547
Hello,
I modifiy the code to have libvirt-like mac address and install the plugin and a Centos7 fresh install.
I successfully created a VM with the expected Mac Address (ie: 52:54:00:FA:F9:7D).
I then scp the plugin to my instance prod server, and run "terraform init" (init OK) and then "terraform plan" and I've got this error:
Error: Error asking for user input: 1 error(s) occurred:
* provider.li

[2019-02-05 13:46] inercia commented on #547
I would try to run the plan [with debug logs](https://www.terraform.io/docs/internals/debugging.html), like `TF_LOG=1 terraform plan`. This will print a lot of information to the _stderr_ and then you will have to figure out from those logs what is happening...

[2019-02-08 20:28] kee001 opened #551 "virError"
##  System Information
libvirt_domain.domain-ubuntu: Error defining libvirt domain: virError(Code=27, Domain=20, Message='XML error: file '/dev/urandom' is not a supported random source')
---
control:
Terraform version v0.11.11
---
server:
Ubuntu 16.04
libvirt versions 1.3.1

[2019-02-08 20:28] kee001 commented on #551
virError

[2019-02-09 12:26] MalloZup commented on #551
@kee001 please follow http://manpages.ubuntu.com/manpages/xenial/man4/random.4.html.
Your error is more on your System side. We can keep this issue open.
We changed time ago from `random` to `urandom`.

[2019-02-09 12:29] #547 closed

[2019-02-09 12:29] MalloZup commented on #547
fixed closing

[2019-02-09 12:29] MalloZup commented on #547
thx @Isma399 :rocket:

[2019-02-09 15:26] abbbi commented on #551
I think its an too old libvirt version. Support vor /dev/urandom might not have been added in the libvirt version OP is running. I have had the same issue on Ubuntu 16.04.2 LTS with libvirt 1.3.1-1ubuntu10.24 installed.

Apparently there is no way to change this behavior in libvirt other than updating it to a newer version.

[2019-02-10 09:46] kee001 commented on #551
Thanks for the feedback!
server:
# systemctl status libvirt-bin
Feb 10 02:51:47 server6 libvirtd[2107]: XML error: file '/dev/urandom' is not a supported random source

[2019-02-10 13:42] abbbi commented on #551
yes, you either neet to update your libvirt version or override the default random source to /dev/random using the xslt feature.

[2019-02-12 08:48] fkpwolf commented on #461
any update on this? @amitinfo2k

[2019-02-13 04:20] fkpwolf commented on #461
just submit a PR to address this issue #552. Looks I can't reuse existing `network_interface` element and have to create new type in schema.

My test tf script is:
[code]

[2019-02-16 05:05] rsjethani commented on #545
Can you list out exact steps followed while packaging CentOS distribution?

[2019-02-16 11:16] MalloZup commented on #551
Closing thx

[2019-02-16 11:16] #551 closed

[2019-02-16 11:17] MalloZup commented on #545
Hi @rsjethani you will need to have obs knowledge on obs system, if you want to take this issue I will help on the road with all the infos

[2019-02-16 11:17] MalloZup commented on #545
Hi @rsjethani you will need to have obs knowledge on obs system, if you want to take this issue I will help on the road with all the infos

[2019-02-16 11:39] MalloZup commented on #379
Closing for moment

[2019-02-16 11:39] #379 closed

[2019-02-18 20:20] dmacvicar commented on #545
@rsjethani We just build the source in a .spec file against various distributions. Here is the spec:
https://build.opensuse.org/package/view_file/systemsmanagement:terraform:unstable/terraform-provider-libvirt/terraform-provider-libvirt.spec?expand=1

The result ends as a rpm. There is one step that copies the binary into a OTHER directory. That is used to also output plain tarballs with the binar

[2019-02-19 21:12] rsjethani commented on #545
Thanks @MalloZup @dmacvicar I will start by understanding obs and rpm basics

[2019-02-20 12:39] dmacvicar commented on #545
This may help you: https://duncan.codes/tutorials/rpm-packaging

[2019-02-20 20:05] Klaven opened #554 "internal error: Cannot find suitable emulator for x86_64 and An error occurred, but the cause is unknown"
##  System Information

### Linux distribution

``` openSUSE Tumbleweed ```

### Terraform version
v0.11.11
[code]

### Provider and libvirt versions

[code]
[code]

[code]

## Checklist

- [x] Is your issue/contribution related with enabling some setting/option exposed by libvirt that the plugin does not yet support, or requires changing/extending the provider terraform schema?

  - [x] Make sure

[2019-02-22 21:58] MalloZup commented on #502
fixed and works on latest master thx

[2019-02-22 21:58] #502 closed

[2019-02-22 22:04] MalloZup commented on #389
clsoing this since we merged several prs for improving. let's wait if user add more specific issues

[2019-02-22 22:04] #389 closed

[2019-02-23 07:59] MalloZup commented on #529
closing this since we close and it is to generic, (even if the erorr exist let's wait concrete user pb)

[2019-02-23 07:59] #529 closed

[2019-02-23 08:00] MalloZup commented on #499
closing as this can be fixed with `xslt`

[2019-02-23 08:00] #499 closed

[2019-02-23 15:39] rsjethani commented on #545
On centos7 golang is available via epel-release repo

[2019-02-24 19:38] MalloZup commented on #554
@Klaven we builded 2 days ago pkgs https://build.opensuse.org/package/show/systemsmanagement:terraform:unstable/terraform-provider-libvirt .

you migh retry with `terraform-provider-libvirt -version` i think we solved 1 part of the issue, the 2nd part could be a libvirt problem related to 5.0 tubleweed and other ecosystems pkgs

[2019-02-25 19:36] andersla commented on #546
Could very well be same as #97 see fix there, already in documentation, but very easy to miss, still an issue on ubuntu 18.04, documentation; 22f096d

[2019-02-25 20:38] MalloZup commented on #546
Thx @andersla for pointer

[2019-02-27 07:32] asmorodskyi commented on #502
@MalloZup so just to clarify for myself - my assumption was wrong and to create network with mode=nat you don't need any IP ? Also can you please advise me what release model libvirt-provider has ? I mean when I will see released version which will contain this fix ? Want to test it

[2019-02-27 08:01] MalloZup commented on #502
you can build from source the master branch

[2019-03-05 09:20] praveenkumar commented on #391
As per newer version of libvirt dns can be disabled using `<dns enable='no'/>` and then that specific network interface will not be bind with the dnsmasq which help in case you want to bind that interface with different dns server.

[2019-03-05 09:24] praveenkumar commented on #391
More info https://www.redhat.com/archives/libvir-list/2016-August/msg00641.html

[2019-03-05 09:27] Bischoff commented on #391
ok, you're suggesting a way to implement this, @praveenkumar , if I understand well?

In my use case, I did not want to use different DNS server. I just wanted no DNS server :smile_cat: .

[2019-03-05 09:29] praveenkumar commented on #391
@Bischoff I am going to spend some time and look into the code around how to implement it but even for my usecase I don't want to run any DNS server which is maintained by dnsmasq.

[2019-03-05 09:32] Bischoff commented on #391
Cool, thanks Praveen for jumping into this issue.

[2019-03-05 15:09] Klaven commented on #554
I have sadly moved off tumbleweed due to needing to get work done so I cannot test this.

[2019-03-07 13:35] #391 closed

[2019-03-07 13:35] MalloZup commented on #391
thx

[2019-03-11 04:23] bzub commented on #442
Hi @lifeofguenter, as @MalloZup mentioned you can change the domain using the xml/xslt feature.

Here's an example that worked for me to use qemu instead of kvm:
[code]

I believe this issue could be closed?

[2019-03-11 08:04] MalloZup commented on #442
True. Thx..!

[2019-03-11 08:04] #442 closed

[2019-03-11 08:05] MalloZup commented on #442
Feel free to ask any add info here

[2019-03-11 17:25] blaggacao commented on #126
In my case, an app-armor rule seems to be created:
[code]

However the volumes are created as root:

[code]

With the following config:
[code]

[2019-03-11 17:35] blaggacao commented on #126
I tried with:
[code]
but got the same:
[code]

[2019-03-11 18:36] electrofelix commented on #126
@blaggacao I think it might be more useful to see the domain XML from `virsh dumpxml <node>`, I can compare it to what works from machines created with vagrant-libvirt/vagrant-libvirt which is known to work with apparmor, and use that as a baseline to help give some guesses as to what has changed here.

[2019-03-12 04:01] prologic opened #559 "macOS Build Failure"
Hi,

Trying to build this on macOS fails with the following build error:

[code]

You can verify this by following the same steps in the [README](/README.md)

Aside from that:

[code]

To get the libvirt C libraries.

Let me know if I can help any further; if I have time I'l try to put up a PR to fix this.

[2019-03-12 12:18] blaggacao commented on #126
Indeed:
[code]

[2019-03-12 18:31] MalloZup commented on #559
hi @prologic . thx for issue. Feel free to spend a PR for this if you have time ! :+1: thx.

[2019-03-12 18:45] jlausuch opened #560 "error creating bridge when creating 2 networks"
##  System Information

### Linux distribution

``` opensuse Leap 15.0 ```

### Terraform version

[code]

### Provider and libvirt versions

[code]

If that gives you "was not built correctly", get the Git commit hash from your local provider repository:

[code]
___

## Checklist

- [ ] Is your issue/contribution related with enabling some setting/option exposed by libvirt that the plugin does no

[2019-03-12 19:14] jlausuch commented on #560
This can be solved by adding  `bridge = "my-bridge-1"`  in the network resource. I guess the expected behavior is that he framework calculates the bridge names automatically.

[2019-03-12 21:58] electrofelix commented on #126
I'm going to have to look through the code, but I was sure this was supposed to add disks using the file type rather than the volume type which would result in the additional helper utils around libvirt doing the right thing

[2019-03-13 13:37] daks opened #561 "with version 0.5.1+git.1550869862.4283c564-10.1 (from yesterday) can't boot a VM with a non-base image volume"
##  System Information

### Linux distribution

```Debian testing```

### Terraform version

[code]

### Provider and libvirt versions

[code]

## Description of Issue/Question

I have a simple setup with:

- one base volume created from a local file image
- one volume based on the previous one
- one domain which disk is the previous one

When using version 0.5.1 it works like expected. Yesterday

[2019-03-13 13:45] MalloZup commented on #561
thx @daks  yes this is a known issue we have in master. thx for reportng

[2019-03-13 15:10] zeenix opened #562 "Support storage pool resource"
[Openshift 4.0 Installer](https://github.com/openshift/installer/) currently uses the `default` storage pool. If this pool doesn't exist, it can't do anything but error out. Since the `default` is not guaranteed by libvirt (it's a `virt-install` and `virt-manager` thing), it'd be useful for users like Openshift Installer to be able to be able to create the pool if it doens't exist already. I alrea

[2019-03-13 15:18] MalloZup commented on #562
thx @zeenix  for bringing this up. we have actually another issue regarding this. Imho we can continue the follow up here: https://github.com/dmacvicar/terraform-provider-libvirt/issues/435

[2019-03-13 15:19] MalloZup commented on #562
i'm closing this as duplicata. but any helps is welcome in this direction. thx! and cu on the other issue :rocket:

[2019-03-13 15:19] #562 closed

[2019-03-13 15:20] MalloZup commented on #561
i will have a look at this once i have some time

[2019-03-13 15:24] zeenix commented on #435
Just FYI, I've a WIP patch for this. Will submit soon.

[2019-03-13 15:30] MalloZup commented on #435
@zeenix  keep in mind comment https://github.com/dmacvicar/terraform-provider-libvirt/issues/435#issuecomment-427170302 as acceptance criteria of pr. For any help feel free to ask thx :sun_with_face:

[2019-03-13 16:16] zeenix commented on #435
@MalloZup Thanks for the reminder. To be honest, I hadn't thought of the lifecycle. What I had in mind is a simple API that allows one to create and destroy a filesystem-based pool, just like volume. As for the destruction, how about we simply error out if pool is attempted to be destroyed when it has non-zero volumes in it? I'm very new to Terroform so please let me know if that doesn't work.

[2019-03-14 10:36] MalloZup commented on #435
@zeenix np.

1) Lifecycle Resource:
So a part the operation you mentioned, `create/delete/read`, we need also to consider the `update` operation.

An update operation is like when you run `terraform apply` for 2  more times, so you have an existing infrastructure, and then you want to modify only an element, in our case the pool. The `update` operation is the trickyiest one because it need to be i

[2019-03-14 13:15] MalloZup commented on #561
some updates.

with this conf we reproduce.
[code]

with this  not.

[code]

[2019-03-14 13:17] MalloZup commented on #561
@daks could you try to remove

[code]
from your conf and adapt it accordingly? i think it should work.

The bug is caused by the backingstore volume somehow

[2019-03-14 13:19] zeenix commented on #435
@MalloZup Thanks so much for such an informative reply. About update, here is the schema I went with:

[code]
The last 3 are supposed to be read-only (that's what `computed` mean, right?) so it's only the `name` and `path` that we need to care about. The 'name' should be trivial to update but `path` would be an issue here. Since there is no pool migration facility in libvirt, we will have to do th

[2019-03-14 13:23] MalloZup commented on #435
nice! @zeenix  i will read it later on

[2019-03-15 13:16] joakimfors commented on #559
This hack fixes the compile issues (at least for me): https://github.com/joakimfors/terraform-provider-libvirt/commit/9f614cf1d21f674592b9cde96b5a3d038074f20c

[2019-03-17 19:24] 2stacks commented on #559
Same issue on Ubuntu 16.04.  Was able to compile after making these changes.

[2019-03-18 01:39] prologic commented on #559
Can you put up a PR? :)

[2019-03-18 09:17] MalloZup opened #565 "Allow DHCP configuration of static ip addresses for network resource"
Continue and finish PR https://github.com/dmacvicar/terraform-provider-libvirt/pull/477

[2019-03-18 15:30] bbichero opened #566 "Ubuntu example file fail at cloud init"
System Information
------
### Linux distribution
`Debian buster`

### Terraform version
`Terraform v0.11.13`

### Provider and libvirt versions

`terraform-provider-libvirt -version`
[code]

Description of Issue/Question
------
I just simply execute terraform command to test example file [ubuntu.tf](https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/examples/ubuntu/ubuntu-example.

[2019-03-18 16:23] MalloZup commented on #566
@bbichero  thank you. Yes, feel free to send a pr for fixing the example

[2019-03-18 16:23] MalloZup commented on #566
bonne journee

[2019-03-19 09:57] daks commented on #561
When removing the part you mention, I can't apply my terraform plan, which is logical because my domain don't have a disk available
[code]

I can switch to not use a "base" disk volume, is this what you want me to do? It will work, but it's not the same functionality.

For the moment, I don't need to use the git version so I will revert back to release 0.5.1.

[2019-03-19 10:17] MalloZup commented on #561
@daks  yep, i know it will not have some functionality. I will look into why we have the regression. at least i can reproduce it. Yes, revert back to release `0.5.1`. this will work until we fix it.. THx! :sun_with_face:

[2019-03-19 13:12] electrofelix commented on #126
So looks like the regression is from #380, specifically commit accb12bae0148d79ba3a2920076a370c5ac773c7 switched back to using volumes in preference to files which does not work with apparmor, then subsequently #489 simply moves the code around around between files.

@dmacvicar looks like you changed the code around to switch back to prefering volumes rather than files? Should this be switched bac

[2019-03-19 13:26] daks commented on #561
@MalloZup you're welcome, thank you for your work :)

[2019-03-19 14:28] bbichero commented on #566
Ok thanks, before sending my pr I will check the others examples too.
Can you exaplain me the goal of the other example please ?
I don't see what `count`, `format` or `boot` does ...
The `boot` example doenns't seems to boot at all.

🇫🇷 Bonne journée :)

[2019-03-19 14:39] MalloZup commented on #566
Each `example` was made in order to showcase some features. If you think that other example need fix/correction feel free to spend PR also for that.

`count` example e.g it showcase that you can use the variable count to create XX domain etc.. You need to read the example and the doc together .hth

[2019-03-19 15:02] bbichero commented on #566
Sorry for that I didn't see the `website/docs` directory.
I can close this issue.

[2019-03-19 15:02] #566 closed

[2019-03-21 08:02] gwarf opened #569 "Unable to create a resized volume when using LVM as storage pool (terraform crashing)"
##  System Information

### Linux distribution

``` CentOS 7```

### Terraform version

```v0.11.13```

### Provider and libvirt versions

Built from master (dmacvicar/terraform-provider-libvirt@46b0ba055a47587a8c0b4b2c76f5e47165b7c6c4) with `go get` as I wasn't able to find a recent RPM on the OBS server.

[code]
## Description of Issue/Question

### Setup

Scenario: creating a resized LVM volume

[2019-03-21 09:17] MalloZup commented on #435
@zeenix  sorry for delay. to me looks good. Feel free to send a pr and we can continue discussion here.
Thx again to be on board and great that you are here in our small community. :sunflower:

[2019-03-21 09:28] MalloZup commented on #569
@gwarf thx for issue ! :+1:  we will need to investiagate on it

[2019-03-21 10:39] zeenix commented on #435
@MalloZup No worries about the late response and thanks so much for being so welcoming. I currently trying to get the tests passed and in the process learning how Go tests work. :) After that, I'll add the update operation and send a PR your way. :)

[2019-03-21 12:50] MalloZup commented on #559
thix is merged! thx

[2019-03-21 12:50] #559 closed

[2019-03-24 22:21] the-nicolas opened #572 "MAC address mismatch (lowercase => uppercase)"
### Linux distribution
``` Ubuntu 18.04.2 LTS ```

### Terraform version
[code]

### Provider and libvirt versions
[code]
[code]
___

## Description of Issue/Question

After applying and template successful I get the following output during next ```terraform apply:```

[code]

The MAC addresses of the interfaces were given with lowercase chars, but when terraform fetches the data from the provider

[2019-03-28 21:36] MalloZup commented on #572
hi @the-nicolas i think yes, in theory this should not retrigger an update.

could you provide a reproducible `main.tf` ? tia :+1:

[2019-03-31 10:58] dmacvicar commented on #545
I see the binaries are being built again... but I don't recall we did anything to fix it

[2019-03-31 10:58] #545 closed

[2019-03-31 11:02] dmacvicar commented on #572
This means the .tf file has them uppercase but libvirt always return uppercased.

I suggest https://www.terraform.io/docs/extend/schemas/schema-behaviors.html#diffsuppressfunc as the proper way to fix this without adding logic all over the code.

Probably we should do an audit for other properties where this may apply too.

[2019-03-31 11:37] dmacvicar commented on #561
I think I know where to look.

If you look how we handle backing volumes, the main volume does not need to specify size, because we detect the size of the backing volume (or allow a size at least as small).

However, if I look at the created main volume in my local test, the size is 196k

[code]

Wile the backing volume is much bigger:

[code]

If I set the size manually for the main volume, to be

[2019-03-31 11:58] dmacvicar commented on #561
[code]

Capacity=1

[2019-03-31 16:26] dmacvicar commented on #561
I have an improved version of the testcase and a reworked version of the code that fixes the issue. I will do a PR later, as I still need to understand how the bug was introduced.

[code]

[2019-03-31 20:08] dmacvicar commented on #561
Regression was introduced with f86539c365b5bd12374318070894c504a1636c4b
If I revert that, my enhanced test passes

[2019-04-01 09:46] MalloZup commented on #545
no we didn't. to me is that on the `obs` side the `unresolvable` pkg for centos7 was fixed and consequently it fixed also our sub-problem.

thx for closing it :tulip:

[2019-04-01 10:30] MalloZup commented on #561
@daks feel free to try this out, we will merge this soonish, but you can try out the PR :rocket: . thx @dmacvicar https://github.com/dmacvicar/terraform-provider-libvirt/pull/573

[2019-04-01 12:35] #561 closed

[2019-04-01 14:52] MalloZup opened #575 "Research for suppress case differences in tf fields"
# Description:

We might look and research if we have uppercase/differences.

This issue is a follow-up from: https://github.com/dmacvicar/terraform-provider-libvirt/issues/572#issuecomment-478331663

and
https://github.com/dmacvicar/terraform-provider-libvirt/pull/574

[2019-04-01 14:54] MalloZup commented on #569
@gwarf can you retry with the latest master branch? we did a fix in this direction

[2019-04-04 08:44] gwarf commented on #569
Hi @MalloZup,
Thanks for looking at this!
So I've tried to clean and reinstall it but now I've got a weird version report:
[code]

I tried to run a deployment with a resize and I'm still getting `unexpected EOF` and `SIGSEV`:

[code]

[2019-04-04 08:50] MalloZup commented on #569
@gwarf thx for reply.

OK i suspect that we don't recognize the type.

Could you give me a step by step guide for `how-to-reproduce`? i'm not familiar with lvm but i can learn :) thx for your help :cupid:

[2019-04-04 09:32] gwarf commented on #569
OK, so for LVM this [CentOS7 LVM tutorial] may provide some guidance.
My setup is the following:
* a Volume Group named `hddvg` (running on a Physical Volume that is a single partition `/dev/sdb1`)
* a `guest_images_hddvg`  storage pool form that Volume Group (you can check [redhat documentation](https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/7/html/Virtualization_Deploymen

[2019-04-05 08:40] asmorodskyi opened #576 "Conditional domain startup"
We trying to cover scenario where we need to start Windows domain controller and few hosts in network which it manages . Obviously hosts need to be started only after Windows DC is up and running . Is there any way to instruct terraform to start domains only after another domain started and some conditions are met ?

[2019-04-05 08:43] MalloZup commented on #576
@asmorodskyi hi! look here:

https://learn.hashicorp.com/terraform/getting-started/dependencies.html

`depends_on`.

For such question please use the `gitter` chat since aren't related to libvirt specificity.

Thx! :sun_with_face:

[2019-04-05 08:43] #576 closed

[2019-04-05 11:42] richiejp opened #577 "Error removing DNS local_only section"
##  System Information

Local intel workstation

### Linux distribution

``` Tumbleweed ```

### Terraform version

Terraform v0.11.11
+ provider.libvirt (unversioned)

### Provider and libvirt versions

terraform-provider-libvirt was not built correctly
Compiled against library: libvirt 4.0.0
Using library: libvirt 4.10.0
Running hypervisor: QEMU 3.1.0
Running against daemon: 4.10.0

If that give

[2019-04-05 12:03] MalloZup commented on #577
Thx 💯

[2019-04-05 17:06] zeenix opened #579 "Renable tests in CI"
This is a follow-up from discussion [here](https://github.com/dmacvicar/terraform-provider-libvirt/pull/571#issuecomment-480291591).

It'd be really awesome if PR got properly tested through running tests. I understood that they were disabled because of libvirt setup being difficult in travis. I believe it'll be much simpler if tests used session libvirt connection that doesn't require much setup

[2019-04-06 21:16] blaggacao opened #580 "dns section not optional (other than docs state)"
Eyes on: `<dns enable='yes'/>` vs `<dns enable='no'/>`

[code]
produces as expected
[code]
while

[code]

produces

[code]

This is not obvious from the docs: https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/website/docs/r/network.markdown

Maybe a `dns = enabe` should be conceived?

[2019-04-06 21:22] blaggacao commented on #391
This one seems to be missing out on the docs: https://github.com/dmacvicar/terraform-provider-libvirt/issues/580

[2019-04-07 14:51] dmacvicar commented on #126
I explained in https://github.com/dmacvicar/terraform-provider-libvirt/pull/567

accb12b is not a regression. We want our users to be able to attach disks present in different types of volume pools. Using filenames makes the assumption that the file is a qcow2 backed by a directory pool, which is not the case.

If the user creates a volume using whatever backing storage, we want the terraform prov

[2019-04-07 19:13] electrofelix commented on #126
Given how linux works in representing everything as I file, I was expecting that ultimately all volumes would represetable as files so it would be good to be clear on exactly where this breaks down as opposed to what doesn't work with this first pass.

It would seem given that the current behaviour forces a requirement to use root for anyone using ubuntu, resulting in a non trivial security impact

[2019-04-07 21:01] dmacvicar commented on #126
Most volumes are indeed mapped to a file/path. It is just that `file=` is an internal representation of _one_ type of pools, while the `path` attribute of the `target` element of a _volume_ seems to be the "file representation" common to all volumes.

The current behavior does not force anything. `virt-aa-helper` is an incomplete/wrong implementation.

My suspicion would be https://gitlab.com/libv

[2019-04-08 10:19] himani93 commented on #170
Hi, I would like to work on this issue.

Thanks

[2019-04-08 10:21] MalloZup commented on #170
hi @himani93 sure feel free to take it ! thx and feel free to ask if you have any question

[2019-04-08 17:03] MalloZup commented on #580
@blaggacao thx for this. Feel free to spend a PR for the documentation :robot: :rocket:

[2019-04-09 09:15] #580 closed

[2019-04-09 13:36] lhw opened #583 "Enhancement: Support for tags in libvirt_domain resources"
Some of the more popular providers offer the tags block in VM resources (e.g. AWS, Azure, vSphere). Quite a few tools make use of these to categorize the machines in internal databases etc.
I thought it would be a good feature to add. I think we could use the `libvirt.DomainMetadata` to add a metadata structure for tf-libvirt. Like

[code]
[code]
Some additional ideas for metadata from [OpenStack

[2019-04-10 09:55] MalloZup commented on #583
@lhw thx for this proposal. :+1:

I think in the `kvm` context which use-case could we have for the metadata field? E.g which info whoul we store in a concrete use case

thx for you time

[2019-04-10 10:50] mahendrakariya opened #584 "Pool name in volume resource getting ignored"
##  System Information

### Linux distribution

``` Ubuntu 18.04 ```

### Terraform version

[code]

### Provider and libvirt versions

[code]

## Description of Issue/Question

This plugin is ignoring the pool name for volume and is always looking for `default` pool.

### Setup

[code]

### Steps to Reproduce Issue

On running `terraform apply` for the above module, we are getting the following e

[2019-04-10 12:24] lhw commented on #583
I don't know what you mean about a kvm context but one common use-case in the wild is to tag certain machines as "master" or "worker" in a kubernetes environment for easier export i.e. to an ansible inventory (That would be our use-case). Others use the tags for staging by tagging certain machines for different stages with different configurations. Again then used by other software using the terra

[2019-04-10 12:34] MalloZup commented on #583
thx for clarification! i will have a look. @dmacvicar  cc

[2019-04-10 13:36] lhw opened #585 "Enhancement: Support for network storage volumes"
One common use-case for libvirt_volumes would be using network devices. There is a whole list of different network storage options [available in libvirt](https://libvirt.org/formatdomain.html#elementsDisks).
One example of network devices as backing store for the VM disks would be Ceph RBDs or iSCSI. Which is as far as I can see right now not currently not natively supported.

There currently is a

[2019-04-10 16:34] MalloZup commented on #584
@mahendrakariya  hi thx for issue!

are you referring to `cloudinit` disk or `volume` pool?

we don't have any `pool_name` variable:

https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/website/docs/r/cloudinit.html.markdown#argument-reference

can you post an example without modules and more explit? thx

[2019-04-10 16:47] MalloZup commented on #583
@lhw i'm ok with this feature and to me you could come up with a PR for this.

To me you can start thinking and coming out with a valid proposal about the `schema` of the resource and we can integrate with it.

e.g the tag definitions. etc .

e.g how will look like it in golang ( https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/libvirt/resource_libvirt_volume.go#L40)

[2019-04-10 16:51] MalloZup commented on #585
thx . yes as you stated the `xslt` feature should cover the missing GAP between this provider and the libvirt API. ( https://github.com/dmacvicar/terraform-provider-libvirt#introduction--goals)

[2019-04-10 18:00] mahendrakariya commented on #584
I should have been more clear.

`pool_name` is a custom variable that [we are using](https://github.com/mahakamcloud/terraform-libvirt-vm-double/blob/master/main.tf).

We are using `libvirt_volume` as below.

[code]

[2019-04-11 06:36] vjdhama opened #586 "Volume creation error with logical pool based on LVM Volume Group"
##  System Information

### Linux distribution

``` Ubuntu 18.04 ```

### Terraform version

[code]

### Provider and libvirt versions

[code]

___

## Checklist

- [x] Is it a bug or something that does not work as expected? Please make sure you fill the version information below:

## Description of Issue/Question

### Setup

[code]

The default `pool` is Volume Group.

Pool xml :

[code]

### Er

[2019-04-11 06:48] MalloZup commented on #584
@mahendrakariya hi thx. for this. can you post the full-error log message?

because you refer to `volume` but the error concern `cloudinit`. thank you :rocket:

[2019-04-19 14:03] chrissound opened #588 "Unable to run ubuntu example - Error: libvirt_cloudinit_disk.commoninit: Provider doesn't support resource: libvirt_cloudinit_disk"
##  System Information

### Linux distribution

```Linux nixos 4.14.111 #1-NixOS SMP Fri Apr 5 20:31:40 UTC 2019 x86_64 GNU/Linux```

### Terraform version

[code]

### Provider and libvirt versions

[code]

## Checklist

## Description of Issue/Question

### Setup

Copied the examples/ubuntu directory from the `master` branch

### Steps to Reproduce Issue

[code]

[2019-04-20 19:12] MalloZup commented on #588
Hi. The error you have is because you are using an old binary of the provider which doesn't support the new API resource1

[2019-04-20 19:13] MalloZup commented on #588
Update with latest version of libvir provider

[2019-04-24 15:21] lhw commented on #585
Doing xslt again after so many years was entertaining. I'll probably make an update to the existing xslt example. But for now here is an example with rbd. I'll look into how this could be implemented in the future. Still have other things to work on currently.

[code]
[code]

[2019-04-24 15:56] lhw commented on #583
The default implementation is pretty boring:
https://github.com/terraform-providers/terraform-provider-aws/blob/master/aws/resource_aws_instance.go#L309
https://github.com/terraform-providers/terraform-provider-aws/blob/master/aws/tags.go#L22
I would suggest we do the same here for `libvirt_domain`.

XML schema wise I would go with the one above. I'll probably do a PR the next few days when I get

[2019-04-24 18:50] chrissound commented on #588
Great that works, thanks!

[2019-04-24 18:50] #588 closed

[2019-04-24 20:18] MalloZup commented on #588
:racing_car: :100:

[2019-04-29 16:00] lhw commented on #583
How do you prefer the use of xml templates in this codebase? Should I go the `text/template` route or with just simple string concatenation?

[code]

[2019-05-02 17:14] lhw commented on #585
I would like to implement at least the libvirt_domain.disk.rbd in the near future to alleviate the requirement for XSLT in our use-case.
[code]

This should be fairly easy to implement but would still require the `clone` option for the libvirt_volume

[2019-05-03 06:25] owaisaamir opened #592 "Crash on plan (read) after attaching additional disk externally"
##  System Information

### Linux distribution

``` Centos7```

### Terraform version

[code]

### Provider and libvirt versions

[code]
___

## Checklist

- [x] Is it a bug or something that does not work as expected? Please make sure you fill the version information below:

## Description of Issue/Question

Terraform crash observed while performing `terraform plan` (read) after attaching an exis

[2019-05-06 08:18] MalloZup commented on #592
related to (https://github.com/dmacvicar/terraform-provider-libvirt/issues/569)

[2019-05-09 20:08] 2stacks opened #594 "Unable to create multiple cloudinit_disks in parallel when connecting to remote libvirt"
##  System Information

### Linux distribution

``` Ubuntu 16.04 ```

### Terraform version

[code]

### Provider and libvirt versions

[code]

If that gives you "was not built correctly", get the Git commit hash from your local provider repository:

[code]
___

## Description of Issue/Question
Not sure if this is a bug or if the libvirt_cloudinit_disk resource was not intended to be used this way

[2019-05-13 08:32] MalloZup commented on #594
@2stacks  thx for this. Yes i can confirm this bug, and i was experimenting it time ago this same issue when using a remote.

At that time I came at same conclusion as you, that there is a deadlock somewhere even if the disks are created.

[2019-05-13 12:58] 2stacks commented on #594
Unfortunately I don't know enough Go to investigate much further but Im
happy to test things as needed.  Im currently using the provider to deploy
everything from Kubernetes clusters to Wifi controllers and this is the
only issue Ive come across.

Its odd that I can create multiple libvirt_volumes in parallel without
locking issues.  I would have assumed both resources would behave the same.

On M

[2019-05-13 13:10] MalloZup commented on #594
@2stacks ok thx. Yop I understand and agree.

First at all, thx for your really nice report, this help us a lot.

My question is,  are you able to reproduce this every time the issue or just from time to time?

Are the 2 OS systems the same? Ubuntu with same libvirt version etc?

[2019-05-13 13:36] 2stacks commented on #594
Yes I am able to reproduce this every time.  The only way I can deploy multiple resources to my remote libvirt hosts is by using the `-parallelism=1` option.  Both my local and remote system are on (libvirtd (libvirt) 1.3.1).  I thought it may be the type of storage as well so I tried a few different storage pools (default, nfs and zfs).  They all failed the same except for zfs but I think that ma

[2019-05-14 06:17] MalloZup commented on #594
If you have a chance and time to do it, i would like to known  if you upgrade to a libvirt version like major like 4 or 5 and see if you can reproduce. This would let us exclude a libvirt bug.

[2019-05-14 07:40] MalloZup commented on #323
closing as stale issue and since it is too generic (we will not close it ever :) ) , feel free to bring one specific issue in this direction.. thx

[2019-05-14 07:40] #323 closed

[2019-05-14 09:03] MalloZup commented on #368
@sebastian-philipp https://build.opensuse.org/request/show/702784  I think this should be enough in OBS

[2019-05-16 00:33] 2stacks commented on #594
I've compiled libvirt 5.3.0 on my host but haven't had a chance to test yet.

[2019-05-16 09:00] Cicero-Zhao commented on #586
I meet same question, and find the root cause is it didn't resolve image file correctly, and generated wrong vol create xml string.

Let me put my configuration files, (actually, almost same with @vjdhama

1. tf configuration file:

[code]

2. the vol create xml string:
[code]

3. We can see the problems here
3.1 capacity = 0B
3.2 the type = qcow2 although I passed a raw image

4. image informatio

[2019-05-16 09:08] Cicero-Zhao commented on #586
Hm... looks like @vjdhama  has pasted the debug log and it has shown the root cause.. will check how to fix for my own environment.. please ignore my last post if it create noise...

[2019-05-16 09:44] Cicero-Zhao commented on #586
I met same issue, git clone the latest code, compile, it works.

[2019-05-17 08:44] MalloZup commented on #594
@2stacks  5.30 on both hosts would be perfect!. If it works, we have an answer :tada:

[2019-05-17 11:02] 2stacks commented on #594
I was able to test successfully with 1.3.1 on the client and 5.3.0 on the
server.  There doesn't appear to be any locking issues in 5.3.0.  Thanks
for your help.

On Fri, May 17, 2019, 4:44 AM Dario Maiocchi <notifications@github.com>
wrote:

[2019-05-17 15:03] #435 closed

[2019-05-17 15:53] MalloZup commented on #554
@Klaven I'm closing this since I have tested on Tw recenlty was ok and is more on pkg side then here. thx for issue

[2019-05-17 15:53] #554 closed

[2019-05-17 15:59] MalloZup commented on #368
@dmacvicar merge that SRC for the pkg. Considering this closed ! thx

[2019-05-17 15:59] #368 closed

[2019-05-17 19:42] james-crowley opened #597 "Support for Alpine Linux"
I am trying to utilize this Terraform plugin in a docker build that runs Alpine linux. Currently, when I try to use the plugin by adding the binary to my docker container, I get the following error:

[code]

This error lead to to this issue: https://github.com/vancluever/terraform-provider-acme/issues/29

Looks like Alpine needs a static linked binary instead of dynamic lined binary, which is what

[2019-05-20 10:12] MalloZup commented on #597
@james-crowley  thx for Issue. I have some speculation in mind but can you provide us a docker file and the whole setup to reproduce it locally so I could experiment when i have some spare time? tia

[2019-05-23 07:46] alkersan opened #599 "Terraform 0.12 update"
## Description of Issue
Terraform reached it's [0.12 release](https://github.com/hashicorp/terraform/releases/tag/v0.12.0).  Would be great to make libvirt provider compatible with it.
___
##  System Information

[code]
___
## Additional information:

At the moment an attempt to run plan fails with API incompatibility error:
[code]

[2019-05-23 09:26] MalloZup commented on #599
@alkersan  thanks for this issue. I was creating myself an ISSUE for this as reminder.

The release of 0.12 was yesterday announced yesterday, so we heard about that.
IT will be on our radar to migrate to 0.12 version.

 Currently we will need to investigate what the new version can break in term of backward compatibility (if any breakage), etc..

But yes definitely it something we will do soonish

[2019-05-28 09:26] bartekrutkowski commented on #599
@MalloZup Is there any ETA on this? Compatibility with Terraform 0.12 is quite important, as other projects required the upgrade what rendered KVM infrastructure unmanageable for the time being.

[2019-05-28 14:25] james-crowley commented on #597
@MalloZup Sorry for the delay, I was on vacation last week.

Here is my dockerfile I am trying to use to build the plugin:
[code]

I am currently testing is on by Mac running `10.13.6`.

Additionally, here is my dockerfile that I would be using once I get the plugin binary built:

[code]

If you need anything else please let me know!

[2019-05-28 18:40] MalloZup commented on #599
@BartoszMilewski we want to release a version in short term with the actual master. After this the terraform v12 should be the fist item of our stack. @dmacvicar cc

[2019-05-28 20:39] james-crowley opened #601 "Using Nic Mode Selector Causes Unexpected Side Effects"
##  System Information

### Linux distribution

``` Ubuntu 18.04 ```

### Terraform version

[code]

### Provider and libvirt versions

[code]

## Description of Issue/Question

### Setup
Main TF File:

[code]

XSL FILE:

[code]
### Steps to Reproduce Issue

I am trying to utilize XML option to due some edge case config and I noticed a side effect to using the NIC mode selector example.

Here is t

[2019-05-29 08:24] kskewes commented on #594
Thanks for finding this! I was stuck with 1.3.x on server as well.
Have now been able to do this with v4.0.0 on the server which is default in Ubuntu 18.04 LTS.

[2019-05-29 13:36] 2stacks commented on #594
Thanks for the update.  I may look at upgrading my OS.  Compiling Libvirt
and getting it to work wasn't fun.

On Wed, May 29, 2019 at 4:24 AM Karl <notifications@github.com> wrote:

[2019-05-29 14:49] james-crowley commented on #601
So the above XML dump is from when the VM was running. Upon shutting it down and taking a XML dump I get:

[code]

Which almost correct, but you'll notice that the `source` does not have a the port group present. It looks like whenever I try to update any attribute in the interface block, it seems to drop the port group.

My end goal was to modify the port group before the VM starts up, since you

[2019-05-29 18:28] james-crowley commented on #601
So after some debugging I found out one of the issues.

[code]

With the code above, I should be able to change the value of `<source network='ovswitch0' portgroup='vlan-1'/>` . The problem is when applying this config,

[code]

There is no option to declare a port group , which would be fine since I have my XSL file to take care of that. But after enabling debugging I saw this in the logs:

[code

[2019-05-29 20:24] james-crowley commented on #601
This XML/XSL should work at assigning port groups.

[code]

The `@*` makes every attribute in scope/accessible to that block.

[2019-06-01 19:15] DMW007 commented on #599
In the meantime, it's a workaround to use the latest previous 0.11 version (0.11.14) from here: https://releases.hashicorp.com/terraform/0.11.14/

This may be a solutions for beginners like me who just want to play around with Vagrant and libvrt. I can understand that this doesn't solve the problem for users with conflicting other plugins, here you'll need to wait for the announced update.

[2019-06-02 11:50] dmacvicar opened #603 "Release v0.5.2"
Tracking steps.

- [X] Edit release draft
- [X] Tag git
- [X] Run acceptance tests
- [X] Point OBS `_service` to v0.5.2 branch
- [X] Check all targets build
- [X] Download & sign binaries
- [X] Attach binaries & signatures to release draft
- [X] Publish release

(and this gives us a good overview of what we need to automate once we get acceptance tests running on Travis)

[2019-06-02 11:51] dmacvicar commented on #603
CentOS 7 is not building in OBS (`nothing provides golang`). I recall this had fixed itself some time ago. Is it back?

[2019-06-03 15:33] MalloZup commented on #603
:+1:

[2019-06-03 15:52] dmacvicar commented on #603
https://github.com/dmacvicar/terraform-provider-libvirt/releases/tag/v0.5.2

[2019-06-03 15:52] #603 closed

[2019-06-03 15:58] MalloZup commented on #603
:tada: :clap:

[2019-06-03 16:24] MalloZup commented on #601
thx @james-crowley  for this. We might need to check it after the release 0.12 to terraform which we plan currenlty

[2019-06-04 13:00] MalloZup opened #605 "Official Packaged Release 0.6.0 (Terraform 0.12)"
Tracking steps.

- [x] Update dependencies, doc for using tf 0.12
- [x] Do some manual test experimentation with PR  https://github.com/dmacvicar/terraform-provider-libvirt/pull/602
- [x] Run acceptance tests
- [x] merge once done: https://github.com/dmacvicar/terraform-provider-libvirt/pull/609
- [x] Edit release draft to reflect change when PR merged
- [x] Tag git
- [x] Point OBS `_service` to v

[2019-06-04 13:01] MalloZup commented on #605
@dmacvicar  I'm Proposing to use `0.6.0` since we upgrade to a Major release with breaking changes etc. Are you ok with that?

[2019-06-04 13:03] MalloZup commented on #599
I'm closing this issue since we plan to do real work and update in this issue https://github.com/dmacvicar/terraform-provider-libvirt/issues/605.

As an update, we have already a PR for doing the updat thx to  @tripledes, the main work will be to see if we have any regression, pkging. Not other feature will be merged into next release.

Thx to everybody :cupid:

[2019-06-04 13:03] #599 closed

[2019-06-05 14:19] MalloZup commented on #605
@dmacvicar I just noticed that `terraform init` from v.012 behave different from v.011.

In past I had the libvirt binary in `/usr/bin` and this worked.

Now having it on same dir, it expect to have it on the custom `$USER/.terraform.d/plugins/linux_amd64`

[code]

We might need to adapt the pkg to install it on that dir.

[2019-06-05 14:29] james-crowley commented on #597
Any updates on this issue? I am putting together a work flow/demo and would love to use alpine for it. I know you guys got your handsful with Terraform v0.12, but I did not know if you had quick fix for this.

Thanks for the help!

[2019-06-05 14:31] james-crowley commented on #601
@MalloZup All good. I was able to do the work around posted above to get it working, but would love to discuss the possibility of adding port groups to the plugin.

[2019-06-05 15:36] MalloZup commented on #597
@james-crowley  ok I spent some time to your issue.

for building the provider-libvirt to alpine-linux:

I have used your  1st dockerfile
[code]

[2019-06-05 15:38] MalloZup commented on #597
In this way you have the binary. Use the make targets for that, especially the `make build`.

Once you have builded to alpine you can transfer to your other container

[2019-06-05 15:41] MalloZup commented on #601
@james-crowley ok. Currenlty we might need to put it on the queue. If we get help from community for this from PR and PR is ok we can review it :+1:

[2019-06-05 16:21] MalloZup opened #606 "Community driven examples"
I think after terraform v12 I would like to improve/enrich our examples of the provider.

- If you have any examples that you want to share with community, how you use the provider, feel free to spend a PR for enriching the `examples` directory. (https://github.com/dmacvicar/terraform-provider-libvirt/tree/master/examples)

- if you have an upstream opensource project which use the provider, (http

[2019-06-05 16:52] MalloZup commented on #597
@james-crowley let me know if you have other issue. But i think it should be solved and we can close once you have positive feedback. Thx!

[2019-06-05 17:13] 2stacks commented on #594
Maybe something generic to warn about really old libvirt versions would
do.  It was a bit of work to pinpoint the issue so I definitely see how a
mention could save someone else time.  This particular issue may be so
specific that the only hope one has is to come across this post.

On Wed, Jun 5, 2019, 11:43 AM Dario Maiocchi <notifications@github.com>
wrote:

[2019-06-06 15:33] MalloZup commented on #605
fix Chars breaking change in TF12 for Resource-Names:
https://github.com/dmacvicar/terraform-provider-libvirt/pull/607

[2019-06-06 15:47] MalloZup commented on #605
https://www.terraform.io/docs/extend/terraform-0.12-compatibility.html

[2019-06-06 19:30] ringods commented on #131
@MalloZup are you still working to get this provider moved to `terraform-providers`? The `terra-farm` organization is still welcoming you to join. 😉

[2019-06-10 13:10] james-crowley commented on #597
@MalloZup After some testing it seems to work. The only issue I ran into is the new `/dev/urandom` change in the latest update, as the building in the golang docker container only builds the current version.

When I build the Alpine binary, is there away to tell it to build a certain version? I tried to checkout https://github.com/dmacvicar/terraform-provider-libvirt/tree/v0.5.1 , but building it

[2019-06-11 07:31] MalloZup commented on #597
@james-crowley  for building a certain `releases` you could do `git reset -- GIT-HASH commit --hard` and the hash should be the released one . For example 0.5.2 is the c0e46b59df8718cdd905b1a3fb9738b0d4905143

[2019-06-11 13:25] james-crowley commented on #597
@MalloZup thanks for all the help. Closing the issue.

[2019-06-11 13:25] #597 closed

[2019-06-19 09:38] #579 closed

[2019-06-19 21:39] ttruong7 opened #612 "Can you set bridge interface IP address?"
When using resource "libvirt_network", is there any way to set the interface IP address.

For example:
[code]
Here I set address 192.168.0.100.

When I use terraform, it automatically uses 192.168.0.1.  Here's my main.tf:

[code]

I also tried
[code]

but I get error
`* libvirt_network.network: Could not set DHCP from adresses 'Netmask seems to be too strict: only -3 IPs available (ipv4)'`

[2019-07-03 14:56] MalloZup opened #613 "Don't error out if a base-image or other volume exist, but just warn with a print"
## issue:
when a volume exist already we error out

This was introduced by

https://github.com/dmacvicar/terraform-provider-libvirt/commit/96f4032f04b2a625b12d188cae4315887bf9fc66

This check is wrong because if the volume exists, we are error out.

Consider use-case where people do terraform apply more times. In this way, this check doesn't make the terraform apply `idempotent`

## Technical disc

[2019-07-04 10:35] zeenix commented on #126
This seems to be stale. I'm guessing it's not relevant anymore or not affecting enough people? If so, please do close it.

[2019-07-04 10:40] zeenix commented on #170
@himani93 So did you make any progress? While OVS would be great to have, I don't think this issue is that big a deal when/if it happens. You'd have a similar issue if you don't give unique names to your other resources. So unless someone is working on this, I'd suggest we close this.

[2019-07-04 10:45] zeenix commented on #170
Oh and just FYI, this has landed a while ago and vendored by us already.

[2019-07-04 11:31] MalloZup commented on #418
this can be used with xslt. closing

[2019-07-04 11:31] #418 closed

[2019-07-04 13:34] zeenix commented on #356
While that's very much true, the clients should be smart enough to detect that based on socket(s) being closed or is that somehow not possible in your case?

[2019-07-04 13:37] zeenix commented on #356
Having said that, I can see maybe how it's not good enough for some cases so I'd like a PR that adds the suggested API, although i don't think we need a boolean flag, just the timeout one is enough and if it's set to 0, we just destroy the domain immediately. In any case, unless @multani (or someone else) is still interested and motivated to provide a PR for this, I suggest we close this.

[2019-07-04 14:29] zeenix commented on #396
@MalloZup This one seems to be waiting on you to finish your PR. :) BTW, please add some more info to your git commit messages themselves. One doesn't always have internet (think flights) access and details in git history are your only hope then to figure how why some change was introduced. :)

[2019-07-04 14:37] zeenix commented on #437
We recently upgraded to TF v12 so I guess that solves your problem? So I'd close this one.

[2019-07-04 14:56] zeenix commented on #441
I failed to reproduce the issue with this:

[code]

The 2nd run of `terraform apply` says:

[code]

and XML dump of the `bah` network remains exactly the same. @MalloZup So unless I missed something, this can be closed.

[2019-07-04 15:27] MalloZup commented on #437
@zeenix thx! yop closing this

[2019-07-04 15:27] #437 closed

[2019-07-04 15:29] MalloZup commented on #441
closing thx

[2019-07-04 15:29] #441 closed

[2019-07-04 17:34] zeenix commented on #490
While this really is one of the impressive features of libvirt, in practice I've not seen it to be very useful in the end. You can't even migrate a simple VM with one volume from session connection to system on the same host:

[code]

So I'd close it unless there is a real push for this.

[2019-07-04 19:05] #490 closed

[2019-07-04 19:21] MalloZup commented on #170
In theory with `xslt` we can support any feature already. Closing

[2019-07-04 19:21] #170 closed

[2019-07-04 19:21] MalloZup commented on #170
https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/website/docs/r/domain.html.markdown#altering-libvirts-generated-domain-xml-definition

[2019-07-04 19:25] MalloZup commented on #356
I'm ok to close it and focus on  core issues..

[2019-07-04 19:25] MalloZup commented on #605
the only missing step for this is adding the pkg fix to obs

[2019-07-04 19:26] #534 closed

[2019-07-04 21:19] multani commented on #356
They are, but then it's a different case between *a machine is leaving properly* and *a machine disappears suddenly*.
I'm not against working around the 2nd case, but still, it may be something completely unrelated to the machine disappearing: maybe it crashed and will come back in a minute or so, maybe the service inside crashed and broke the socket connection. There are only 2 different cases th

[2019-07-05 09:39] MalloZup commented on #356
I agree with @multani . Imho the boolean flag has it use-case here. @dmacvicar cc.

I'm re-opening. I will have currenlty no time in short-term to do it.

[2019-07-05 10:44] zeenix commented on #356
@MalloZup I'm a bit lost in the details here. Could you please tell me why a separate boolean flag is needed in your opinion?

About keeping the issue open, I strongly suggest not keeping issues open unless it's very important or there is active work going on the issue. In a volunteer-driven project, people get busy and even with their best intentions to work on something, they may never get to do

[2019-07-05 10:46] zeenix commented on #356
Correct but my suggestion was that we don't send the `shutdown` if the timeout is set to 0 (which IMO should be the default).

[2019-07-05 11:12] #539 closed

[2019-07-05 11:12] MalloZup commented on #538
closing due to inactivity feel free to reopen if you tackle this

[2019-07-05 11:12] #538 closed

[2019-07-05 11:13] #126 closed

[2019-07-05 11:14] MalloZup commented on #514
we fixed this with XSLT. I think it is not worth to have it in upstream, It will be worth but not enough time to spend on it .

[2019-07-05 11:14] #514 closed

[2019-07-05 14:49] MalloZup commented on #356
@zeenix  thx. I overlooked, sorry. I like the approach with timeout only.
@multani  CC if you want to send PR with this

[2019-07-09 09:16] MalloZup commented on #500
moving this feature in project plaining. We might need to investigate on it after 0.60 release

[2019-07-09 13:05] MalloZup opened #615 "Use hda instad of Hdd"
Hello, I've hit a problem described by @enool here:

I have a bunch of production VMs created with `terraform-provider-libvirt` version before 0.5.2, after upgrading to 0.5.2 (actually, to `master` with 0.12 support) I've got lots of messages like this

[code]

I haven't found a quick and accurate solution for this, so, as a workaround, I've built my own `terraform-provider-libvirt` version changi

[2019-07-09 13:06] MalloZup commented on #615
this issue need to be investigated

[2019-07-09 13:06] MalloZup commented on #615
@enool cc

[2019-07-09 16:12] zeenix commented on #584
@MalloZup i think we can close this one.

[2019-07-09 16:13] zeenix commented on #586
Based on latest commit, let's close this one too. @MalloZup

[2019-07-09 16:16] zeenix commented on #356
@MalloZup Glad we agree. :) On that note, please close this one. @multani can re-open when they send the PR.

[2019-07-09 16:35] #584 closed

[2019-07-09 16:35] #586 closed

[2019-07-09 16:35] #356 closed

[2019-07-09 18:53] enool commented on #615
I'll take a look

[2019-07-09 20:24] enool commented on #615
It's an incompatibility between 0.5.1 and 0.5.2

To reproduce,

1. Terraform apply on 0.5.1
2. Update plugin to 0.5.2
3. Modify cloud init resource
4. Terraform apply to refresh -> resourceLibvirtDomainUpdate()

Cloud init resource is  recreated (destroy and then create replacement)

`-/+ libvirt_cloudinit_disk.commoninit (new resource required)
      id:                        "/pool/commoninit.i

[2019-07-09 20:29] enool commented on #615
To be clear, if users are upgrading from 0.5.2->0.6.0, this would not be an issue for them.

[2019-07-09 20:45] MalloZup commented on #615
@enool many thx for your info and research. Sounds logic.

IMHO I dunno personally if we should create some upgrade doc/info.. what do you think?

[2019-07-09 21:13] enool commented on #615
A mention in release notes sounds good.

[2019-07-10 07:57] MalloZup commented on #615
done thx

[2019-07-10 07:57] #615 closed

[2019-07-10 07:59] MalloZup commented on #615
https://github.com/dmacvicar/terraform-provider-libvirt/releases

[2019-07-10 13:01] zeenix commented on #443
You need to create a network for this (unless `br0` already existed on your machine). I used this config:

[code]

and was able to create the net, bridge and the domain appropriately:

[code]

Isn't this what you need/want @lifeofguenter ?

[2019-07-10 13:12] zeenix commented on #461
@fkpwolf The PR #552 was closed. I understood that you agreed that you can achieve the results you need with XSLT. So I'd suggest to @MalloZup to close this one but please feel free to reopen if that's not the case.

[2019-07-10 13:46] MalloZup commented on #461
@zeenix  this isn't only a XSLT: https://github.com/dmacvicar/terraform-provider-libvirt/issues/461#issuecomment-438569134

[2019-07-10 14:18] zeenix commented on #461
@MalloZup i saw that comment but PR was created based on that and the [last comment there ](https://github.com/dmacvicar/terraform-provider-libvirt/pull/552#issuecomment-466294793)indicates again that XSLT is probably the way forward.

[2019-07-10 14:54] MalloZup commented on #461
closing.thx  @zeenix !!

[2019-07-10 14:54] #461 closed

[2019-07-10 19:44] jjjbushjjj commented on #551
Could you provide xsl for it please?

[2019-07-11 12:43] thundertaker commented on #615
`VISUAL="sed -i \"s@target dev='hda'@target dev='hdd'@\" " virsh edit domain` doesn't work without the VM reboot, this is not acceptible in our case

[2019-07-24 22:23] muroj opened #616 "Problem creating bridged network using existing bridge"
##  System Information

### Linux distribution

``` Ubuntu 18.04.2 LTS```

### Terraform version

[code]

### Provider and libvirt versions

[code]

___

## Checklist

- [ ] Is your issue/contribution related with enabling some setting/option exposed by libvirt that the plugin does not yet support, or requires changing/extending the provider terraform schema?

  - [ ] Make sure you explain why thi

[2019-07-25 08:34] MalloZup commented on #616
hi @muroj  thx for issue.

the error you are facing, is a `Libvirt` error, not dependent of terraform-libvirt.

`r(Code=38, Domain=0, Message='error creating bridge interface ovsbr0: File exists')`

This might need investigation, on your host. You could try to remove/cleanup and retry.

 You can think of the terraform-libvirt as a way to delegate action to libvirts but if these fails, we aren't re

[2019-07-25 12:31] muroj commented on #616
@MalloZup Thanks for quick response.

I can create the bridged network manually via virsh + xml and it works as expected.

[code]
[code]

Based on the [libvirt_network doc ](https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/website/docs/r/network.markdown) it seems using an existing host bridge is supported:

Here is snippet of debug output from libvirtd from failed call to `terr

[2019-07-31 15:08] james-crowley opened #617 "Docker Examples"
I wanted to ask you, @dmacvicar, if you be interested in a couple docker examples? It might help people who want to try out your plugin and adds a easy of use for users. I also found it helpful when I need to manually build your plugin to test out new features, like the 0.12 release.

Here are some examples below:

**Build plugin for Alpine images:**
[code]

**Build plugin for Debian based images(

[2019-07-31 16:00] james-crowley opened #618 "Adding Z(s390x) binaries to releases page"
I would like to propose that you guys start publishing releases for `s390x`. Whenever I wanted to use your plugin in the past, I would have to compile it myself, which works but its tedious.

I saw that you guys are utilizing Travis for your builds, I am not 100% sure if this is the main method you use for your releases or if you guys utilize something else. Unfortunately, at this time Travis CI d

[2019-07-31 21:07] MalloZup commented on #618
Afaik it should be feasible thx for issue

[2019-07-31 21:14] MalloZup commented on #617
I'm OK to have this unless @dmacvicar thinks the opposite. What I would state in the examples that this aren't maintained by us,  in a long-term perspective we will have no prios to maintain them, so no guarantees that they work. E'g what I see as an issue is something like pkg updating and docker etc it is tricky to maintain.
A part of that, we I would like personally to see also openSUSE in that

[2019-08-01 11:45] chrissound opened #619 "No IP address is assigned with Ubuntu example?"
##  System Information

Not sure if it's related to https://github.com/dmacvicar/terraform-provider-libvirt/issues/312

Full log of `TF_LOG=debug terraform apply` here: https://gist.github.com/chrissound/d30e2a6a7863d53deeacc63a6a588fe5

[code]

---

### Linux distribution

```Nixos 19.03```

### Terraform version

[code]

### Provider and libvirt versions

[code]

## Checklist

## Description of

[2019-08-01 20:19] james-crowley commented on #617
@MalloZup I have no qualms with openSUSE. What do you guys want to see, Leap or Tumbleweed?

As far as adding them to the repo vs having them in my repo, I am flexible. One thing to note, this account is linked to my IBM account, and *if* I ever leave I am not sure what happens to it.

My main goal to adding Docker containers was to make it easier for people to use the plugin/play around with it.

[2019-08-02 10:08] MalloZup commented on #617
@james-crowley thx. Leap I think I better. I get your point about the repo. OK we can add a directory to this repo and stating this clearly that they are community effort. Feel free to send a pr with a directory and doc needed

[2019-08-02 10:10] MalloZup commented on #619
Hi @chrissound thx for issue. At first glance I don't get the issue but I'm checking the issue with mobile so we need to check more ln detail

[2019-08-02 10:15] chrissound commented on #619
Sure thanks. Basically I'm expecting `network_interface.0.addresses.# = 0` to have an IP address listed there instead of `0`.

[2019-08-02 14:24] james-crowley commented on #618
@MalloZup Just in case you want another team's view on adding `s390x` support Dumb-init just went through the process and now are producing builds for `s390x`, https://github.com/Yelp/dumb-init/issues/188.

[2019-08-03 03:05] james-crowley opened #620 "Confusion on pulling specific Version"
##  System Information
### Linux distribution

``` Docker golang:alpine```

### Terraform version

[code]

### Provider and libvirt versions
[code]

## Description of Issue/Question

### Setup

I am working on getting the docker examples, #617,  running but hitting some issues with GO. I am not an expert in GO and it might be a bug in my usage rather then a bug with the provider.

### Steps to Rep

[2019-08-03 08:57] dmacvicar commented on #618
@james-crowley Right now the builds come from https://build.opensuse.org/package/show/systemsmanagement:terraform/terraform-provider-libvirt in the Open Build Service. I would really like to keep it like that, and to avoid publishing builds from two sources.

The Open Build Service has s390x as an option for most of the distro targets we are building against. I am not sure if it would make sense t

[2019-08-03 09:04] dmacvicar commented on #618
I enabled s390x for the project, and the distros that were able to build with the current setup:

* SLE_15
* SLE_15_SP1
* Fedora_28

I would have no problem to keep those enabled and publish them with the next release. @james-crowley , would that work for you?

[2019-08-03 09:14] dmacvicar commented on #617
Hi @james-crowley

I have nothing against the Dockerfiles, but today we are doing the builds in the Open Build Service for all major distros!. It gives the user lot of confidence on how the build is done. For example, builds are done without internet connection. I dislike the idea of building using Docker in random workstations and pulling half of the internet on each build.

I would not be agains

[2019-08-05 15:20] MalloZup commented on #605
https://build.opensuse.org/package/show/systemsmanagement:terraform:unstable/terraform-provider-libvirt

retriggering service file with latest changed ( new version)

[2019-08-07 14:08] james-crowley commented on #620
So, I think I solved the issue. One way I got it to work was to do:

[code]

But I think the above might have some issues with changes in dependencies between git  `version`. For example, If you do a `go get` then checkout `v0.5.2`, there is differences in the go dependencies.

My suggestion would to change the README. Instead of telling people to do `go get github.com/dmacvicar/terraform-provider

[2019-08-07 14:23] james-crowley commented on #617
@dmacvicar We can do what @MalloZup suggested with just putting them on my repo and linking back to it. That way you do not need to worry about issues from users.

I'll make sure to give you guys a heads up if there are changes with my public github account, that way you can fork it if you guys want to keep it around.

Let me clean up some of the examples I been working on and I'll post back here

[2019-08-07 14:30] james-crowley commented on #618
@dmacvicar Thanks for the builds. Could you also build it for Ubuntu? The only other OSs that it wasn't build for was CentOS, Leap and Tumbleweed. CentOS does not have a build for `s390x` but does Leap or Tumbleweed have one? If so, could you also process a build for them too?

As for a statement on IBM using the provider, what did you have in mind? I am using it internally as a tool for deploymen

[2019-08-07 14:50] MalloZup commented on #620
@james-crowley  sorry was busy with other stuff.

we can't do like the `Random Provider` because the terraform-libvirt isn't part of the terraform-providers organisations, so it we can't instructs the user to download like that.

A part of the link,  we have currenlty following

[code]

However feel free to improve the readme. We already covered the 2 cases.

WIth golang  the dependencies are mana

[2019-08-07 14:52] MalloZup commented on #620
if you think that you can improve the Readme on the UX feel free to improve it ! tia

[2019-08-07 15:45] muroj opened #621 "changing disk "file" argument is not reflected on libvirt host"
##  System Information

### Linux distribution

``` Ubuntu 18.04.2 LTS ```

### Terraform version

[code]

### Provider and libvirt versions

[code]
___

## Checklist

- [ ] Is your issue/contribution related with enabling some setting/option exposed by libvirt that the plugin does not yet support, or requires changing/extending the provider terraform schema?

  - [ ] Make sure you explain why thi

[2019-08-07 16:24] muroj opened #622 "guest is not shutdown after changing running to "false""
##  System Information

### Linux distribution

``` Ubuntu 18.04.2 LTS```

### Terraform version

[code]

### Provider and libvirt versions

[code]
___

## Checklist

- [ ] Is your issue/contribution related with enabling some setting/option exposed by libvirt that the plugin does not yet support, or requires changing/extending the provider terraform schema?

  - [ ] Make sure you explain why this

[2019-08-07 16:34] MalloZup commented on #622
@muroj  thx for issue. One question afaik I understand the issue, can you confirm that if you create for the 1st time a domain with `running` = false this work, but if you `update` ( I emphatise this), the update doesn't work?

Just to be sure on this. thx!

Afaik the update mechanism isn't working but the creation should work. thx for confirmation!

[2019-08-07 16:38] MalloZup commented on #621
thx @muroj  for detailed issue. So here similar to the other issue, you can confirm that this happens only if updating the domain?

I believe the `updating` resource mechanism has some gray zone which are not transleted to effective calls. As I remember back in the days, updating resources is somehow tricky in the Libvirt.
Sometimes I know that for example for updating a network , one you need to

[2019-08-07 16:39] MalloZup commented on #620
@james-crowley  I'm assigning yourself to this issue. Feel free to bring it forward ! :round_pushpin:

[2019-08-07 16:43] MalloZup commented on #619
@chrissound  do you have a network iface called `default`? afaik back in the time this worked @zeenix CC  as he updated last time. ( I also remember that I used multiple times that examples without any pb)

Also try after the terraform apply, terraform refresh and terraform show,

The IP behaviour is explained here https://github.com/dmacvicar/terraform-provider-libvirt/blob/19c23424ccfdecf6dfcbdd

[2019-08-07 16:46] chrissound commented on #619
Will have to investigate this again, thanks. But just thought I'd quickly reply and say I did run the `refresh` and `show` commands after the `apply` (it's included in the post - first code snippet).

[2019-08-07 16:47] MalloZup commented on #509
- [ ] https://github.com/dmacvicar/terraform-provider-libvirt/issues/510

[2019-08-07 16:47] #510 closed

[2019-08-07 16:48] #508 closed

[2019-08-07 16:48] MalloZup commented on #508
i have just grouped this small enhancements

[2019-08-07 16:49] MalloZup commented on #494
@juliogonzalez is this somehow impacting you?

[2019-08-07 18:21] muroj commented on #622
Hi @MalloZup, thanks for response. Yes I can confirm that when starting from scratch (empty terraform state) with `running="false"` the domain is created but not started (as expected). Output from `virsh list --all` confirms this. Furthermore, changing `running="true"` and running `terraform apply` again will successfully start the domain. However, changing back to `running="false"` does not affec

[2019-08-07 19:30] beddari commented on #617
My vote would be for a 'contrib' folder, it would be much easier to share maintaining that going forward.

Thanks.

[2019-08-08 08:36] MalloZup commented on #617
I'm ok with the `contrib` folder . As long we have clear documentation I think we can use it.

[2019-08-08 08:39] MalloZup commented on #617
@james-crowley

Leap 15.1 -> registry.opensuse.org/opensuse/leap:15.1
Tumbleweed -> registry.opensuse.org/opensuse/tumbleweed:latest

and the registry public is here
https://registry.opensuse.org/cgi-bin/cooverview

[2019-08-08 08:56] MalloZup commented on #622
@muroj  thx! I don't think the libvirt logs are needed here.

The situation is really well described and we have an HOWTO reproduce.
thx so far

[2019-08-08 09:05] MalloZup commented on #622
I'm providing a short description for people who perhaps want to contribute:

On the highlevel the problem is following:

currently when an user specif `running` = false, this works only when we have the domain creation.

See later the functions.

The main problem is because we don't have a function during the `update` lifecycle of the domain.

https://github.com/dmacvicar/terraform-provider-libvi

[2019-08-08 09:59] zeenix commented on #619
@MalloZup I don't think i touched anything that will affect the networking bits.

[2019-08-08 13:50] MalloZup commented on #619
@chrissound  ok I will retry on my side to check. thx for feedback both of you !

[2019-08-10 08:42] xvzf commented on #569
Just as a quick note: This also happens on Debian 9 & 10!

[2019-08-13 09:53] jichenjc opened #624 "Add system z (s390x) support for coreos ignition"
##  System Information

### Linux distribution
N/A

### Terraform version
N/A (master)

### Provider and libvirt versions
N/A

## Description of Issue/Question
currently the provider of libvirt is using fw_cfg anyway while from coreos perspective, which means in order to create and add ingition files , it uses fw_cfg unconditionally
https://github.com/dmacvicar/terraform-provider-libvirt/blob/mast

[2019-08-13 09:53] jichenjc commented on #624
@bjhuangr FYI

[2019-08-13 11:08] MalloZup commented on #624
@jichenjc  hi thx! can you create a better description and removing/adapting the template? thx

[2019-08-13 13:33] jichenjc commented on #624
@MalloZup ,thanks, I updated with some info I think helpful just now, let me know you need further info ,thanks

[2019-08-14 16:14] cyril-s commented on #569
Is there any update on this?
As far as I understood `libvirt/volume_def.go:66` crashes trying to access `baseVolumeDef.Target.Format.Type` because `Format` is `nil`.
According to [libvirt documentation](https://libvirt.org/formatstorage.html#StorageVolTarget), lvm volumes [does not use format type element.](https://libvirt.org/storage.html#StorageBackendLogical)

This is my example volume the plug

[2019-08-14 17:19] MalloZup commented on #569
ok thx i will put it in the backlog since I see the community need it.

[2019-08-16 15:26] james-crowley commented on #617
@MalloZup Thanks for the links. I am working on the opensuse images right now. I'll make a PR with the `contrib` folder when done.

[2019-08-16 18:43] james-crowley commented on #617
You guys can see some stuff I am working on here, https://github.com/james-crowley/terraform-provider-libvirt/tree/docker_examples. Still need to fix some issues and add more docs.

[2019-08-16 21:10] james-crowley commented on #617
The examples up there now work. I need to document the process and usage, but feel free to test them.

@MalloZup Also, I had to go with tumbleweed as a base image, cause leap seems not to support `s390x`. Hope that is okay, but I think to do a leap version someone would just need to change the `FROM` statement from tumbleweed to leap.

[2019-08-17 09:15] tormath1 opened #626 "flatcar linux: fw_cfg has been updated"
##  System Information

### Linux distribution

[code]

### Terraform version

[code]

### Provider and libvirt versions

[code]
___
## Description of Issue/Question

Hi ! I am using this plugin in order to deploy flatcar linux cluster on libvirt. FYI flatcar linux is a fork of coreOS container linux (https://www.flatcar-linux.org/).

Back in the days, the ignition config file was given to the dom

[2019-08-17 09:42] MalloZup commented on #626
@tormath1  thx. I think it should be not really difficult to convert it to a variable. thx for issue

[2019-08-17 12:09] tormath1 commented on #626
Ok, I am on it. :rocket:

[2019-08-17 23:10] fritchie opened #628 "Request for xslt documentation"
If documentation could be provided for changing the disk cache method to none via xslt it would be appreciated.

Relevant issues:

https://github.com/dmacvicar/terraform-provider-libvirt/issues/485

This would in addition to:

https://github.com/dmacvicar/terraform-provider-libvirt/tree/master/examples/v0.12/xslt

[2019-08-19 04:11] NZSmartie commented on #551
A work around for those stuck with an older version of libvirt may set the environment variable `TF_LIBVIRT_RNG_DEV`
[code]
source: https://github.com/dmacvicar/terraform-provider-libvirt/blob/753afd8a074e74334821006e4b4e321e63214ff7/libvirt/domain_def.go#L86-L90

[2019-08-19 14:04] james-crowley commented on #618
Interesting, I did not know Openshift was using Terraform as part of install. Make sense!

I would think Fedora release should work, unless it pulls in a bunch of newer packages that RHEL doesn't have. But the application is mostly just GO, so I don't think that would be the case.

[2019-08-19 16:05] MalloZup commented on #628
**NOTE** you need to adapt this

`disk_caching.xsl`

[code]

[code]

[2019-08-19 16:07] MalloZup commented on #628
@fritchie  If you want to adapt and create an example, with this I would not be against.

Otherwise feel free to close the issue thx, after it works. The doc i posted you should work, with some adaption but it show you the :walking_man: way

[2019-08-20 00:13] fritchie commented on #628
that works for me, thanks much

[2019-08-20 00:13] #628 closed

[2019-08-20 17:37] james-crowley commented on #617
@MalloZup Feel free to check out the Docker examples over in my repo, https://github.com/james-crowley/terraform-provider-libvirt/tree/docker_examples. It needs some more cleaning up before a PR, but wanted to see if that style was on point for you guys.

[2019-08-25 11:20] ps-git commented on #619
@chrissound @MalloZup

I tried this terraform provider yesterday and had the same issue. After some digging, **the below config works for me in both Ubuntu 16.04 and 18.04**.

**Working network_config.cfg**
version: 2
ethernets:
  ens3:
    dhcp4: true

**Description of changes**
In detail, two changes are required.

1. Drop the initial "network:" in the file
2. Update the syntax to that found in

[2019-08-25 11:20] ps-git commented on #619
Attaching file as indentation was lost in post.

[network_config.cfg.txt](https://github.com/dmacvicar/terraform-provider-libvirt/files/3538066/network_config.cfg.txt)

[2019-08-25 12:01] ps-git commented on #619
@chrissound

Can you please confirm if this fixes the underlying issues with retrieving the ip per your original post.

I didn't try your exact configuration, but the above fixed my issue of not seeing the ens3 interface when logged into the vm.

[2019-08-26 07:56] MalloZup commented on #619
thx for PR. If it fix issue we can merge. :rose:

[2019-08-26 22:57] chrissound commented on #619
Yup that fixes it. Many thanks to all involved!

[2019-08-26 22:57] #619 closed

[2019-08-27 21:18] omerkarabacak opened #633 "Error: Failed to instantiate provider "libvirt" to obtain schema: Incompatible API version with plugin. Plugin version: 4, Client versions: [5]"
##  System Information

### Linux distribution

``` Ubuntu 18.04 ```

### Terraform version

[code]

### Provider and libvirt versions

[code]

If that gives you "was not built correctly", get the Git commit hash from your local provider repository:

[code]
___

## Checklist

- [ ] Is your issue/contribution related with enabling some setting/option exposed by libvirt that the plugin does not yet

[2019-08-28 11:15] #620 closed

[2019-08-28 11:19] MalloZup commented on #633
hi @omerkarabacak. Can you please fill the template in more usefull manner? thx

Just looking at you error it seems to me that you have an outdate `libvirt-provider` that doesn't support  a Terraform v12 version. You should update it.
but is just a guess in the dark, there is not much info in this issue. Marking this is issue as invalid. thx for providing any useful info.

[2019-08-29 09:19] windyboy opened #634 "Failed to instantiate provider "libvirt" to obtain schema: Incompatible API version with plugin. Plugin version: 4, Client versions: [5]"
##  System Information

### Linux distribution

ubuntu 18.04.3

### Terraform version

Terraform v0.12.7
+ provider.libvirt v0.5.2
+ provider.template v2.1.2

### Provider and libvirt versions

./terraform-provider-libvirt_v0.5.2 0.5.2
Compiled against library: libvirt 4.0.0
Using library: libvirt 4.0.0
Running hypervisor: QEMU 2.11.1
Running against daemon: 4.0.0

If that gives you "was not built

[2019-08-29 10:40] MalloZup commented on #634
duplicata https://github.com/dmacvicar/terraform-provider-libvirt/issues/633

[2019-08-29 10:40] #634 closed

[2019-08-29 10:41] MalloZup commented on #634
the `0.5.2` isn't compatible with 12. You need to build from master branch.
We will release an official pkg soonish `0.6.0`  which will be compatible

[2019-08-30 03:19] windyboy commented on #633
I build binary from master, it works !

[2019-08-30 08:16] #633 closed

[2019-09-03 16:39] MalloZup commented on #617
I'm considering this close fix the typo and I will merge it tia!

good work!

[2019-09-03 16:39] #617 closed

[2019-09-03 16:40] MalloZup commented on #626
@tormath1 considering this closed by your pr. Feel free to squash commits

[2019-09-03 16:40] #626 closed

[2019-09-04 07:36] tormath1 opened #637 "CI is failing"
Just to keep a trace of that failure.

##  System Information

### Linux distribution

``` Ubuntu Xenial ```

### Terraform version

[code]
## Description of Issue/Question

### Steps to Reproduce Issue

Run a Travis build:

[code]
___
## Additional information:

Apache seems to mirror its git.apache.org with github.com. We could replace `git.apache.org/thrift.git` to `github.com/apache/thrift` in

[2019-09-04 09:18] #637 closed

[2019-09-04 12:17] pothos commented on #605
Thanks for communicating the roadmap here. Do you think you can do a 5.3.0 release with the current changes that are compatible with Terraform 0.11, before 0.6.0 is released?

[2019-09-04 13:01] MalloZup commented on #605
@pothos for using the TF11 provider the only way is to use this:

https://github.com/dmacvicar/terraform-provider-libvirt/releases/tag/v0.5.2

The current master branch will not be backward compatible with `TF11` but this is also the `terraform` way of doing things, so the current master and next 6.0 will be only `TF12`

hope it helps!

If you use the `master` branch it could be backward compatibl

[2019-09-09 03:06] prologic opened #640 "Error: Error defining libvirt network: virError(Code=3, Domain=19, Message='this function is not supported by the connection driver: virNetworkDefineXML')"
##  System Information

### Linux distribution

```N/A```

I am running macOS  Mojave 10.14.5 along with [Homebrew](https://brew.sh)

[code]

### Terraform version

[code]

### Provider and libvirt versions

[code]

If that gives you "was not built correctly", get the Git commit hash from your local provider repository:

___

## Checklist

- [ ] Is your issue/contribution related with enabling som

[2019-09-09 03:07] prologic commented on #640
According to this (_rather random unrelated find_) [unrelated issue](https://github.com/kubernetes/minikube/issues/4195) it _might_ be that `libvirt` isn't compiled with `--with-virt-network` -- So I'm giving that a go to see if that helps.

[2019-09-09 03:13] prologic commented on #640
Re-installed the provider and added `--with-virt-network` to libvirt and built form source.

[code]

[2019-09-09 04:01] prologic commented on #640
Probably helpful to know that `virsh -V` only reports "Remote Bridging" as a supported networking driver:

[code]

[2019-09-10 02:05] wgkevin666 opened #641 "cant download centos7 plugins"
##  System Information

i cant download this url
wget https://github.com/dmacvicar/terraform-provider-libvirt/releases/download/v0.5.2/terraform-provider-libvirt-0.5.2.CentOS_7.x86_64.tar.gz

### Linux distribution

``` Centos7```

### Terraform version

[code]
v0.12.8
### Provider and libvirt versions

[code]

If that gives you "was not built correctly", get the Git commit hash from your local pr

[2019-09-10 13:10] zeenix opened #642 "RFE: Support dnsmasq options"
Libvirt 5.6 added support for [passing verbatim options](https://libvirt.org/formatnetwork.html#elementsNamespaces) to `dnsmasq`. In Openshift, we'd likely want to use that to create generic DNS records with wildcards. I'm sure there are other uses of this and this is why this new feature was added. I haven't yet figured how this support would/could look like so please share ideas on how you think

[2019-09-10 13:22] zeenix commented on #642
Perhaps something very simple as:

[code]

[2019-09-14 23:26] will-code-for-pizza commented on #565
Hi MalloZup, is this feature meanwhile functional ?  I am askin myself how to reserve static ip addresses in libvirt with terraform. If I try to use the [hosts] option in 0.5.2 it claims "Error: libvirt_network.default: dhcp.0: invalid or unknown key: hosts"

Regards

[2019-09-15 09:55] MalloZup commented on #565
@will-code-for-pizza Nope the feature needed to be finished

[2019-09-16 21:52] will-code-for-pizza commented on #565
Many thank for this quick reply. Ok, I will bee waiting for...  ;-)

[2019-09-17 09:39] zeenix commented on #642
Right. I didn't think of that. Thanks! :) I'll close this now since if we can avoid adding support for workaround-API like this, that would be great. I'll try with XSLT and re-open if that doesn't work for some reason.

Thanks @MalloZup and @jaypoulz for suggestions.

[2019-09-17 09:39] #642 closed

[2019-09-17 09:42] #569 closed

[2019-09-17 09:45] jichenjc commented on #642
@zeenix just for learning reason , so we will try to include the xml file per
https://github.com/dmacvicar/terraform-provider-libvirt/tree/master/examples/v0.12/xslt given so that we can inject dnsmasq configuration through the xml definition? Thanks

[2019-09-17 10:06] zeenix commented on #642
@jichenjc Yes. :)

[2019-09-18 12:48] #624 closed

[2019-09-18 13:18] bjd2385 opened #644 "Missing maintainer dpkg: warning"
##  System Information

### Linux distribution

[code]

### Terraform version

[code]

### Provider and libvirt versions

[code]
___

## Description of Issue/Question

When installing the package, it complains about a `maintainer` field missing (bottom - sorry about all of the unnecessary stuff) -
[code]

### Steps to Reproduce Issue

Follow these package installation steps -

https://software.ope

[2019-09-19 12:04] kkhamruddin-pk opened #645 "Error: Error defining libvirt domain: virError(Code=27, Domain=20, Message='XML error: file '/dev/urandom' is not a supported random source')"
libvirt_volume.ubuntu-qcow2: Still creating... [7m10s elapsed]
libvirt_cloudinit_disk.commoninit: Still creating... [7m10s elapsed]
libvirt_volume.ubuntu-qcow2: Still creating... [7m20s elapsed]
libvirt_cloudinit_disk.commoninit: Still creating... [7m20s elapsed]
libvirt_volume.ubuntu-qcow2: Creation complete after 7m25s [id=/var/lib/libvirt/images/ubuntu-qcow2]
libvirt_cloudinit_disk.commoninit:

[2019-09-19 12:05] kkhamruddin-pk commented on #645
AM USING libvirt 1.3.1 version. How to fix this issue? any idea?

[2019-09-19 19:45] MalloZup commented on #645
@kkhamruddin-pk seems to me a pretty old system.
Can you update you system  and especially libvirt?

[2019-09-19 19:46] MalloZup commented on #645
@kkhamruddin-pk this is issue is duplicata with https://github.com/dmacvicar/terraform-provider-libvirt/issues/551

[2019-09-20 07:59] MalloZup commented on #645
closing as duplicata. @kkhamruddin-pk feel free to write here or on the channel if you need help thx!

[2019-09-20 07:59] #645 closed

[2019-09-22 04:08] tmpm697 opened #647 "Root permissions file under default storage pool"
##  System Information

### Linux distribution

``` archlinux.. ```

### Terraform version

[code]

### Provider and libvirt versions

[code]

___

I'm trying to provision `kvm` via `libvirt` using this plugin under normal user (I don't want to use root).

I have my normal user in group of `/etc/group`: `wheel`, `libvirt` (user in wheel can sudo without password)

I created default storage pool us

[2019-09-22 14:40] MalloZup commented on #647
@tmpm697 you need to setup your user correctly, belonging to `kvm/libvirt` user. Search on the web should be enough doc on this issue.. You don't need root. Hope it helps

[2019-09-22 14:43] tmpm697 commented on #647
@MalloZup : As I mentioned in #1 post, `myser` already in `libvirt` and I've just added it in `kvm` group too, nothing has changed. If you have corrected them, please share your configs.

[2019-09-23 07:48] jichenjc commented on #642
@zeenix do you have any info about this effort? Some PR or some issues in other Repo? I want to catch up with this .. thanks

[2019-09-23 09:47] zeenix commented on #642
If you mean the fix for https://github.com/openshift/installer/issues/1007, then no. I've only been trying out things by manually editting/hardcoding the XML for now. Also let's not discuss Openshift specific issues here. :)

[2019-09-23 11:48] jichenjc commented on #642
sure :) thanks for the reminder ~

[2019-09-23 17:45] MalloZup commented on #647
@tmpm697 https://wiki.archlinux.org/index.php/Libvirt#Configuration. I don't have time to post my configuration. It is really the standard one. Please ask help on the question on the channel. Consider that this issue isn't not a terraform-provider-libvirt issue but on the libvirt itself. So you might just ask in any arch Linux forum or libvirt channels. I'm closing this as invalid

[2019-09-23 17:45] #647 closed

[2019-09-23 17:51] MalloZup commented on #647
https://gitter.im/terraform-provider-libvirt/Lobby

[2019-09-23 17:52] MalloZup commented on #647
This is our channel feel free to ask there otherwise other medium can help 🐧

[2019-09-23 19:26] #613 closed

[2019-09-23 19:53] MalloZup commented on #494
fixed by https://github.com/dmacvicar/terraform-provider-libvirt/pull/648

[2019-09-23 19:53] #494 closed

[2019-09-23 19:53] MalloZup commented on #494
@juliogonzalez  @Bischoff  the only way you can profite for this is to use terraform v12

[2019-09-23 20:23] MalloZup commented on #592
@owaisaamir  we merged this recently/and fixed it. I think this is fixed too. You might try the `master` branch and see if it works for you thx! Closing but feel free to comment/re-open

[2019-09-23 20:23] #592 closed

[2019-09-23 20:23] MalloZup commented on #606
we are ok more or less. closing for moment

[2019-09-23 20:23] #606 closed

[2019-09-23 20:28] will-code-for-pizza opened #649 "cloud-init fails with terraform provider libvirt and Ubuntu 18.04"
##  System Information

### Linux distribution

``` Ubuntu 18.04 amd64 ```

### Terraform version

[code]

### Provider and libvirt versions

[code]
___

## Checklist

- [x] Is your issue/contribution related with enabling some setting/option exposed by libvirt that the plugin does not yet support, or requires changing/extending the provider terraform schema?

No

  - [x] Make sure you explain why

[2019-09-26 18:37] MalloZup commented on #649
It seems to me more a python cloud init issue.  I will need to check

[2019-09-27 07:53] kkhamruddin-pk commented on #551
How to upgrade libvirt v1.3.1 to v1.3.4 in ubuntu 16.04?

[2019-09-27 08:16] MalloZup commented on #551
@kkhamruddin-pk I'm using `openSUSE` Linux. On ubuntu I dunno personally. I might thing you need to upgrade the distro version, but take this as just a suggestion .

[2019-09-27 18:50] moharam-dev commented on #443
I'm trying to do the same thing. However the libvirt_network is creating a new nic interface named after the bridge name (i.e. brt0-nic) which is not connected to anything. May I ask how to specify the Ethernet nic in the following setup (i.e. like eno1, eth0, etc) ?

resource "libvirt_network" "net" {
  name = "brt0"

  mode   = "bridge"
  bridge = "brt0"
}

When I try to use "bridge" field for t

[2019-09-28 09:14] will-code-for-pizza commented on #649
Hi, it seems to be a problem with special chars in the config file. I will post an update, if I have isolated the problem, finally. No need to investigate by your side. Regards.

[2019-09-28 09:26] MalloZup commented on #649
@will-code-for-pizza thx!

[2019-09-29 23:53] FreekingDean opened #651 "CoreOS Ignition not recognized on update"
##  System Information

### Linux distribution

[code]

### Terraform version

[code]

### Provider and libvirt versions

[code]
Git Commit:
[code]
___

## Checklist

- [x] Is it a bug or something that does not work as expected? Please make sure you fill the version information below:

## Description of Issue

After updating an ignition config & running `terraform apply` I notice the changes refl

[2019-09-30 08:06] MalloZup commented on #651
@zeenix cc

[2019-09-30 08:07] MalloZup commented on #651
I think here we just miss the `update` operation on the CRUD of terraform. This might not be trivial to implement or at least need some research.

thx for issue

[2019-09-30 08:15] zeenix commented on #651
What's that all about?

[2019-09-30 09:03] will-code-for-pizza commented on #649
OMG. Someone has edited the config files with Windows "notepad" and this leaves many special chars at the end of the lines. I am very sorry and will close this ticket now.
Cheers.

[2019-09-30 09:03] #649 closed

[2019-09-30 09:18] MalloZup commented on #651
@zeenix  nope that version is a cosmetic thing (https://github.com/dmacvicar/terraform-provider-libvirt/blob/master/main.go#L17).

This come when users use RPM versions or other packages not build from source.  I think the `--version` command might have other room of improvement there but the risk is that we over complicated things..

But for sure we could improve the errror msg
 :grin:

[2019-09-30 09:19] MalloZup opened #652 "Improve error msg of version CLI"
follow-up from https://github.com/dmacvicar/terraform-provider-libvirt/issues/651#issuecomment-536454413

right now we should provide a better error msg or msg when user run version. If we can't detect version we should also say that an RPM is used or something like this

[2019-09-30 13:14] FreekingDean commented on #652
I think if the instructions instead had everyone use the releases as the standard install it might make this issue obsolete?
For reference #605

[2019-09-30 13:25] MalloZup commented on #652
@FreekingDean  I think we should support both methods. I have seen lot of users just building their own plugin from source. This should be ok.

I think the fix for this issue would be just an hint  and correcting like the string.

` either the terraform plugin was not builded correctly from source or packaged version was used` something in this direction. I think this should be fine

[2019-10-01 09:23] Zauberklavier commented on #640
I'm having the exact same issue, some relevant things:

Output of `virsh -V`:
[code]

Output of `ll /Users/stevejobs/.cache/libvirt/`:
[code]

No `virtnetworkd-sock` file.

[2019-10-04 13:55] dmacvicar commented on #651
I don't understand this part. The ignition resource is supposed to help automating the packaging of the resource as a volume, and then passing that to QEMU via firmware config.

What else are you expecting it to do, or what are you not seeing, when you say "not within the VM itself"?

[2019-10-04 15:54] FreekingDean commented on #651
I think this is my misunderstanding of the coreos ignition setup: https://coreos.com/ignition/docs/latest/what-is-ignition.html#when-is-ignition-executed. It seems that changes to the coreos ignition system would never be reflected since it only happens on first boot. I wonder if its wise to add some documentation around this. For example heres how I am solving this:
https://github.com/FreekingDea

[2019-10-04 15:57] FreekingDean commented on #651
FWIW, cloudinit seems like a better alternative as well, so I'll be migrating to that anyway.

[2019-10-05 11:55] MalloZup commented on #605
Done!

[2019-10-05 11:55] #605 closed

[2019-10-05 11:56] MalloZup commented on #605
https://github.com/dmacvicar/terraform-provider-libvirt/releases/tag/v0.6.0

[2019-10-05 22:35] oswee opened #653 "[Question] PXE/iPXE boot and .XZ"
Hi. Thank you for providing this module.
You can close this issue any time as this is just an general questions.

I see, i can provide CoreOS ignition files directly from TF, but is there a way to trigger a iPXE boot?
Basically, i have dedicated "bootstrapping" server (configured via Ansible) with DHCP, TFTP and Matchbox. With vanilla `virt-install` basically all i do is `--pxe` and passing `--mac

[2019-10-07 06:48] dmacvicar commented on #651
Yes. Ignition is comparable to what AutoYaST or Kickstart do. It is not a configuration management system.

What is the advantage of making the _os_ depend on the ignition data explicitly?

If I understand correctly, what you are doing is making the volume to be recreated if _ignition_ data changes, which results in the profile to be reapplied, while in the default case, it is the VM which depends

[2019-10-07 08:05] dmacvicar commented on #618
Yeah, as long as there is no way for building against RHEL on s390x in OBS, I can't help there.

SUSE does provide the openSUSE build service with the ability of building against SLE/390x.

[2019-10-07 11:50] FreekingDean commented on #651
The way coreos ignition decides to run is based on a file in the `coreos/first_boot` directory. After it is run once it will not run again. It is also not an immutable series of functions, so I need a fresh "install" of coreos if I want ignition to successfully run again.

[2019-10-07 13:56] dmacvicar commented on #618
For CentOS right now I don't have even a build for x86_64. For some reason I can't find golang on the CentOS 7 repo, and CentOS 8 AppStream repo does not work with OBS yet.

We have no setup of CentOS s390x in OBS, but it seems that there is no build available at all. If you can link me to such build, I can investigate if OBS can make it available to build on.

Same with Ubuntu. I can't find a pub

[2019-10-07 16:24] james-crowley commented on #618
@dmacvicar CentOS will not have an `s390x` build in OBS. As of right now CentOS does not have a port of their OS on `s390x`. 😞

I am not why Ubuntu does not have a `s390x` build in OBS. I am not too familiar with how OBS works, but are look look at [this](https://build.opensuse.org/project/show/Ubuntu:18.04) Ubuntu 18.04 build?

Another thing I am confused about is you were not able to build `Leap

[2019-10-08 06:11] dmacvicar commented on #651
Makes sense.

Unfortunately, the ignition resource is attached to the VM, as it is the firmware configuration and the volume attachment that needs to be modified. That seems to skip the dependency between the ignition profile and the volume, which you very well do manually with a _depends_on_.

Do you see a better way of fixing this? Otherwise we could just add a note to the documentation.

[2019-10-10 09:13] MalloZup commented on #653
@oswee  HI thx for issue.

So regarding this `xz` from the UX perspective we don't support the format `xz` `tar` and `gz` or `zip` or other compressed image.

Time ago, I have tried to add this kind of feature however isn't that simple for many reasons. ( I don't say it is impossible, it just require some time).

But you can fix this really easy and without any code on the terraform level:

If you

[2019-10-10 21:19] dmacvicar commented on #618
OBS just imports the published tree from the vendor, but I don't see Canonical publishing the tree for _s390x_. Can you point me to it?

Well, it looks like they just don't target it.

For Leap or Tumbleweed, I suspect it is just about focus (not many people have mainframes in their bedroom or developer shops), unlike SLE. For Ubuntu, is the lack of a published tree we can import. I will ask the O

[2019-10-12 00:54] jichenjc opened #656 "[question] do we support remote provider usage?"
##  System Information

### Linux distribution

``` openSUSE 42.2/ Centos7/ Ubuntu.. ```

### Terraform version

[code]

### Provider and libvirt versions

[code]

If that gives you "was not built correctly", get the Git commit hash from your local provider repository:

[code]
___

## Checklist

- [ ] Is your issue/contribution related with enabling some setting/option exposed by libvirt that the

[2019-10-12 08:50] MalloZup commented on #656
yes it is supported and works. I have used many times without overall pb

[2019-10-12 09:06] jichenjc commented on #656
I actually tried this just now ,I confirm it works fine on my x86 env , @MalloZup thanks for your info!

[2019-10-12 09:06] #656 closed

[2019-10-14 07:18] paususe commented on #618
Binaries are under http://ports.ubuntu.com/

More details here:
https://wiki.ubuntu.com/S390X

As for CentOS s390x releases, they do not exist but ClefOS does:
https://www.sinenomine.net/products/linux/clefos
https://github.com/nealef/clefos
https://hub.docker.com/_/clefos

[2019-10-15 23:28] muroj opened #657 "upgrading to 0.6.0 triggers change/replacement of all guests"
##  System Information

### Linux distribution

``` Ubuntu 18.04.3 LTS ```

### Terraform version

[code]

### Provider and libvirt versions

[code]
___

## Checklist

- [x] Is it a bug or something that does not work as expected? Please make sure you fill the version information below:

## Description of Issue/Question

I upgraded to latest version of terraform-libvirt-provider (0.6.0) and when I

[2019-10-16 01:23] bhechinger opened #658 "libvirt_volume with base_volume_id creates file with wrong permissions"
##  System Information

### Linux distribution

``` Ubuntu 19.10 ```

### Terraform version

[code]

### Provider and libvirt versions

[code]
___

## Description of Issue/Question

The base `libvirt_volume` gets created correctly with the right user:group. The volumes that are built from that are getting set to root:root as owner which means the VMs can't actually start because the user attemptin

[2019-10-17 09:51] bjhuangr opened #659 "[s390x] coreos ignition can not work in remote libvirt mode"
##  System Information
Arch: s390x

### Linux distribution
RHEL7

### Terraform version
[code]
also master branch

___

## Checklist

- [ ] Is your issue/contribution related with enabling some setting/option exposed by libvirt that the plugin does not yet support, or requires changing/extending the provider terraform schema?

  - [ ] Make sure you explain why this option is important to you, why

[2019-10-18 10:40] MalloZup commented on #659
@zeenix CC

[2019-10-18 10:41] MalloZup commented on #659
yes make sense. I think I dunno. I'm ok if we accept the fact that this is a limitation or we add the feature for remote. (which can be kind of tricky/effort)

[2019-10-18 10:42] MalloZup commented on #657
@muroj  yes thx for this issue
I have discussed with @moio  on same problematic. I think we should use `ForceNew=False` when we set the default

[2019-10-18 23:44] muroj commented on #657
Thanks for quick response. Let me know if I can be of any help testing.

[2019-10-19 12:22] moio commented on #657
This is expected behavior from Terraform every time we add a new attribute that has both a `Default` value and `ForceNew=True`.

Alternatives at this point are:

 1. Drop the default value, make this attribute optional
 2. Avoid `ForceNew=True`, making code able to edit the domain when the value changes without destroying it
 3. implement proper state versioning and migration, which is not trivial

[2019-10-20 18:11] rgl opened #660 "implement libvirt_domain default_ip_address"
Can you implement libvirt_domain default_ip_address?

As in the [vsphere provider](https://www.terraform.io/docs/providers/vsphere/r/virtual_machine.html#default_ip_address)?

This would simplify:

[code]

Into:

[code]

[2019-10-21 10:51] zeenix commented on #659
@MalloZup I agree. I'd actually like this be fixed and people who are working on S390x will provide PRs to fix this, unless they come up with another solution for this.

[2019-10-23 19:50] james-crowley commented on #618
@paususe Thanks for the information. But where on OBS does it mentioned these builds? I see/know they exist and I can spin them up on my local hardware, but we want them up on OBS so we can start generating/testing more builds.

@dmacvicar Any word from the people at OBS? I tried the IRC and did not get much of response.

[2019-10-24 10:30] bjhuangr commented on #659
https://github.com/dmacvicar/terraform-provider-libvirt/pull/661

[2019-10-31 20:06] muroj opened #662 "Adding a block device to a domain via xslt override causes terraform crash"
##  System Information

### Linux distribution

``` Ubuntu 18.04.3 LTS ```

### Terraform version

[code]

### Provider and libvirt versions

[code]
___

## Checklist

- [ ] Is your issue/contribution related with enabling some setting/option exposed by libvirt that the plugin does not yet support, or requires changing/extending the provider terraform schema?

  - [ ] Make sure you explain why thi

[2019-11-06 08:40] cavejay commented on #641
I've noticed that there are no longer pre-built binaries for Centos 7/8. Is there a known problem with the generation of the Centos binaries or are no no longer generated due to lack of interest?

[2019-11-06 09:29] MalloZup commented on #641
hi @cavejay  normally we have provided this by https://build.opensuse.org/package/show/systemsmanagement:terraform/terraform-provider-libvirt but there is some work to be done for the centos7

[2019-11-06 14:05] zeenix commented on #659
@bjhuangr you might want to close this as well.

[2019-11-06 14:33] #659 closed

[2019-11-06 14:34] MalloZup commented on #659
thx @bjhuangr @zeenix  for all the time invested on this. I wish you a nice day :roller_coaster: :sun_with_face:

[2019-11-06 16:45] bigon opened #663 "mkisofs not available in debian"
Hello,

cloudinit requires `mkisofs` but it is not available in debian anymore

It seems that `genisoimage` is replacing it and looks like the parameters are compatible

[2019-11-06 17:01] MalloZup commented on #663
@bigon  thx for issue. ! we might need some help and research on this how we can consolidate this among all the distros (opensuse/centos/debian/arch) on provider. If you want to drive this, feel free to ping me in any ways , I will glad to help .  (here or in the chat)

It is not an easy topic. We could even consider to have a special switch for debian in case of implementaition, but I would like

[2019-11-06 17:10] bigon commented on #663
FTR https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=680949

[2019-11-08 15:30] pablochacin opened #664 "Injecting iptables rule after libvirt network is created with terraform 0.11"
##  System Information

### Linux distribution

``` openSUSE Leap 15. ```

### Terraform version

v0.11.14

### Provider and libvirt versions

Compiled against library: libvirt 5.1.0
Using library: libvirt 5.7.0
Running hypervisor: QEMU 4.0.0
Running against daemon: 5.7.0

## Description of Issue/Question

I have the following scenario: I'm using terraform for creating multiple VMs with libvirt. V

[2019-11-08 20:05] muroj commented on #662
Crash logs indicate the problem is in `resourceLibvirtDomainRead()`. I've narrowed it down to the [disk loop](https://github.com/dmacvicar/terraform-provider-libvirt/blob/c611c1dce50e8c6a04aa39938147c6c5acb60622/libvirt/resource_libvirt_domain.go#L769). There is no clause for `diskDef.Source.Block` so it falls into the [else clause](https://github.com/dmacvicar/terraform-provider-libvirt/blob/c611

[2019-11-12 09:49] MalloZup commented on #662
@muroj ok nice. For any info/help feel free to ping me

[2019-11-13 21:37] moio commented on #465
How about using https://github.com/kdomanski/iso9660, do you see any immediate downside or roadblock?

[2019-11-14 04:48] jslinuxta opened #665 "Unable to pass disk map to disk in resource domain"
##  System Information
Centos 7.7
### Linux distribution
Centos 7.7
``` openSUSE 42.2/ Centos7/ Ubuntu.. ```

### Terraform version
Terraform v0.12.14
[code]

### Provider and libvirt versions
terraform-provider-libvirt 0.6.0+git.1569597268.1c8597df
Compiled against library: libvirt 4.0.0
Using library: libvirt 4.5.0
Running hypervisor: QEMU 2.12.0
Running against daemon: 4.5.0

[code]

If that gi

[2019-11-14 04:51] jslinuxta commented on #665
diskmap as created by variables
datadisks = [
  "server-0-0",
  "server-0-1",
]
localvars = {
  "server-0" = {
    "cpu" = 2
    "dd" = 2
    "ddsize" = 21474836480
    "diskmap" = [
      {
        "volume_id" = "/data2/images/server-0-0-data.qcow2"
      },
      {
        "volume_id" = "/data2/images/server-0-1-data.qcow2"
      },
    ]
    "index" = 0
    "mem" = 2
    "name" = "server-0"

[2019-11-14 09:19] MalloZup commented on #663
closing in favor of old one. @bigon https://github.com/dmacvicar/terraform-provider-libvirt/issues/465#event-2796911277

[2019-11-14 09:19] #663 closed

[2019-11-14 09:19] MalloZup commented on #663
https://github.com/dmacvicar/terraform-provider-libvirt/issues/465

[2019-11-14 09:20] MalloZup commented on #465
good point. I think i didn't check it but is a good link to look at. thx for re-opining :)